[2015-04-29 16:52] lyzha commented on #171
Quizzes is right but if a operator is not here they wont be able to do it on their own

[2015-04-29 20:55] SaiCoFlu opened #172 "Allies with Invis potion effects - Can't see name & Ally Damage."
Basically when an ally drinks an invisible potion, you cant tell who the person invisible actually is, until you hit them as it displays in chat. Is there a way to make it so if allies are invisible, their nametag will still show up?

Also I've noticed that when you hit an ally, their health is taken off as normal, could you make it so they take reduced damage, so they don't die in 3 hits, as its

[2015-04-29 23:29] Lilmac12312 commented on #172
+1 for this idea. So basically when the ally or faction member drinks an invis potion you can see there name tag but if they're not an ally you cannot see their name tag

[2015-04-29 23:35] Doxify opened #173 "Mobs don't attack you in your own territory"
Make it configurable... of course.

[2015-04-29 23:52] Doxify opened #174 "ownedAreaPainBuild set to false but still hurting players"
![pain](https://cloud.githubusercontent.com/assets/9636316/7403908/20bf623a-ee90-11e4-8409-1e9d01bd4993.gif)

Also I should add that all the other options with "pain" in them are set to false.

[2015-04-29 23:53] MoeXIV commented on #173
I'm only waiting for TemptingMC to comment:
"remove this, never add it. my developersz alredy fixed it!!!!!!!"

But in all honesty, this is a nice idea. c;

[2015-04-29 23:54] Doxify commented on #173
aha that's why I added the "make it configurable... of course" part

[2015-04-29 23:58] MoeXIV commented on #173
Haha!

[2015-04-30 11:04] MoeXIV commented on #172
I personally like the reduced damage part. The tag part will be always be invisible for 1,7 clients as that's how it's programmed. It's basically like favouring those using 1,8 ;(

[2015-04-30 13:47] Quizzes commented on #172
:+1: ProtocolLib could do this, but that would make it a dependency :(

EDIT: Psst.. @nsporillo hates ProtocolLib :hamburger:

[2015-04-30 16:29] drtshock commented on #172
Their name tag will show up no matter what if you are on 1.8+ and are using the name tag feature.

[2015-05-01 07:06] Doxify commented on #174
Bump.

[2015-05-01 07:07] Doxify commented on #173
Bump.

[2015-05-01 07:12] Lilmac12312 commented on #173
:+1: for this idea, would be really nice.

[2015-05-01 07:12] Lilmac12312 commented on #174
Would be nice to have the implemented :)

[2015-05-01 12:23] lyzha opened #175 "Translate Login messages"
When you edit the login/logout messages you can't translate the True Or False tag that would be nice :)

[2015-05-01 13:55] Quizzes commented on #172
@drtshock Most *all* HCFactions servers use 1.7, 1.8 ruins the pvp aspect of the game. I've only seen one 1.8 HCFactions server out of the 100+ Servers out there. It would be nice to have it added anyway, the more the better? :hamburger:

[2015-05-01 19:10] Quizzes opened #176 "{online} and {offline} give error(s) in chat"
Title pretty much sums it up. Build 44 and up cause this. It does not put out a error in MY console, (or atleast i don't see it, haha) here is a picture.

![ofi3al7](https://cloud.githubusercontent.com/assets/9434234/7435732/42526c1e-f014-11e4-9191-161d4b66cdc6.png)

[2015-05-01 19:18] SaiCoFlu opened #177 "/f home doesnt cancel when moving."
I don't use essentials teleport time, so I use the one in HCFactions, although the time is set to 10 seconds, players can run around during this time. Are you able to make it so if they move, the teleport is canceled?

[2015-05-01 22:20] clerkk commented on #176
It works fine for me, weird.

[2015-05-01 23:07] Doxify opened #178 "How can I disable the damage a player takes when they try to use something in someone's claimed territory?"
Title

[2015-05-02 03:33] Lilmac12312 commented on #172
@Quizzes I agree with you as 1.8 pvp is ruined.

[2015-05-02 03:34] Lilmac12312 commented on #178
Isn't there an option within the config.yml? Correct me if I'm wrong.

[2015-05-02 06:29] Doxify commented on #178
It doesn't work :/

[2015-05-03 00:24] MoeXIV commented on #167
@drtshock how did you figure out it was Tempting other then the similar word had topic choice?

[2015-05-03 20:59] KriticalPvP opened #179 "Can't change colour of Allies!"
Hello,

  "colorAlly": "BLUE",

Whats wrong with this?
why is it not working?

also how do I change how chat looks

so instead of test (username)
 Its &6[&(faction)(relationcolor)&6]

?

Thanks!

[2015-05-03 21:07] KriticalPvP commented on #137
Vouch +1

[2015-05-03 21:09] KriticalPvP commented on #173
+1

[2015-05-03 21:14] KriticalPvP commented on #115
@ScarOG How did you fix it?

[2015-05-03 21:17] KriticalPvP commented on #89
How do you even make Perm Factions? @nsporillo

[2015-05-03 21:21] KriticalPvP commented on #50
@Quizzes what is your skype? I am also looking to get this done! :P

[2015-05-04 01:55] Doxify commented on #174
Bump

[2015-05-04 02:59] Lilmac12312 commented on #179
If you're wanting the blue which is &9 it's called "DARK_BLUE"

[2015-05-04 08:41] KriticalPvP commented on #179
No, &9 is "BLUE"

[2015-05-04 08:41] KriticalPvP commented on #179
But I got it fixed, thank anyways @Lilmac12312 :D

[2015-05-04 08:42] KriticalPvP commented on #174
Vouch +1

[2015-05-04 08:44] KriticalPvP opened #180 "Chat Formatting?"
Hello I am running EssentialsChat, because ChatEX doesn't work with this plugin : p

How do I format my chat like Kohi's?

So &6[[faction{relationcolor}]&6]

The prefix?

Thank You!

[2015-05-04 08:44] #179 closed

[2015-05-04 08:47] KriticalPvP opened #181 "I have made a permanent faction. but I can only claim 36 land?"
Hello, I have made a perm faction for my KoTH plugin however, I cannot claim more than 36 land.
I don't want normal factions to be able to claim more than 36, I know I can edit this in the config, and I believe it's default 36.
However my permanent faction needs more than 36 claims?

is there a command or do I have to change the value, and then change it back?

Thank You!

[2015-05-04 09:13] Lilmac12312 commented on #180
You do so within Essentials configuration file under "Essentials Chat". It's quite basic and straight forward.

[2015-05-04 09:14] Lilmac12312 commented on #181
You might be able to bypass the limit by doing /f admin but not sure if that would work.

[2015-05-04 09:32] KriticalPvP commented on #181
/f admin is the command to leader someone?

[2015-05-04 09:33] KriticalPvP commented on #180
I am aware of that, but I don't know what to put? what are the strings?

[2015-05-04 09:34] KriticalPvP commented on #180
Limit reached.You can't claim more land!

[2015-05-04 09:35] KriticalPvP opened #182 "/f admin BUG?"
Problem:

I am leader of a faction. and if I /f admin ( myself ) it disbands the faction? : p

[2015-05-04 09:41] KriticalPvP opened #183 "Color Error?"
Everytime I relog it sets my faction color on Tablist to red?

http://prntscr.com/71cqbz

I am the only one on and I am in the faction test

[2015-05-04 09:43] KriticalPvP commented on #183
Nevermind, client side error!

[2015-05-04 09:43] #183 closed

[2015-05-04 10:47] RealRemedy opened #184 "f stuck error"
http://prntscr.com/71d6ej

[2015-05-04 12:31] nsporillo commented on #174
Try setting

    ownedAreaDenyBuild: false

[2015-05-04 12:32] nsporillo commented on #184
Post the stacktrace from console in a [gist](https://gist.github.com/) and edit the issue and post it in there.

[2015-05-04 12:34] nsporillo commented on #181
./f admin does not bypass the limit. This is similar to https://github.com/drtshock/HCFProblems/issues/171

[2015-05-04 15:01] clerkk commented on #182
Try & keep all your problems into one, posting loads of small problems in separate issues clogs up the open issues.

[2015-05-04 15:22] KriticalPvP commented on #181
I fixed this, I set the max land to what I needed and then set it back,

[2015-05-04 15:22] #181 closed

[2015-05-04 15:23] KriticalPvP commented on #180
@drtshock ?

[2015-05-04 15:38] KriticalPvP opened #185 "HCF Chat / Essentials Chat Fix Needed Urgently!"
Hello,

I am unaware on how to set a prefix for the faction name?

so put it in brackets.

so it looks should like this http://prntscr.com/71g034

I think I'm just overlooking something?
but I have the thing set right?

Here is what I have: from conf.yml

  "factionOnlyChat": false,
  "chatTagEnabled": true,
  "chatTagRelationColored": true,
  "chatTagReplaceString": "[FACTION]",
  "chatTagFaction

[2015-05-04 15:38] KriticalPvP commented on #185
@drtshock @nsporillo

[2015-05-04 17:44] drtshock commented on #89
Please read documentation and stop bumping issues.

[2015-05-04 17:44] drtshock commented on #50
STOP BUMPING ISSUES FFS

[2015-05-04 17:45] drtshock commented on #182
No, keeping separate issues in separate tickets is the point of having a tracker vs a support forum.

As far as your issue, the functionality is supposed to be nothing happening.

[2015-05-04 17:45] #180 closed

[2015-05-04 17:45] drtshock commented on #180
Add more power. This is an issue tracker, not a dumb question tracker :(

[2015-05-04 17:46] drtshock commented on #185
DO NOT FUCKING TAG US OR BUMP YOUR ISSUE. WE SEE ALL ISSUES POSTED AND ALREADY GET NOTIFICATIONS.

[2015-05-04 17:47] drtshock commented on #185
As far as your issue, you already asked this on another ticket and you have some weird values that you changed here. Reset your conf.json to default and it should work by just throwing ess chat on there with the chat tag in its config.

[2015-05-04 17:47] #185 closed

[2015-05-04 18:07] KriticalPvP opened #186 "/f who Internal Error."
Hello, after doing what drtshock instructed on fixing faction prefixes.

everytime I type /f who i get this message:

http://prntscr.com/71huza

Also it didn't fix the chat. it completely broke it. if someone has any idea on how to fix it ( like kohi's ) that would be amazing! Thank you.

Sorry for the truckload of threads. just got a new plugin & got to play with it!

Chat now looks like: http://

[2015-05-04 18:16] drtshock commented on #186
What is the error?

[2015-05-04 18:24] KriticalPvP commented on #186
http://pastebin.com/ddQLg2CT

[2015-05-04 18:25] drtshock commented on #186
Do you have a permissions plugin?

[2015-05-04 18:28] KriticalPvP commented on #186
pEX & ChatEx

[2015-05-04 18:54] KriticalPvP commented on #186
- Update -

Fixed Chat & Error I just need the internal error problem fixed. : D

I uninstalled ChatEx & replaced it with EssentialsChat.

Being Truthfully honest I don't know how I fixed the error. I wasn't in a group since I had recently reset my pEX Users. so that may have been why. Thank You Very much!

- Michael

[2015-05-04 18:54] #186 closed

[2015-05-04 19:26] NeThEr117 opened #187 "tps lagg in my server"
the plugin is causing lag on my server. I pass photos and timings to see :)
http://i.gyazo.com/92907e99391fd5ef023b8d50a8711733.png
(150 players online)
timings : http://timings.aikar.co/?url=10986049

[2015-05-04 19:30] drtshock commented on #187
lol? no it's not.

[2015-05-04 19:30] #187 closed

[2015-05-05 00:02] ScarOG opened #188 "Where is the download?"
I have had this plugin for about a month, I checked ci.drtshock.net for the plugin, I have seen nothing there retaining the plugin, and went to ci.drtshock.net/job/HCFactions/ as well nothing worked maybe I lost access or there is a whole new download system?

[2015-05-05 00:02] ScarOG commented on #188
Problem accessing /job/HCFactions/. Reason:

    Not Found

[2015-05-05 00:35] Lilmac12312 commented on #188
This is because you're either not added to the Jenkins

[2015-05-05 06:08] drtshock commented on #188
What's your username on my CI? When I rebooted that VPS, all usernames got reset to lowercase so I'll just have to adjust yours in the permissions.

[2015-05-05 06:08] #188 closed

[2015-05-05 17:53] Quizzes commented on #176
Seems to have fixed it, apparently you HAVE to have a permissons plugin for it to work, because of the tooltips showing what rank the player is. Closed.

[2015-05-05 17:53] #176 closed

[2015-05-05 17:56] KriticalPvP opened #189 "Leaving / Entering messages?"
Hello!

How do I change this: http://prntscr.com/71ukh9

To This!: http://prntscr.com/71unho And how can I add the text &e(&cDeathban&e) after the name of the fac? What would I change it to?

[2015-05-05 18:03] KriticalPvP commented on #189
- Update!

- Fixed Msg

Can't make it two lines?

Here's what I got. http://prntscr.com/71vpmr

I have gathered that it's not \n but what do I use instead?

[2015-05-05 18:04] nsporillo commented on #189
It is a single line message sent. A newline won't change that.

[2015-05-05 18:05] KriticalPvP commented on #189
How do I make it two lines?

[2015-05-05 18:08] nsporillo commented on #189
You don't, it's a single line message that is sent to a player.

[2015-05-05 18:09] KriticalPvP commented on #189
http://prntscr.com/71ukh9 Uses your plugin? : p

[2015-05-05 18:09] KriticalPvP commented on #189
Well I know they use it : p

[2015-05-05 18:10] nsporillo commented on #189
You're showing me a screenshot of someone leaving wilderness, and then entering wilderness.
Of course there will be 2 separate line messages being sent..

[2015-05-05 18:11] KriticalPvP commented on #189
I think I sent you the wrong screenshot. http://prntscr.com/71unho  is the right one?

[2015-05-05 18:53] MoeXIV commented on #189
PurePVP, ParaPVP and HCTeams all use that sort of entering and leaving message. They also all have custom faction plugins

[2015-05-05 18:56] KriticalPvP commented on #189
Yes, and the screenshot I provied was not from any of those servers, but from a server I Know uses This Plugin : p

[2015-05-05 19:20] drtshock commented on #189
Please create more clear and concise tickets. If you are requesting a feature, lay out EXACTLY what you are looking for instead of us having to say "what" 20 times to get you to say anything useful.

[2015-05-05 19:20] #189 closed

[2015-05-05 20:35] KriticalPvP opened #190 "New thread fully explaining feature I would like added"
Pretty much. I would like to be able to do this: http://prntscr.com/71unho

So instead of a leaving and entering msg.
I would like a
Leaving:
Entering:

so right now there is only

faction-leave:

I am requesting that you add

faction-enter:

so we can have two lined msg's

like this one: http://prntscr.com/71unho

Instead of this http://prntscr.com/71ukh9

so chat will send this:

Entering: facti

[2015-05-06 04:40] Doxify commented on #190
you can easily just do this with worldguard farewell and entering flags............

[2015-05-06 14:41] KriticalPvP commented on #190
I mean while entering Faction Territory?

[2015-05-06 15:41] MoeXIV commented on #190
What server is the one you "swear" is using this plugin with that requested feature?

[2015-05-06 15:49] Quizzes commented on #190
This can already be done using \n in you're message. If you didn't know \n creates a new line. (This works in most plugins and stuff, but it might not work here. But i'm pretty sure it will!)

[2015-05-06 16:16] KriticalPvP commented on #190
It doesn't work.

[2015-05-06 16:39] KriticalPvP commented on #190
@Quizzes I tried that first : p

[2015-05-06 17:41] #159 closed

[2015-05-06 17:53] Quizzes commented on #190
Maybe spam you're space bar until it makes a new line in chat, thats what i did.. But it requires lots of trial and error. I don't think this should be added. Most  people like the current one (Unless it was configurable such as <code>two-line-message</code> or something like that..)

[2015-05-06 18:08] #158 closed

[2015-05-06 18:17] nsporillo commented on #190
@Quizzes @KriticalPvP Looks like a \n does not work unless it is specifically accounted for in the code base, which I believe is not. [bukkit thread](https://bukkit.org/threads/new-line-line-break-in-messages-or-chat.47939/)

I believe a single line is sufficient, and adding complexity for two line messages is a bit too much of an ad hoc request for this branch.

[2015-05-06 18:32] nsporillo commented on #175
Screenshot please?

Need some context

[2015-05-06 20:29] KriticalPvP commented on #190
@Quizzes what HCF do you run? : D

[2015-05-06 20:30] KriticalPvP commented on #190
Thank You @nsporillo!

[2015-05-06 20:30] #190 closed

[2015-05-06 20:41] MoeXIV commented on #190
You never answered my question,
"What server so you swear has this feature and is using this plugin to do so?"

[2015-05-06 22:49] Doxify commented on #174
Nope, doesn't work.

[2015-05-06 22:51] Doxify commented on #174
Ah, I see, that option only makes it so when you mine blocks in someone's land it doesn't hurt you.

It still hurts me if I try to open a door.

[2015-05-07 14:28] lyzha commented on #175
http://prntscr.com/72k918

[2015-05-07 14:30] nsporillo commented on #175
.. what is it in english so I can find what TL isn't being translated?

[2015-05-07 20:19] KriticalPvP commented on #190
@MoeXIV Sorry, Hcfpvp.net TemptingMC owns it. I know him a mile away. whatever username he uses. : p he is the one with the short temper LOL :)

[2015-05-07 23:01] NeThEr117 opened #191 "tps lag problems?"
hello I posted earlier here and I haven't managed to solve this problem. wanted to see if any of you who are here in this forum knows how this problem solution :).
I leave you pictures of my timings and photos of my tps maybe some of you will also step. and you can help me :D
I have a dedicated server only 32GB of RAM for the factions. and still fall tps :/ on 200 players online

TIMINGS: http://t

[2015-05-07 23:05] nsporillo commented on #191
![screen shot 2015-05-07 at 7 03 08 pm](https://cloud.githubusercontent.com/assets/1480197/7527655/cb47103e-f4eb-11e4-8038-0d1fac5cc9a6.png)

Looks like only %2. I'm 90% sure it says "Factions - tickEntities" because your world is named "Factions".

[2015-05-07 23:08] NeThEr117 commented on #191
there any way to fix it? if they could help me I would appreciate it :D

[2015-05-07 23:17] nsporillo commented on #191
Do something with the entities in your main world, i guess.

Aside from that, theres not much I can help with. This issue is not with HCF, but something else, so it'll be closed.

[2015-05-07 23:17] #191 closed

[2015-05-08 03:08] nsporillo commented on #184
@RealRemedy can you provide some information, otherwise I cannot help and will set this issue to closed...

[2015-05-08 03:10] nsporillo commented on #178
territoryEnemyPainBuild: false

and players still get damaged when they use something?

Perhaps it is:

    ownedAreaPainBuild: false

if neither solve the issue, i'll look into the source code and figure out exactly.

[2015-05-08 03:11] nsporillo commented on #173
This can be done, thinking to just cancel the entity target event on a player if that player is in their own faction and it is configured.

[2015-05-08 03:13] nsporillo commented on #178
@Doxify try the above but this is a duplicate of https://github.com/drtshock/HCFProblems/issues/174 so gonna close this one.

[2015-05-08 03:13] #178 closed

[2015-05-08 03:13] nsporillo commented on #174
@Doxify

Try

    territoryEnemyPainBuild: false

[2015-05-08 03:15] #162 closed

[2015-05-08 03:16] nsporillo commented on #162
Okay, this was added.
When you update to a new build, update the list.header value in config
The default is:

    header: &e&m----------&r&e[ &2Faction List &9{pagenumber}&e/&9{pagecount} &e]&m----------

but if you leave it how it is, then you'll have an unformatted /f list header when you update :grin:

[2015-05-08 06:39] Doxify commented on #174
That was already set to false, in my original post I already stated that I had all "pain" options set to false.

[2015-05-08 11:01] MoeXIV commented on #190
You're right. He does use this plugin and he does so that. I wonder how :/

[2015-05-08 11:14] MoeXIV commented on #191
Maybe install "ClearLagg".

[2015-05-08 12:50] lyzha commented on #175
There you go :) http://prntscr.com/72wel0

[2015-05-08 17:01] youngpvprock opened #192 "Lang.yml variable"
I would like to know if you can replace the variable You for the name of the player, so for example if i translate to spanish "You give the leadership of the faction ...blabla" , in spanish it appear like "You le has dado el lider de la faction.." So here it's a problem for translate it, i think it would be better if just appear the name of the player for servers in other lang.

[2015-05-08 17:17] Quizzes commented on #192
Could you please try to explain this better? I fail to see what you want.. There are pre-defined language files for download somewere i'm pretty sure. ᕙ༼ ◉_◉༽ᕗ

[2015-05-08 17:36] Lotteries commented on #160
ᕙ༼ ◉_◉༽ᕗ :+1:

[2015-05-08 19:01] youngpvprock commented on #192
So i can't translate the variable "You" and if a message that uses this it's in other lang, then the phrase is so strange.

Another question that i have while i was trying to config, the nametags and the tab show the relationship with other factions and also the fac name, it's possible to remove the faction and just let the colour relation?

[2015-05-08 20:35] KriticalPvP commented on #190
@MoeXIV I'm guessing he uses spaces? just like the other person

[2015-05-08 20:36] KriticalPvP commented on #190
@MoeXIV You run pot-up.com right?

[2015-05-08 20:37] KriticalPvP commented on #191
@MoeXIV @NeThEr117 ChunkEntityLimiter works well too. Kohi uses it : D

[2015-05-08 20:47] KriticalPvP commented on #190
@MoeXIV Fixed it! http://prntscr.com/731zod 43 spaces & a ton of trial & error I got it!

[2015-05-08 22:32] lyzha opened #193 "Prevent certain chunks for being claimed"
All in the title i guess ;)

[2015-05-08 22:32] lyzha commented on #160
:+1:

[2015-05-08 22:33] Doxify commented on #193
claim them as warzone or safezone

[2015-05-08 22:36] lyzha commented on #192
Yes, I see he wanted to replace you with the player username which is a good idea I guess because I get trouble translating these kind sentences too... So either make the username show instead of the "you" or make two different messages and both can be custom

[2015-05-08 22:37] MoeXIV commented on #193
lol, exactly xddd

[2015-05-08 22:37] lyzha commented on #193
nah warzone or safezone prevent also blocks from being destroyed only want non claimable...

[2015-05-08 22:39] lyzha commented on #174
:+1:

[2015-05-08 22:43] Doxify commented on #193
You can allow users to break blocks in warzones.

[2015-05-08 23:34] MoeXIV commented on #137
Any ETA? I know it's going to take some time, and I understand. Just curious! c;

[2015-05-08 23:36] Doxify commented on #174
Can we please get a fix for this nick? It's really important to HCF as players should not be able to use the saferooms of others and to do that I would need to disable the use of pressure plates in claimed land, however when you do that if a player steps on them for one second they instantly die due to the harm feature.

[2015-05-08 23:37] drtshock commented on #193
huh

[2015-05-09 00:03] nsporillo commented on #174
Set

    actionDeniedPainAmount: 0

for now, will look into a fix though.

[2015-05-09 02:47] Doxify commented on #174
![](http://hydrapvp.com/ahh.gif)

I've already tried that, nothing works :/

[2015-05-09 13:14] KriticalPvP opened #194 "/f who Internal Error."
http://prntscr.com/739h48 Getting this again? typing /f who

[2015-05-09 13:15] KriticalPvP commented on #194
Fixed this, by disbanding the faction?

[2015-05-09 13:15] #194 closed

[2015-05-09 13:28] SweetHomeHCF opened #195 "Removed From CI?"
Removed from CI?
Jenkins Name: xSander_

[2015-05-09 14:49] bigbubba69 opened #196 "HCF /f show problem"
I am getting an internal error while doing /f show
http://prntscr.com/73adua

[2015-05-09 15:08] KriticalPvP commented on #196
@bigbubba69 I have been getting this error too, However I fixed it. /f disband. & /f create (name) You need to re-create the faction. Hope this helped!

[2015-05-09 16:37] KriticalPvP opened #197 "Could you add more variables for /f show?"
add more variables for this: http://prntscr.com/73biwc

like Previous names?

or

prefix?

I think they are called tooltips?

Thanks! :)

[2015-05-09 17:52] KriticalPvP commented on #37
Vouch +1

[2015-05-09 19:37] clerkk commented on #195
Probably because you leaked the plugin on LeakForums.

[2015-05-09 19:40] Lotteries commented on #195
@clerkk Can confirm, found the link. And it was shortly removed after.. @drtshock @nsporillo Keep a eye on LeakFourms.org ;)

[2015-05-09 19:41] SaiCoFlu opened #198 "Constant error in Console - Latest Build."
Okay, so me & my developer have a plugin which hooks into Factions, but this error always seem to persist and we don't have any idea what is causing this, and I imagine you guys would.

Here is the error I'm receiving. It happens every time I or a player hits each other.
https://gist.github.com/SaiCoFlu/2cb407bf5a8575399044

My Developer doesn't know if he'd be allowed on here as he wasn't the one

[2015-05-09 20:26] drtshock commented on #196
What's the error? And what's your username on the CI so I can confirm you purchased this?

[2015-05-09 20:28] drtshock commented on #198
Use a gist please.

[2015-05-09 20:29] drtshock commented on #197
How would we get the prefix and previous names? We aren't storing any of that ._.

[2015-05-09 20:36] SaiCoFlu commented on #198
@drtshock Updated with the gist.

[2015-05-09 20:54] SweetHomeHCF commented on #195
That is another HCF Plugin but not this HCF Plugin I didnt leak this one
can i get it back?

[2015-05-09 20:56] Doxify commented on #195
lol

[2015-05-09 20:57] SweetHomeHCF commented on #195
Hi @Doxify

[2015-05-09 21:00] SweetHomeHCF commented on #195
I closed The LeakForums Thread

[2015-05-09 21:01] Doxify commented on #195
I don't think it matters if you closed it or not.. should have never leaked it man.

[2015-05-09 21:03] SweetHomeHCF commented on #195
its not this plugin so it doesnt matter

[2015-05-09 21:05] SweetHomeHCF commented on #195
Im starting up a plugin thats the reason why i buyed this plugin so @drtshock can give my money back :D

[2015-05-09 21:55] Lilmac12312 commented on #37
:+1:

[2015-05-09 21:56] Lilmac12312 commented on #196
Instead of disbanding the faction and re-creating it why don't you check the console for any logs and post them in a file so the developers can find the issue?

[2015-05-09 21:58] Lilmac12312 commented on #197
I don't think this is needed in the plugin.

[2015-05-09 22:01] Lilmac12312 commented on #195
There is no refunds bucko. Good luck with getting your well spent $30 which you then made fly away due to leaking the plugin, or at least trying to leak it lmao. 10/1 would leak again.

[2015-05-09 22:47] Lilmac12312 opened #199 "f stuck bug/glitch"
When doing /f stuck you can use it to glitch into bases.

people go up against walls and type /f stuc & at some locations it tps them into the base instead of ontop

[2015-05-09 23:23] MindServers opened #200 "Change Faction Header"
I would like a way to change the faction header. What I mean is that for example if you do /f show, it shows up as like:

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ .[faction]. _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

However this is a really long header with all the underscores and it wraps onto 2 lines which looks like this:

--->      _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ .[faction].

[2015-05-10 00:38] SaiCoFlu commented on #200
This is in the config I'm pretty sure.

[2015-05-10 00:43] youngpvprock opened #201 "Leaving wilderness"
There are messages from:
Leaving safezone, Entering Warzone
Leaving Warzone Entering Wilderness
Leaving <faction> entering Wilderness
but the message from Leaving Wildernes Entering <Faction> does not exist, can add it please?

[2015-05-10 00:45] nsporillo commented on #200
Don't use the {header} variable if you do not like the default functionality of the "titleized" header.

It is found in the config.yml.

[2015-05-10 00:45] #200 closed

[2015-05-10 00:46] nsporillo commented on #199
f stuck is certainly not perfect, thinking a good fix would be to search for the nearest, safest location inside the wilderness?

[2015-05-10 00:46] nsporillo commented on #201
what?

[2015-05-10 00:50] MindServers commented on #200
But for like /f map for example I can't change the header for that. And where is it in the config?

[2015-05-10 00:55] nsporillo commented on #200
![c](http://puu.sh/hHEBu/2e71f29e53.png)

and right, you can't change the header for other commands just yet.. havent found a good way to make that configurable. It's not configurable in any other factions version, but probably should be

[2015-05-10 02:08] drtshock commented on #195
ass

[2015-05-10 02:08] #195 closed

[2015-05-10 02:08] drtshock commented on #37
Notice "on hold". Please stop bumping tickets.

[2015-05-10 02:09] drtshock commented on #198
Don't use /reload or plugman.

[2015-05-10 05:10] Lilmac12312 commented on #199
I think that would be a good idea or maybe check the blocks around the player and if most consists of air then cancel the f stuck?

[2015-05-10 10:34] KriticalPvP commented on #196
@Lilmac12312 I'm not saying do that for a permanent fix, but for short term.

[2015-05-10 10:35] KriticalPvP commented on #199
@Lilmac12312 +1

[2015-05-10 10:35] #197 closed

[2015-05-10 12:02] AlfieC commented on #201
He's saying that lang.yml does not allow for the customisation of the 'leaving wilderness' message.

[2015-05-10 15:40] youngpvprock commented on #201
Leaving wilderness Entering <Faction> doesn't exist.. Just exist Leaving <Faction> Entering Wilderness

[2015-05-10 20:37] Odie680 opened #202 "Issue - Combat Log"
I use the plugin CombatTagPlus (http://www.spigotmc.org/resources/combattagplus.4775/), and when I combat log, it spams console with errors related to /f stuck.

http://pastebin.com/XjbGDZgN

The error happens when I punch the NPC. Also, another issue is that when you combat log and die, you don't lose DTR, which is a major problem, because people would just combat log, when they know they will di

[2015-05-11 01:20] nsporillo commented on #202
Do factions lose `power` when someone combat logs, in factions uuid?

[2015-05-11 01:23] #202 closed

[2015-05-11 01:25] nsporillo commented on #201
@youngpvprock what is your username on the Jenkins so I can confirm you've purchased the plugin?

[2015-05-11 01:33] nsporillo commented on #199
there's a ton of different ways to do this, think going to run a spiraltask to find the nearest chunk of wilderness within `radius`. For now maybe just take away perms to use the command if it's bothersome.

[2015-05-11 01:33] #198 closed

[2015-05-11 01:42] nsporillo commented on #174
snippet:

        boolean deny = rel.confDenyBuild(online);

        // hurt the player for building/destroying in other territory?
        if (pain) {
            player.damage(Conf.actionDeniedPainAmount);
            if (!deny) {
                me.msg(TL.PLAYER_PAIN_CLAIM, action, otherFaction.getTag(myFaction));
            }
        }

if it is set to 0, no damage will be made... does not ma

[2015-05-11 04:16] Doxify commented on #174
My dev told me how to fix it, there's another setting you need to disable.

![exmtprk](https://cloud.githubusercontent.com/assets/9636316/7558465/ccb1d5ce-f759-11e4-937a-a3a156830900.png)

[2015-05-11 11:10] MoeXIV commented on #202
CTP already works for HCFactions as a development build. Don't make pointless tickets.

[2015-05-11 12:07] Odie680 commented on #202
@MoeXIV And why are you assuming that I'm not?

[2015-05-11 12:09] Odie680 commented on #202
@nsporillonsporillo
Unfortunately, I do not own FactionsUUID. I'll go ahead buy it, and try it out when I'm home.

[2015-05-11 12:33] youngpvprock commented on #201
@nsporillo ->Cazmon

[2015-05-11 12:51] MoeXIV commented on #202
No need to buy it. I've tried it already and it does in fact make you lose power.
Go to Minelinks CI and doekad the development builds. Most I've you're errors will be fixed.

[2015-05-11 13:40] Odie680 commented on #202
@MoeXIV I was not talking about CTP. I ALREADY have the latest dev version...

[2015-05-11 13:58] nsporillo commented on #201
@youngpvprock thank you.

You're looking for the TL in lang.yml:

    faction-leave: <a>Leaving %1$s, <a>Entering %2$s

on line 669.

[2015-05-11 13:59] nsporillo commented on #177
@SaiCoFlu what is your username on the jenkins?

[2015-05-11 14:19] youngpvprock commented on #201
@nsporillo I'll rec a video, i think you aren't understand what i'm trying to say, i can't explain better because english isn't my main lang

[2015-05-11 16:21] youngpvprock commented on #201
@nsporillo  Check video, you will see in last part of video, never Appear the message when entering a faction claim, just leaving
https://www.youtube.com/watch?edit=vd&v=vsxAg_l31ZU

[2015-05-11 16:56] SaiCoFlu commented on #177
@nsporillo My username is "Flu".

[2015-05-11 19:37] oSaphyre opened #203 "/f who / show problem."
When the users do f who or f show, this message is displayed: http://prntscr.com/74478p

After the message, if i do pex user <player> group set user, they can do f show, i dont know  why it is happens to me.

[2015-05-11 19:45] drtshock commented on #203
What permissions does the user have when this happens? Sounds like you didn't give them any permissions.

[2015-05-11 19:45] #203 closed

[2015-05-11 19:47] oSaphyre commented on #203
this plugint doesnt need any permissions, right?

groups:
  User:
    default: true
    permissions:
    - ob.receive
    - ob.broadcast
    - essentials.kits.fishing
    - essentials.msg
    - essentials.signs.use.kit
    build: true
    prefix: '&a'
  Admin:
    prefix: '&c&o'
    permissions:
    - '*'
  owner:
    prefix: '&d&o'
    permissions:
    - '*'
  mod:
    prefix: '&3[Mod] &9'
    pe

[2015-05-11 21:33] oSaphyre opened #204 "[Faction] [PlayerGroup] >> [Message] HELP"
How can i do that: http://prntscr.com/745wg6 - i want [] after the faction name.

I have this: http://prntscr.com/745w0t

[2015-05-11 21:49] drtshock commented on #204
Put more brackets around it.

[2015-05-11 21:49] #204 closed

[2015-05-11 22:34] MoeXIV opened #205 "Variable Issue"
Simple variable issue with the {x} {y} and {z}.

This is what I have in the configuration: http://pastebin.com/tLwjyx1F
This is the output, using /f show: http://prntscr.com/746lei

No console errors.

[2015-05-11 22:37] nsporillo commented on #201
![uhm](http://puu.sh/hJVCf/2009a33216.png)

Appears to work fine with default configuration. Not sure what is going wrong.

[2015-05-11 22:45] nsporillo commented on #205
Just means no home is set, and {ig} is an internal variable that should be replaced by the no home TL but for whatever reason is not. I suggest finding a different /f show format.

[2015-05-11 23:26] youngpvprock commented on #201
Plugin has debug? So i paste what happen, it's a strange bug.

[2015-05-12 01:46] MoeXIV commented on #205
It's the f show format? Why won't that specific one work? That makes no sense

[2015-05-12 01:46] #205 closed

[2015-05-12 02:07] nsporillo commented on #205
because of how the {ig} variable is replaced internally. There is 3 separate variables for the x,y, and z that need to be replaced by a single TL.

[2015-05-12 05:02] Lilmac12312 commented on #203
@oSaphyre Please paste your permissions into a gist via gist.github.com

[2015-05-12 05:40] nscwalk opened #206 "Stone pressure plate fix"
Does anyone know how to make it so when someone from another faction steps on a stone pressure plate it won't work? This is more asking the community of people who use this plugin knowing if anyone has the fix to this. Any help would be great thanks in advanced :D

[2015-05-12 11:29] MoeXIV opened #207 "New Build TL Error"
Title. The new TL causes the first line to duplicate. This is the default configuration for this tooltip.
http://prntscr.com/74c053

[2015-05-12 14:45] drtshock commented on #206
It's the interact / use one.

[2015-05-12 17:21] SaiCoFlu opened #208 "Support \n in configurable messages"
Hey, well I am customising my leaving/entering land, and I have an issue. Obviously each player has a different chat layout. So when I customise my leaving/entering message, its not exactly perfect & the way me or the players would like it.
 For example, here is one players message: http://prntscr.com/74ftjq
& here is completely different players message: http://prntscr.com/74fu94

I'm requesting

[2015-05-12 17:29] nsporillo commented on #208
I guess separate TL for leaving and entering isn't a bad idea.. except it prevents people from having it them both on one line which is the default functionality. We don't change default functionality unless it has an explicit issue.

The only thing I can see changing is supporting \n in all messages...

[2015-05-12 17:36] SaiCoFlu commented on #208
I'm guessing "/n" is new line? Personally I think that'd be a good idea then, just support /n in all messages, instead of add the "faction-enter" as I do understand it would mean not everyone may want this.

[2015-05-12 17:40] SaiCoFlu opened #209 "Updated to latest build, now recieving error when /f who."
This was working before on Build 47, but since I updated to the latest build 48, I'm getting an error when I do /f who.

Here is the message: http://prntscr.com/74g30d
And here is my layout: http://prntscr.com/74g41a

[2015-05-12 17:42] nsporillo commented on #209
... what is the error

The fact that there was an internal error helps nil, we need the error output from console to determine what went wrong and thus how to fix.

[2015-05-12 17:44] SaiCoFlu commented on #209
Okay, I'll get it now. Forgot about that.

[2015-05-12 17:46] SaiCoFlu commented on #209
https://gist.github.com/SaiCoFlu/bd21c00c22c2266ff0bd Here you go. @nsporillo

[2015-05-12 17:49] nsporillo commented on #209
is an issue with tooltips, the offline player is null, so probably an issue with how we're handling offline players..

[2015-05-12 17:55] Lotteries commented on #209
I've seen multiple people report this including Aaron.

@nsporillo

[2015-05-12 17:56] nsporillo commented on #209
@Lotteries none posted the actual error until now, so couldn't do anything about it.

[2015-05-12 20:11] EnzoCARP opened #210 "Zafezone,Warzone,Wilderness"
the Zafezone , Warzone , Wilderness factions do not Appear in / f list

[2015-05-12 20:14] EnzoCARP opened #211 "Wilderness enemy"
Wilderness faction appears to me as an enemy

[2015-05-12 20:16] EnzoCARP opened #212 "/f home"
the / f home not let me put delay and try from config.yml does not work

[2015-05-12 20:20] drtshock commented on #212
Can you verify that you've purchased HCF please. Send me your mcx, spigot, or CI username.

[2015-05-12 20:21] nsporillo commented on #210
What is your username on the jenkins, or if you bought on mcexchange, your username?

[2015-05-12 20:55] Lotteries commented on #210
@EnzoCARP Its supposed to be like that.. It's been like that since 1983

[2015-05-12 22:15] EnzoCARP commented on #212
the plug not buy a friend

[2015-05-12 22:17] EnzoCARP commented on #212
but you can add me to skype and you step and you verify server
Skype: enzoloyola

[2015-05-12 23:13] Doxify commented on #211
Yeah... that's a feature.

[2015-05-12 23:33] #212 closed

[2015-05-12 23:33] #211 closed

[2015-05-12 23:33] #210 closed

[2015-05-12 23:52] nsporillo commented on #209
I can't reproduce this error.

What permissions system do you use?
Does the player in that faction have a group?

What happens if you `remove the 2nd line` from the `tooltips.show`

    show:
        - "&6Last Seen: &f{last-seen}"
        - "&6Balance: &a${player-balance}"

Please get back to me so we can see what is wrong.

[2015-05-13 02:42] #184 closed

[2015-05-13 02:42] #199 closed

[2015-05-13 02:43] nsporillo commented on #196
Closing this because we cannot confirm if @bigbubba69 has a license or not.

[2015-05-13 02:43] #196 closed

[2015-05-13 13:56] #207 closed

[2015-05-13 13:56] nsporillo commented on #207
Fixed this. try latest build.

[2015-05-13 13:59] nsporillo commented on #201
This seems to be working fine despite the video evidence that is not for @youngpvprock , going to need more info otherwise going to close this issue :panda_face:

[2015-05-13 15:09] KriticalPvP commented on #209
Do Not use plugman or /reload.

[2015-05-13 15:50] #209 closed

[2015-05-13 17:11] youngpvprock opened #213 "New doors and fences 1.8"
The new doors and fences can be open by enemy or neutral facs, i know plugin it¡s mostly for 1.7 servers, but i'm using 1.8 and need that fix.
Maybe also 1.8 is what make a bug in #201

[2015-05-13 17:27] SaiCoFlu commented on #209
@nsporillo I currently use GroupManager, and I'm pretty sure some of them have donator ranks, but this problem has never happened until now.

@KriticalPvP I done neither of them.

[2015-05-13 17:31] drtshock commented on #213
Can you verify that you purchased the resource? Either give me your mcexchange or ci username.

[2015-05-14 01:29] SaiCoFlu opened #214 "Task #114 Error"
No Idea why this occured, was AFK for about 45 mins, and this popped up in my console on my local pc.
https://gist.github.com/SaiCoFlu/a6b8cf53a06128f8a0e9

[2015-05-14 04:10] drtshock commented on #214
Did you delete your file or did it become inaccessible?

[2015-05-14 04:22] drtshock commented on #213
Nvm, verified that you purchased.

In your conf,json, there is a section for denying materials in territories. https://github.com/drtshock/Factions/blob/1.6.x/src/main/java/com/massivecraft/factions/Conf.java#L224-L227

You can put materials in there. You'll find a list of all possible materials here: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Material.html

[2015-05-14 04:22] #213 closed

[2015-05-14 06:28] nsporillo commented on #161
Just noticed this is actually not an easy change because of the fact that the default DTR line in, for example, is

    {dtr}/{max-dtr}

We'd have to handle both variables, and even so the `/` would still exist. Our current form of variable handling does not easily allow this enhancement.

Will reconsider a different scoreboard for players that have no faction.

[2015-05-14 06:31] nsporillo commented on #149
@Chovpls could you first verify you purchased the resource?

Should have asked this 20 days ago, sorry.

[2015-05-14 08:30] oSaphyre commented on #137
Any update about this? Still waiting, if u need testers feel free to contact me throught skype: bionicleg0d

[2015-05-14 13:10] oSaphyre commented on #203
https://gist.github.com/oSaphyre/950472559044cb350836

[2015-05-14 14:05] SaiCoFlu commented on #214
Nope I added it to a new test server I created which had no factions data on it.

[2015-05-14 15:06] drtshock commented on #214
Can you give us your exact steps to *reproduce* (do it again) this?

[2015-05-14 15:43] oSaphyre opened #215 "Is possible to do that?"
http://prntscr.com/755ayp

How can i do that?  Is on the lang or what, when someone die, a message appears.

[2015-05-14 15:55] oSaphyre opened #216 "Is possible to do that?"
http://prntscr.com/755ayp

How can i do that?  Is on the lang or what, when someone die, a message appears.

[2015-05-14 15:56] #215 closed

[2015-05-14 15:57] drtshock commented on #216
I don't believe we handle death messages at this point.

[2015-05-14 15:57] #216 closed

[2015-05-14 16:01] #144 closed

[2015-05-14 16:02] nsporillo commented on #144
Okay, added this. To get it to work you must:

      "handleExploitBoatClipping": true,

as it's off by default (anything new we add is).

Also, you're going to want

    "territoryDenyUseageMaterials":

to contain BOAT. Maybe even consider the offline list to have BOAT as well.

[2015-05-14 16:14] SaiCoFlu commented on #214
I have no idea what I did. All I did was drop the file into my plugin folder, start the server up then I was AFK for about 45 minutes, I came back & looked at console and saw that message.

[2015-05-14 16:17] SaiCoFlu commented on #216
@drtshock I think he is meaning the Line before that about the "Member Death: <name> <dtr>/<max-dtr>" It's similar to the Member Online/Offline message we receive if enabled, but this displays when a faction member dies, and also tells the faction their new DTR out of the Max DTR. I was going to request this, but someone beat me to it. And maybe display if it goes below 0.00 it will also display a

[2015-05-14 16:23] oSaphyre commented on #216
@SaiCoFlu Is this possible to do it? Can i change on the config or what? i didnt understand u so much :( im psanish

[2015-05-14 16:24] SaiCoFlu commented on #216
@oSaphyre It isn't implemented because no one ever requested it I'm pretty sure, You'll need to wait until @drtshock or @nsporillo replies.

[2015-05-14 16:26] oSaphyre commented on #216
@drtshock @nsporillo could u implement that? A lot of people want this, including me, when a member of ur faction die, it display like this: Member Death: %player% DTR: %newdtr%/%maxdtr%

[2015-05-14 16:29] drtshock commented on #216
Can you create a feature request ticket where the OP is the feature request and not a generic question please.

[2015-05-14 16:29] drtshock commented on #214
The error shows that gson is null, which should never be possible and I have never seen in 3 years. If you can reproduce this, feel free to reopen it :)

[2015-05-14 16:29] #214 closed

[2015-05-14 16:34] SaiCoFlu opened #217 "New "Member Death:" Feature"
Instead of commenting on something that was closed, I'm creating basically what that guy had as a question, as I'd also like to see this be implemented.
"Member Death: name dtr/max-dtr" Is similar to the Member Online/Offline message we receive if enabled, but this displays when a faction member dies, and also tells the faction their new DTR out of the Max DTR. I was going to request this, but som

[2015-05-14 17:07] Lotteries commented on #217
:+1: I would love to see this added. It is a very useful feature that every HCF server has.

It should be like

&6Member Death: {relationcolor}{faction-role-tag}{username} &6(&e{dtr}&6/&e{max-dtr}&6)

P.S: Update the DTR before pushing out that message.

[2015-05-14 17:09] Lotteries commented on #208
Yes \n is a new line. This can be used in most bukkit things. Such as you're MOTD.

[2015-05-14 17:11] nsporillo commented on #217
The code is there, just commented out because it wasn't quite working correctly.
All the messages are configurable in lang.yml, under PLAYER_DTR_....

        // TODO: Get this working again
        // Send the message from the dtr event
        //final String msg = dtrEvent.getMessage();
        //if (msg != null && !msg.isEmpty()) {
        //    fplayer.msg(msg, faction.getDTR(), faction.getMax

[2015-05-14 17:22] Lotteries commented on #217
What is exactly wrong with that code? I could make-shift a plugin using the API to get this feature added on my own. Haha.

[2015-05-14 17:40] Lotteries commented on #137
Make sure you can not /f modchest in another factions land.. That would be pretty funny... I can imagine how many people would be mad. Also, what if a faction member wants to pretty much 'inside' there faction. They can just /f modchest the chest with all the goodies and no one can get the goodies back! Add it so if the faction member gets kicked the 'Mod chest' gets unclaimed.

[2015-05-14 17:58] MoeXIV commented on #137
@lotteries you make no sense. How if the member wants to inside the chest is locked? All faction admins and mods will be able to access it no matter what.

It should not be "un modchested" if he is kicked because it's still accessible...

[2015-05-14 23:07] #206 closed

[2015-05-15 01:52] Doxify commented on #137
Not sure what Lotteries is talking about but just to make explain what I originally wanted.

Admins / Mods can /f modchest a chest and then all admins and mods can access that chest, if one gets kicked, the chest is still a mod chest.

[2015-05-15 02:59] nsporillo commented on #217
Added, when updating to new build check lang.yml for FACTION-DEATH value, near the bottom of the file. It's default to how you specified in this issue.

[2015-05-15 02:59] #217 closed

[2015-05-15 03:04] nsporillo commented on #173
Came up with some experimental code if anyone wants to test it out a bit?

During my testing there was a few situations where monsters would still target / attack a player in their own faction. So what I guess I want to see if you guys feel the experimental code is sufficient.

Contact me @ nsporillo@gmail.com with your CI username for a copy. It will be Build 51+, with just this experimental addi

[2015-05-15 03:07] nsporillo commented on #193
@lyzha could you provide more justification for this issue?

Why should it be added? we'd have to go a bit out of the way to track chunks you dont want to be claimed and there is already a way to do this as @Doxify noted.

[2015-05-15 03:08] nsporillo commented on #174
This should be all set then.

[2015-05-15 03:08] #174 closed

[2015-05-15 03:09] nsporillo commented on #177
@SaiCoFlu thank you.

What do you mean you dont use essentials teleport time? Do you not have essentials installed?

[2015-05-15 03:10] nsporillo commented on #182
@KriticalPvP could you provide a screenshot of this?

Also, the steps to reproduce the issue?

I'm assuming it's just something like:

1) make faction
2) do /f admin
3) faction disbands and it shouldn't?

If you could provide some more details that'd be great

[2015-05-15 03:17] nsporillo commented on #172
If the invisible potion is a splash one, we could listen for that event and *try* to do something with nametags. If it's a regular potion then we'd have to do something like check for potion effects when a player moves. Even then we would probably run into issues if we're messing with the nametags (specifically with the tablist..?)

I suppose this needs more justification. If a fix was concise, th

[2015-05-15 03:21] #172 closed

[2015-05-15 03:28] nsporillo commented on #169
Could I ask what this would be used for? @Lotteries @MoeXIV

Without knowing the purpose, having trouble seeing where it'd be used.

[2015-05-15 03:31] Lotteries commented on #169
If i'm correct, Moe no longer is running a HCF server.

But i think it would be used for lets say you wanted a fancier way of showing you're relation color instead of just coloring the name the old way, you could add colorful icons etc in the corner or what ever and it would be the relation color

[2015-05-15 03:53] SaiCoFlu commented on #177
Nope, I do have essentials now, but I was planning to not use it until this problem popped up. But I'd assume others would want to see this to, as it's done by most HCF servers.

[2015-05-15 04:41] MoeXIV commented on #169
Who said I wasn't making a server using the HCF plugin? :P
Anyways, this could be used to colour things such as the header and basically the whole f show based on your relationship with said faction.

Really useful for fancy f show looks. I think it would be pretty cool to be honest.

[2015-05-15 15:42] EnzoCARP opened #218 "Wilderness enemy"
Wilderness areas in claimeadas by you can not put / f  home as enemy

[2015-05-15 16:00] EnzoCARP commented on #218
I am told is a feature as the off?

[2015-05-15 16:00] EnzoCARP commented on #218
Wilderness is not the enemy and the other factions if

[2015-05-15 16:04] EnzoCARP commented on #218
Nick: Starwerty mcexchange.

[2015-05-15 17:07] Lotteries commented on #193
@nsporillo Here is my justification, i think it should be added because it would be useful for KOTHs, you should be able to configure the message that you get when you break a block in the un-claimable chunk, such as &eYou can not break that block here!

[2015-05-15 17:21] drtshock commented on #218
what

[2015-05-15 17:23] Lotteries commented on #218
@drtshock @EnzoCARP wat

[2015-05-15 17:24] Lotteries commented on #218
@EnzoCARP  Could you try to explain in some readable English? As far as i can see, this looks like Chinese to me.

[2015-05-15 17:26] Lotteries commented on #182
@nsporillo  That is correct, if you are the only one in a faction and you type /f admin it should say something along the lines of "&cYou are the only one in a faction, you can not admin you'reself!" and if you're not the only one in the faction say something like "&cInvalid Arguments! /f admin <username>!"

[2015-05-15 17:30] Lotteries opened #219 "Request: Claim lines"
Hello, i'm requesting a new feature added into HCFactions. As some of you may know the sever HCTeams has a custom claiming setup using pillars. I would love to see those pillars added into HCFactions as a visual were you're claim ends, or put a red line (35:14 as the ID of the block) around the last block of the claim. Of course the blocks can be broken, but will not drop any items. This will be u

[2015-05-15 17:31] MoeXIV commented on #218
I wouldn't recommend making fun of someone's attempt at speaking a non native language. He's clearly trying to use some sort of translator, that doesn't seem to be working in his favor.

It's like me trying to translate English into Chinese. It will make 0 sense.

[2015-05-15 17:37] Lotteries commented on #218
Ah, i think i get what you're trying to say. Are you TRYING to say that you don't want people in the wilderness (default) faction to be able to pvp?

[2015-05-15 17:42] Lotteries commented on #169
@MoeXIV I see it now 'fancy f show looks'.. Maybe a few pointy arrows here and there.. xD

[2015-05-15 19:45] MoeXIV commented on #169
Yeah, XD

[2015-05-15 19:47] lyzha commented on #193
Yes :)

[2015-05-15 19:48] lyzha commented on #193
But also to prevent claimed base near the spawn but without player not being able to break blocks

[2015-05-15 20:49] KriticalPvP commented on #193
Make a selection e.g. hat

/rg flag hat f claim deny

[2015-05-15 20:52] KriticalPvP commented on #208
Yeah, How do we add Colons in the message? I just use spaces for the newline : p

[2015-05-15 20:53] KriticalPvP commented on #217
Whens the new version? Is it out?

[2015-05-15 20:56] KriticalPvP commented on #182
Yeah, sorry @Lotteries is right, when you type /f admin (yourname) it disbands it.

[2015-05-15 21:52] EnzoCARP opened #220 "Plugin Combat log"
I do not speak Inglés so here I leave you in Spanish.
Hay algún plugin que sirva para el hcf de combat log o tag?
por lo menos ayúdenme en eso -.-
nose que les causa risa? traten de hablar en argentino... los quiero ver y todas las preguntas que hice las tuve que resolver solo thx(?

[2015-05-15 23:54] SquiddPvP opened #221 "Fixed, sorry xD"
I'm not able to find where we can edit the chat tag for factions, as at the moment mine is just **FACTION NAME Username: Hello :)

[2015-05-16 00:47] SaiCoFlu commented on #220
Esto es sólo una facción plugin, esto no tiene ninguna relación con etiqueta para luchar contra de registro o combatir.

[2015-05-16 08:35] Scaredy commented on #221
Please close this, if it is no longer an issue! :)

[2015-05-16 08:35] Scaredy commented on #219
/f claimline [number]

[2015-05-16 09:32] Scaredy opened #222 "How to I add colon's to msg's?"
to make it look like this:

Fred has joined: The Game

[2015-05-16 09:36] Scaredy commented on #222
And Entering: Faction

[2015-05-16 12:56] SquiddPvP opened #223 "[FIXED]"

[2015-05-16 15:51] #221 closed

[2015-05-16 16:01] #223 closed

[2015-05-16 16:22] Scaredy opened #224 "Feature Request: More Advanced Tooltips."
Hello! Welcome to my suggestion post :)

Here is what I would like added:

When you walk into someone's territory, you get the option to click that chat ( on their faction name )

So Example:

You enter the faction land called Hat

Entering: Hat
Leaving: Wilderness

You could click where it says Hat, and it would /f show Hat

Also, I would like users to be able to type /f show, and hover over the

[2015-05-16 16:25] Scaredy commented on #222
EDIT: I'm seriously doubting my common sense...

[2015-05-16 16:25] #222 closed

[2015-05-16 16:28] SaiCoFlu commented on #220
You guys can probably close this, hes basically asking for a combat log/tag plugin

[2015-05-16 18:29] #220 closed

[2015-05-16 18:29] drtshock commented on #220
We only provide support in english unfortunately. Blame America's shitty education system.

[2015-05-16 18:29] drtshock commented on #222
Same

[2015-05-16 18:32] #219 closed

[2015-05-16 18:33] drtshock commented on #193
Scaredy: or you could just deny /f claim in the worldguard region.

[2015-05-16 18:33] #193 closed

[2015-05-16 18:33] drtshock commented on #193
We won't be adding this. Claim it with a permanent faction, disable claiming in that world, or region it with WG and deny claim commands (though they could still claim radius).

[2015-05-16 21:24] Scaredy commented on #222
XD <3

[2015-05-17 02:03] nsporillo commented on #177
was this solved when you installed essentials or is there still an issue with the cancel on move?

[2015-05-17 02:36] MoeXIV commented on #177
You shouldn't rely on other plugins for yours to work properly. That would require essentials to be a dependency.

Some people don't use essentials (me), and I had to install essentials for the soul purpose of the f home

[2015-05-17 02:46] nsporillo commented on #177
@MoeXIV It was merely a question to gain some more information. I did not design how /f home works nor were there any requests to change anything about it. When I wrote the /f stuck code, it works with and without essentials, but with essentials obviously slightly better.

[2015-05-17 03:33] SaiCoFlu commented on #177
yes it was solved @nsporillo , But I'd prefer not using Essentials.

[2015-05-17 15:38] Scaredy commented on #224
EDIT: Spelling

[2015-05-17 21:01] Tr3xEmpire opened #225 "I've lost access to the Jenkins"
For some reason, i can't access the HCF repository anymore, I can provide a paypal transaction if it means getting access to it again.
My jenkins username: Tr3xEmpire

[2015-05-17 21:12] #225 closed

[2015-05-18 05:12] Shicking opened #226 "Internal Error when doing /f who"
Pastebin of the problem here:
http://pastebin.com/tifnuTv8
In chat it lists most of the info but then it says "An internal error occured while attempting to perform this command" where the online and offline players should be. Players are complaining they cannot see the members in the faction.

I purchased the plugin via mcexchange.org

[2015-05-18 05:23] nsporillo commented on #226
What version are you running? /f version

Try removing all the tooltips from tooltips.show and see if you still get any errors. It's probably something to do with a null player group or balance, or something along those lines.

[2015-05-18 05:46] Shicking commented on #226
Version - 0.0.7-b44

How do I disable the tooltips?

[2015-05-18 05:48] nsporillo commented on #226
You can disable them by removing each line from the list.

![a](http://puu.sh/hRsNZ/33536d5bbb.png)

[2015-05-18 17:18] HeyImYellow opened #227 "Command aliases"
Hey, there are 2 commands which I would like to be added into as a type of Alias as such.

With /f money you need to /f money deposit and /f money withdraw.

It would be great if you could add:

/f deposit
/f withdraw

[2015-05-18 17:50] Scaredy commented on #224
BUMP: 2 Days no replies? - Sorry

[2015-05-18 21:55] SaiCoFlu commented on #227
F stuck is configurable.

[2015-05-18 22:00] drtshock commented on #227
Removed the second part of your ticket. Keep one thing per ticket please so feel free to open another one with the separate issue :)

[2015-05-19 14:34] Lotteries commented on #224
:+1: Golden T_T Should be added, make the tooltip when you hover over the faction name configurable of course! :hamburger:

[2015-05-19 17:16] Scaredy commented on #224
+1 @Lotteries

[2015-05-19 17:55] drtshock commented on #224
Nick is on vacation so new features will be halted for a few :c

[2015-05-19 17:57] Scaredy commented on #224
Awh, Okay! Thanks @drtshock

[2015-05-20 15:59] SaiCoFlu opened #228 "Customizable /f who for Permanent Factions."
Ok, so with Permanents factions, say if it's an Admin claim and has no players in it etc, it has a lot of even that doesn't even need to be shown, like DTR, Faction Home co-ordinates. Would you be able to implement a configurable permanent faction layout like the normal one? This would really tidy up the /f who for example an event such as KOTH.

[2015-05-20 16:00] SaiCoFlu commented on #228
It has a lot of stuff that doesn't even need to be shown*.

[2015-05-20 22:21] HeyImYellow opened #229 "F Stuck is a little strange..."
So basically f stuck works sort of fine except if you move more than the defined amount of blocks, it doesn't cancel it immediately it just waits until the teleport is ready then tells you it failed.

Could you please make it so there is an option to make it cancel instantly?
Thanks :)

MCExchange Username: HeyImYellow

[2015-05-21 03:54] Lilmac12312 commented on #228
So in other words something like this? http://prntscr.com/77ll8v

[2015-05-21 04:44] SaiCoFlu commented on #228
Yeah @lilmac12312.

[2015-05-21 05:36] nsporillo commented on #229
I would say the only real impact it makes is it just wastes the players time a little bit, by not canceling right away and then they can just re-do the command and sit still.

The purpose is still served however, the idea was to not have the command just let people execute it and then run away from say PVP until the timer ends and then they escape. I chose to go this route as it keeps code off pla

[2015-05-21 05:42] Lilmac12312 commented on #228
Then in that case I wouldn't mind something like this.

[2015-05-21 05:45] #226 closed

[2015-05-21 15:43] KriticalPvP commented on #228
+ 1 @SaiCoFlu , @Lilmac12312

[2015-05-21 21:33] TemptingMC commented on #229
Yea, it was broken for me so I had my developers code a different one and override the sub command for /f stuck too. I'd get your developer to do that to be honest.

[2015-05-21 21:34] TemptingMC commented on #37
@drtshock can we remove the hold on this now that I'm back?

[2015-05-21 21:35] TemptingMC commented on #72
@drtshock no longer needed, I had my developers code a bypass for this. Close this issue.

[2015-05-21 21:37] drtshock commented on #72
@TemptingMC we'd appreciate it if you PRd your additions upstream. But just because you have it to yourself does not mean that this issue should be closed.

[2015-05-21 21:38] TemptingMC commented on #72
@drtshock yea ik, but I was the guy who originally posted this; I was gonna ask for it to be closed since no one else said that wanted it in (in the comments atleast)

[2015-05-21 22:55] HeyImYellow opened #230 "Subclaims"
So basically what Subclaims are is that when you place a sign on a chest with the top line being

[Subclaim]
Username
Username
Username

It will only allow people who have their name included on the sign under the [Subclaim] line. For example:

[Subclaim]
HeyImYellow
NSPorillo

This will only allow me and NSPorrillo to open that chest (Except if you are raid able!)

Would be nice to add this :)

[2015-05-21 23:32] SaiCoFlu commented on #72
I'd like to see it @dtrshock , keep it open, thanks.

[2015-05-21 23:33] SaiCoFlu commented on #230
Already been requested I'm pretty sure.

[2015-05-22 13:53] Lotteries commented on #230
It has been already requested, duplicate of #137. The feature has been put on hold.

[2015-05-22 14:40] drtshock commented on #230
This is a bit different as I believe he's talking about player owned chunks though I thought that was already possible.

[2015-05-22 14:46] Lotteries commented on #137
@MoeXIV I edited the comment, should make more sense now, i was basically stating some things that needed to be added with this to make it as simple as possible.

[2015-05-22 14:53] Lotteries commented on #230
Nope, subclaims are expressed as chests. I know it sounds wierd with the name 'Sub claims' but that is how it is on HCTeams.com *Shameless advertisement*

[2015-05-22 14:55] MoeXIV commented on #137
Looks good. I think you should be able to place hoppers nearby for reasons obvious (making what you need to).

Maybe disabling the moving of items through through hoppers if it's a mod chest

[2015-05-22 14:55] Lotteries commented on #72
I'd love to see this aswell! @drtshock  and @nsporillo Keep it open!

[2015-05-22 14:57] Lotteries commented on #228
:+1: Useful for Koths!

[2015-05-22 14:58] Lotteries commented on #227
I would like to see this as well, /f money is a very unknown command, most HCF servers use these alias's now. It would be much more similar for players.

[2015-05-22 15:15] Lotteries commented on #137
@MoeXIV Thats true, i've edited the comment once again. It's @nsporillo's choice which way he wants to prevent hoppers from being used on mod chests, but i think denying it from being placed next to it is the safest way because there is no possible way to glitch it (at least that i know of!)

[2015-05-22 15:26] KriticalPvP commented on #72
+1 I'd like it

[2015-05-22 15:29] MoeXIV commented on #137
Then replace the hopper from like hopper:0 to like, hopper:1 and disable all movements from hoppers with :1 meta.

[2015-05-22 15:29] MoeXIV commented on #137
It ruins the aspect of HCF where you are limited where to place blocks in your own claim

[2015-05-22 15:33] Doxify commented on #137
I was able to test this with nick and it's nearly done, hoppers still moved items out when I tested it but he said he's fixing that so I don't think you guys should worry about not being to place certain blocks in your claimed land

[2015-05-22 18:00] KriticalPvP commented on #137
@Doxify Thank You! :)

[2015-05-22 18:01] KriticalPvP commented on #224
@Doxify & @MoeXIV - Thoughts?

[2015-05-22 18:30] lyzha commented on #228
+1

[2015-05-22 18:39] HeyImYellow commented on #230
No this is different as that one suggests a "MOD" chest where only Faction Moderators can use them.

This is a player based one where ANY player can create a chest subclaim to keep THEIR goods safe, not just faction moderators.

[2015-05-22 22:31] TemptingMC commented on #72
Weird that everyone wants it all of a sudden when I got terrible feedback about this command when I needed it.. ;/

Seems a bit unfair, but idc anymore lol.

[2015-05-23 06:08] KriticalPvP commented on #72
Well, I think It's because a lot of servers are having their own EOTW's atm. such as HydraPvP.

I'd still like it, EOTW is soon for me :)

[2015-05-23 10:40] TheS7W commented on #37
Note: That server is parapots, which have HCTeams' plugins. They are getting sued in the summer by John.

[2015-05-23 10:43] HeyImYellow commented on #37
Woah really?

How much for?, or is that unknown :o

[2015-05-23 10:49] Lilmac12312 commented on #37
@HeyImYellow HCTeam's plugin is all over but ParaPots happens to be one of the servers using their code therefor it's illegal and Jon is taking action be sending a lawsuit etc.

[2015-05-23 11:02] HeyImYellow commented on #37
Wait so ParaPots stole HCTeams plugins and is now using them?

Or have they just copied their style such as the:

Leafy[4] was slain by itsjhalt[2].

-----------------------------------------------
Para - [1/1] - HQ: Cords, Cords
Faction Leader: Leafy
Faction Officers:
Online Members:
Faction Bank:
-----------------------------------------------

And stuff? Or their initial plugins?

[2015-05-23 11:04] Lilmac12312 commented on #37
@HeyImYellow They stole their code, did I not make it sound simple enough to understand?

[2015-05-23 11:05] HeyImYellow commented on #37
Sorry was just curious xD

[2015-05-23 13:24] SaiCoFlu commented on #37
@TheS7W He can't, he already tried before and the reason he can't is because he used bukkit code meaning he'd be suing someone for a part of code which doesn't belong to him which belongs to Bukkit.

[2015-05-23 13:26] TheS7W commented on #37
@SaiCoFlu I don't think you realise, his code is copyrighted under FrozenOrb. Therefore no one has permission to use it unless John gives them permission. When PlasmaHCF opened we bought the HCTeams plugin for a lot of money (not saying). ParaPots, did not buy this. They're developers ripped off the leaked version.

[2015-05-23 16:07] drtshock commented on #37
@TheS7W Funny how you're talking about all this redistributing plugins thing when you did it with my plugin. Get off my issue tracker.

As for everyone else, keep the issue tracker to discussion of THIS plugin.

[2015-05-23 16:08] drtshock commented on #72
Keep discussion relevant to the ISSUE (@TemptingMC). I do not care if someone already had someone do it for them privately.

[2015-05-23 18:40] Doxify opened #231 "Stop the broadcast of faction name changes?"
How would I do this? I can stop description changes but not tag changes it seems.

[2015-05-23 18:55] KriticalPvP commented on #231
+1 Spam @ SOTW

[2015-05-24 05:53] KriticalPvP commented on #224
@nsporillo Any thoughts? :)

[2015-05-24 06:23] drtshock commented on #224
He's still on vacation until the end of this week (5 days or so).

[2015-05-24 07:56] KriticalPvP commented on #224
Thought his vacation was over sorry! :(

[2015-05-24 21:47] Doxify opened #232 "PlayerJoinEvent"
playerjoinEvent is causing lag, can you look into it?

![vnxizor](https://cloud.githubusercontent.com/assets/9636316/7789846/9da7d3ac-0224-11e5-9121-4015ca6f262a.png)

@drtshock

[2015-05-25 00:35] Doxify opened #233 "Fix DTR evading"
Players can unclaim all while frozen then make a new faction and overclaim or overclaim their land with an alt.

Can you please make it so players cannot unclaim land while frozen?

[2015-05-25 02:44] SaiCoFlu commented on #233
+1 I also ran into the same issue

[2015-05-25 04:07] Insanity14 opened #234 "Loss of access"
I lost access to the plugin after purchase how might I regain access to the plugin so that I may future updates.
Username for MCExchange: Insanity14

[2015-05-25 05:58] MindServers opened #235 "Faction Scoreboard Not Working"
The tab list color, scoreboard when entering faction land, and the custom player head are all not working. They do work, however, when I do /plugman restart factions, however if I relog after that point then they will be broken when I log back in. I know @Lotteries has had a similiar issue here: https://github.com/drtshock/HCFProblems/issues/43.

What's the solution?

[2015-05-25 06:49] SaiCoFlu commented on #235
Don't use plugman.

[2015-05-25 14:41] lyzha opened #236 "Remove certains messages"
Would be nice if we could but DISABLE or NONE for some messages in the lang.yml if you dont want a message to show just put the tag and its fine

[2015-05-25 17:06] drtshock commented on #234
MCExchange doesn't have a way to remove access so there's now way you could've lost it. Can you paste your transaction id?

[2015-05-25 21:30] KriticalPvP opened #237 "New Build out?"
Hello, I was unsure weather a new build has come out? because @nsporillo said this: http://prntscr.com/79d9cu

If there is an update / new build MC-Exchange hasn't had an update?

http://prntscr.com/79da47

@drtshock can you confirm or deny a new build is out?

Thanks sorry if this is an idiotic question, just a lot of confusion and it's late at night

- Michael

[2015-05-25 21:39] #237 closed

[2015-05-25 21:57] MindServers commented on #235
I tried it before installing plugman and still didn't work.

[2015-05-26 00:22] agusztin commented on #115
Yes how?

[2015-05-26 09:03] KriticalPvP commented on #115
[[Faction]] @agusztin

[2015-05-26 14:16] Lotteries commented on #233
:+1: Make this configurable, would be great if added!

[2015-05-26 14:20] KriticalPvP commented on #233
They can also /f admin themselves to disband the faction!

[2015-05-26 14:22] Lotteries commented on #235
Factions relies on scoreboards, my issue was with NexGenKoths. I went into the config and disabled everything to do with scoreboards and factions worked again. So if you have any other scoreboard plugins remove them and it should work.

[2015-05-26 14:24] Lotteries commented on #232
I'm currently in class @Doxify I will grab a timings report during my peak players and see what my timings says after i get home in about 50minutes. I will post back once i get them.

[2015-05-26 14:26] Lotteries commented on #233
@KriticalPvP I see you one every issue i post! Haha! I also just saw you're comment asking what HCF server i run, i own PrismaHCF. The first and only (as far as i know) Swedish HCF server.

[2015-05-26 14:29] KriticalPvP commented on #233
@Lotteries XD Congrats! : D

[2015-05-26 14:30] Lotteries opened #238 "Request: Built in Anti wither"
All HCF servers do not allow Wither raiding, currently we have to have a standalone plugin to deny this, but i thought it would be simpler if there was one built in as it is part of HCF. Withers should not break faction claimed land but should break other things.

P.S: Yes i know /gamerule doMobGriefing false, but that resets its self on most reloads (not all)!

[2015-05-26 15:19] #238 closed

[2015-05-26 16:07] MoeXIV commented on #232
It's the fact you have so many players doing so many things. There is easily 100 people constantly trying to join / leave as well as the fact it has to listen for player deaths to update DTR.

My assumption is that there's just to much going on, and to much for the server to do. Maybe try to get a core implanted with 5 or 6 plugins in 1 to reduce the need of CPU usage with all the different plugin

[2015-05-26 17:57] KriticalPvP commented on #238
Fixed? How?

[2015-05-26 17:59] KriticalPvP opened #239 "New Feature?"
I was hoping you could disable join / leave msg's and only display Factions leave & join msg's..
so it doesn't announce to everyone if someone logs on, only those in your fac.

Make it configurable please.

Thanks! =D

[2015-05-26 18:01] Doxify commented on #232
Just started running on an overclocked i7 4790k so performance has improved a lot but I'll talk to my dev about a "core" plugin.

[2015-05-26 20:02] MindServers commented on #235
I have NexGenKoths ^. I will go ahead and tweak it as you did and hopefully it will work again. Thanks man!

[2015-05-26 20:03] KriticalPvP opened #240 "FeatherBoard Support? Halp! Important"
Is there a way I can use a scoreboard plugin? I'd like to be able to use HCF nametag colors & scoreboards for enderpearl cooldowns and KoTH Timers?

@drtshock You would know best if this is possible and @nsporillo is still on holiday, any replies appreicated! ^.^

[2015-05-26 20:08] MindServers commented on #235
@Lotteries Your solution worked. You're a god among men my friend. Closing this now.

[2015-05-26 20:09] #235 closed

[2015-05-26 20:16] drtshock commented on #240
Currently no.

[2015-05-26 20:51] KriticalPvP commented on #240
Awh, okay, I'll close this for now

[2015-05-26 23:25] HeyImYellow commented on #239
It is configurable if you use essentials I believe.

It's some like:
essentials.silentjoin
essentials.silentquit or silentleave

[2015-05-27 03:50] nsporillo commented on #236
Maybe something like {null} to indicate a message that is never sent. I could see how this could be useful.

[2015-05-27 04:00] nsporillo commented on #233
@KriticalPvP don't try to merge two issues into one via comment, make a new issue so it can be addressed separately, thank you.

[2015-05-27 06:34] nsporillo commented on #231
Isn't a way currently, but will probably lump this in with https://github.com/drtshock/HCFProblems/issues/236

Only problem is, /f desc sends two messages 1 TL and then the new faction description, so would probably just add some fancy {description} tag TL value which can just be replaced with {null} (along with the 1st TL) to avoid the broadcast to everyone. (but add in a check to still send to f

[2015-05-27 06:35] nsporillo commented on #239
Are you referring to the default minecraft leave / joins, or another plugins messages?

[2015-05-27 06:38] nsporillo commented on #233
@KriticalPvP I fail to see where /f admin plays any role in bypassing the configurable freeze-disband setting.

[2015-05-27 06:40] #233 closed

[2015-05-27 06:41] nsporillo commented on #218
@EnzoCARP gonna close this as there has been no reply in a week and we cannot understand what the issue is.

[2015-05-27 06:41] #218 closed

[2015-05-27 06:48] nsporillo commented on #230
@HeyImYellow doesn't this almost spoil the idea of a faction? How are you banded together if people will just private their chests within the faction. I think it changes the gameplay and adds a bit of complexity to the plugin without much justification.

Faction mod chests is not only much more feasible to implement in a timely manner, but makes sense. `Faction mods should be trusted to handle sec

[2015-05-27 06:53] nsporillo opened #241 "Old issues"
This isn't an issue itself, rather a notice regarding issues on the tracker that are pending a resolution but are basically forgotten by the issue author.

After a week or two of sitting on the tracker untouched without any additional info on where to proceed, i'll just close the issue. Whether the issue didn't make sense or couldn't be justified, they do no good sitting in the "active" list of is

[2015-05-27 06:53] #177 closed

[2015-05-27 06:55] nsporillo commented on #182
Odd. Will need to go in and test this but it doesn't appear to be a critical bug. If the faction is of 1 then they will probably be fine to set their faction back up.

Will tag as a bug so it gets my attention next time I check the tracker, but still need to confirm.

[2015-05-27 06:59] nsporillo commented on #228
Will likely be a new section somewhere in config.yml for this. When it is implemented, I will be using
![dd](http://i.imgur.com/wq42j4C.png)
as the specification. If anyone has any tweaks or suggestions let me know.

[2015-05-27 07:37] KriticalPvP commented on #239
Yeah, default leave & join

[2015-05-27 07:38] KriticalPvP commented on #233
If You are in a faction with negative DTR you /f admin (yourname) it disbands the faction

[2015-05-27 07:39] KriticalPvP commented on #228
+1 Thanks @nsporillo and welcome back! :)

[2015-05-27 07:40] KriticalPvP commented on #224
@nsporillo Possible?

[2015-05-27 07:42] KriticalPvP opened #242 "Better scoreboard integration"
So I like the faction scoreboard, and I also use a plugin that has a scoreboard, and I feel that faction scoreboards could be more useful! by adding tags to the factions scoreboard ( Hooks ) for things like enderpearl cooldown, or NexGenKoTHs so we can see all of that shit on the factions scoreboard also Implementation of for CombatTagPlus, this would be greatly appreciated! :)

[2015-05-27 07:56] Lilmac12312 commented on #242
I mean, this would be good but on the other hand I feel they wont add this but who knows.

[2015-05-27 08:23] KriticalPvP commented on #242
Yeah, I don't think they will... :( but It would be nice

[2015-05-27 09:15] SaiCoFlu commented on #242
Probably not since this is a factions plugin.

[2015-05-27 09:16] SaiCoFlu commented on #239
It does display members online/offline, you just need to set it to true

[2015-05-27 09:35] KriticalPvP commented on #242
They only have to hook into it?

[2015-05-27 09:36] KriticalPvP commented on #239
I know that
Im talking about

Player Joined the game
I only want HCF leave / join

[2015-05-27 09:40] SaiCoFlu commented on #242
But some people don't use that plugin, so that would mean hooking into every single plugin that someone has that uses those features.

[2015-05-27 15:34] MoeXIV commented on #239
Get hide stream or get it in your core like most people.

[2015-05-27 17:30] nsporillo commented on #201
closing this, @youngpvprock hasn't gotten back in 2 weeks and was not able to confirm the issue...

[2015-05-27 17:30] #201 closed

[2015-05-27 18:04] drtshock commented on #242
The only way we would hook into another plugin for scoreboards is if the it's a large, **publicly* available plugin.

[2015-05-27 19:08] HeyImYellow opened #243 "F stuck is super buggy."
For me, when any of my players use /f stuck, it doesn't tp them out of the base it literally just tp's them a chunk away from where they were, sometimes it will just glitch out and say teleported to *Their current location of where they typed it* and then it will say the Essentials message after the F Stuck timer has worn out: "Teleportation will commence in 10 seconds."

Why does it do this? Shou

[2015-05-27 19:20] KriticalPvP commented on #242
http://dev.bukkit.org/bukkit-plugins/enderpearl-cooldown/

[2015-05-27 19:33] HeyImYellow commented on #242
It would conflict with the Factions plugin :P

[2015-05-27 19:51] KriticalPvP commented on #243
It comes with a built in /f home ( doesn't cancel on movement )

[2015-05-27 22:30] nsporillo commented on #243
@HeyImYellow what version are you using? The most up to date version will simply search for the nearest wilderness chunk and teleport a player to a relatively safe location there (using essentials safe teleport code, or if ess not installed just tp them to the chunk coords without safety checks).

The idea is to **not** necessarily teleport them out of a base, but get them to wilderness so they ca

[2015-05-27 22:34] agusztin commented on #115
Thanks

[2015-05-27 22:43] HeyImYellow commented on #243
Ok, I will try installing the newest version of essentials :)

[2015-05-27 22:56] HeyImYellow commented on #243
Or do you mean the newest version of HCFactions?

[2015-05-27 23:24] nsporillo commented on #243
hcf

Sent from my iPhone

[2015-05-27 23:26] HeyImYellow commented on #243
Where can I download the newest version? It isn't updated on MCExchange :O

[2015-05-28 08:11] KriticalPvP commented on #115
Close this if it's solved

[2015-05-28 11:08] MoeXIV commented on #242
CombatTagPlus. It's already implemented DTR loss on NPC death with HCFactions.

[2015-05-28 20:20] HeyImYellow commented on #243
Do you know where I can find the latest updates?

[2015-05-28 21:25] PatManGames opened #244 "/f c f problem."
I dont know if I have this wrong, but when someone types in /f c a, or /f c f chat, their chat is not only put in ally/faction chat, but global chat as well. Is there a configuration for this, am I missing something?

[2015-05-28 21:48] PatManGames opened #245 "/f create and /f leave crash."
With the version of HCFactions that I'm running, every time a user types /f create, /f leave, or /f disband their minecraft crashes. Is there a fix for this?

[2015-05-28 22:00] nsporillo commented on #245
Can you confirm the username you used on MCExchange, or your Jenkins username?

[2015-05-28 22:00] HeyImYellow commented on #245
Nsporillo where can I find the latest update to HCFactions?

[2015-05-28 22:24] nsporillo commented on #243
@HeyImYellow dev builds are found on the [ci](https://ci.drtshock.net/), make an account if you dont already have one and reply with your username to get access to the hcf builds.

[2015-05-28 22:24] #243 closed

[2015-05-28 22:25] nsporillo commented on #245
Also, what version of hcf are you using? do /f version and post the version string as a reply.

[2015-05-28 22:28] HeyImYellow commented on #243
HeyImYellow is my username on the Jenkins.

[2015-05-28 22:33] #241 closed

[2015-05-28 22:42] nsporillo commented on #243
@HeyImYellow you should be added. please note that with a username that has caps, you may lose access as the ci tends to reset names to lowercase sometimes (hence the issues on this tracker in the past about that)

If that happens, don't make a new issue just email me at nsporillo@gmail.com

[2015-05-28 22:43] HeyImYellow commented on #243
Ok, thankyou :)

Where abouts do I view these builds? :)

[2015-05-29 00:52] HeyImYellow opened #246 "Pressure plates in other's land"
So yes, the title says it all.

You can stand on Pressure Plates when they are claimed by another faction which greatly impacts the effect of traps which we would like to change.

Or is there an option to do it, if so how?

[2015-05-29 01:10] nsporillo commented on #246
There already exists an option to prevent this, and it is located in the conf.json. Please spend some time to go through the plugins files so in the future you'll know where to look right off the bat :p

[2015-05-29 01:11] HeyImYellow commented on #246
Oh really :o

Sorry i'll look better next time :)

[2015-05-29 01:27] Doxify commented on #246
The correct name is "STONE_PLATE".

[2015-05-29 08:49] KriticalPvP commented on #243
@nsporillo can you add me? name = KriticalPvP

[2015-05-29 11:27] HeyImYellow commented on #246
Are you sure?

It keeps being replaced to

"null",

[2015-05-29 14:03] drtshock commented on #244
Which version of the plugin are you on?

[2015-05-29 14:03] drtshock commented on #246
Use the material javadocs http://vq.lc/jd/org/bukkit/Material.html

[2015-05-29 14:03] #246 closed

[2015-05-29 19:48] #229 closed

[2015-05-29 21:19] PatManGames commented on #245
PatManTheGreat is my MCExchange thing, Im already logged in and my I have the newest version that I downloaded on MCExchange.

[2015-05-29 21:20] PatManGames commented on #244
Version 0.0.7 that I downloaded on MCExchange.

[2015-05-29 22:15] nsporillo commented on #236
@lyzha I can add this very easily, but there is several TL that are components of other TL, so I'm thinking just not sending any message which contains {null} as opposed to equals {null}.

[2015-05-29 22:34] #169 closed

[2015-05-29 22:36] nsporillo commented on #169
This was added as `{color}`, did some testing and it seems to work how you guys asked.

[2015-05-29 22:49] nsporillo commented on #231
Actually, there is a way to do this, I missed it!

`Conf.broadcastDescriptionChanges`

Look in conf.json

[2015-05-29 22:51] nsporillo commented on #245
Okay. So is there any way you can confirm this with your client?

If so, could you provide any sort of log from the client..?

There isnt anything we're doing on our end that could do this, and I've never had anyone report this issue before...

[2015-05-29 22:59] nsporillo commented on #171
@lyzha how do you purpose we allow op factions..? A setting somewhere that lets ALL factions claim unlimited..? Is it per faction?

[2015-05-30 07:56] Doxify commented on #240
Can I pay the 40/hour rate to make this happen?

[2015-05-30 11:08] KriticalPvP commented on #240
=D @Doxify I see you want this too! =D

[2015-05-30 13:57] Doxify commented on #231
Nick isn't that for description changes?

I'm looking for tag changes.

[2015-05-30 14:05] nsporillo commented on #231
@Doxify Oh right, lol. Sorry about that. Then yes there is no current way to stop the broadcast of these messages. Will add a new value to conf.json for this.

[2015-05-30 14:06] Doxify commented on #231
Alright thanks, players use it to spam chat when I have it muted.

[2015-05-30 16:51] SaiCoFlu commented on #231
Maybe send it to their faction members only?

[2015-05-30 18:16] Doxify opened #247 "Scoreboard related lag on PlayerJoinEvent"
http://aikar.co/timings.php?url=11457188

[2015-05-30 18:22] MoeXIV commented on #247
It seems as if everything that listens to players movements is high :/

[2015-05-30 18:23] MoeXIV commented on #242
FeatherBoard is also a paid resource meaning you have to pay for another plugin to get the full potential for this if it's added :/

[2015-05-30 18:25] MoeXIV commented on #137
Great!

[2015-05-30 19:28] PatManGames commented on #244
v0.0.7-b44

[2015-05-30 19:28] PatManGames commented on #244
Is there a way to fix this?

[2015-05-30 21:51] Doxify commented on #247
Fixed this by disabling everything that has to do with scoreboards.

@drtshock please look into this

[2015-05-31 02:36] #231 closed

[2015-05-31 03:06] #160 closed

[2015-05-31 09:24] KriticalPvP commented on #224
Bump @nsporillo ?

[2015-05-31 18:20] #149 closed

[2015-06-01 02:15] nsporillo commented on #182
@KriticalPvP what is the intended functionality? I tested this and it seems if you are already the faction admin then running /f admin on yourself will kick you out of the faction and it is a one man faction it will disband..

What did you want it to do..?

[2015-06-01 13:40] drtshock commented on #247
90.26%	7,244.98%	 36.22 s	 3,622.49 ms	 0.9	       0.0k	    Connection Handler

What's up with your connection handler?

[2015-06-01 13:40] drtshock commented on #244
Can you paste your full server log in a gist.

[2015-06-01 16:00] BeStrenght opened #248 "Old buyer"
Hi,
I've buy on the last website.
How to get the new updates?

[2015-06-01 16:53] drtshock commented on #248
You get updates on the website where you got it.

[2015-06-01 16:53] #248 closed

[2015-06-01 16:58] BeStrenght commented on #248
send the link please :)

[2015-06-01 19:00] drtshock commented on #248
idk where you bought it..

[2015-06-01 19:13] HeyImYellow opened #249 "Turning off Painbuild?"
I've searched through the configs, set all the TerritoryPainBuild to false but still, people get hurt everytime they try to do something, such as stand on a pressureplate, they are spammed and instantly killed due to the damage?

Please help!

[2015-06-01 19:20] HeyImYellow commented on #249
*** CURRENT SETTINGS ***

"warzoneDenyCommands": [],
  "territoryDenyBuild": true,
  "territoryDenyBuildWhenOffline": true,
  "territoryPainBuild": false,
  "territoryPainBuildWhenOffline": false,
  "territoryDenyUseage": true,
  "territoryEnemyDenyBuild": true,
  "territoryEnemyDenyBuildWhenOffline": true,
  "territoryEnemyPainBuild": false,
  "territoryEnemyPainBuildWhenOffline": false,
  "terri

[2015-06-01 20:15] KriticalPvP commented on #249
Duplicate of #174

[2015-06-01 21:23] MoeXIV opened #250 "Minimal F Show"
I didn't know how to word the title so I just left it at that.

Is there something you can put on the line to make it show if minimal f show is on? I like minimal f show, but there's one line / certain lines that I prefer to be shown all the time.

[2015-06-01 21:34] nsporillo commented on #250
You mean like a {variable} tag to toggle minimal-show on a specific line?

[2015-06-02 06:08] BeStrenght opened #251 "Translate lang.yml and other"
Hi how to make this : http://prntscr.com/7c52n1
Ver :  #53
And they have a fr-FR language file ?

[2015-06-02 08:07] Lilmac12312 commented on #251
This is all configurable within the config file, use your eyes.

[2015-06-02 11:17] nsporillo commented on #251
You can change the scoreboard format in lang.yml.

You can change the /f show output in config.yml.

[2015-06-02 11:17] #251 closed

[2015-06-02 11:24] nsporillo commented on #240
Integrating this with the main HCF repository would be a no go. However, even a side repository managed by myself to add this is still not really feasible.

Featherboard is a premium plugin, and it is obfuscated. It's just not something I wanna work on lol.

[2015-06-02 11:24] #240 closed

[2015-06-02 11:32] BeStrenght commented on #251
Where ...

[2015-06-02 11:32] BeStrenght commented on #251
And i don't want [FACTION] name just want Name in relation color

[2015-06-02 11:34] BeStrenght commented on #251
Username of jenkins : Kwizzy

[2015-06-02 11:36] nsporillo commented on #251
![duh](http://puu.sh/i9wYK/b76843a1f5.png)

[2015-06-02 11:41] BeStrenght commented on #251
Thank's :)

[2015-06-02 14:03] Lotteries commented on #230
@HeyImYellow @nsporillo I don't this should be added. As Nick stated, it ruins the gamemode. Everyone wants this plugin to be more like HCTeams, but HCTeams is a COMPLETELY different gamemode then HCFactions.

[2015-06-04 00:54] ItsPotions opened #252 "The time till regen doesnt work for me?"
Im using {timeleft} from the build 0.0.6 but in 0.0.7 it does not work for me is there a new {thing} for it

[2015-06-04 01:01] SaiCoFlu commented on #252
All {} things are within the config.yml at the bottom with a description of what it is.

[2015-06-04 01:09] ItsPotions commented on #252
@SaiCoFlu I understand that but in the old update you could show the time till regen why is that no longer in the new build

[2015-06-04 01:35] nsporillo commented on #252
It was changed to {time-left}.

This happened with Build 39, which was released 4/7/2015.

[2015-06-04 01:35] #252 closed

[2015-06-04 09:16] Lilmac12312 commented on #228
Where can we configure this? Using the latest version and I'm unable to find it.

[2015-06-04 09:38] SaiCoFlu commented on #228
I don't think it's been implemented yet.

[2015-06-04 10:18] Lilmac12312 commented on #228
@SaiCoFlu I'm sure it was said within the latest update change log?

[2015-06-04 17:30] KriticalPvP opened #253 "Can you add me to the CI on Jenkins?"
I haven't been added yet? I would like to get some dev builds, thanks!

[2015-06-04 17:36] nsporillo commented on #253
KriticalPvP <- exactly like that?

[2015-06-04 18:49] lyzha commented on #171
Per faction sir! :)

[2015-06-04 18:50] lyzha commented on #228
:+1:

[2015-06-04 18:51] lyzha commented on #236
I understand but that would be super cool to be able to disable messages since some messages are not obligatory

[2015-06-04 18:56] lyzha commented on #236
So, you're planning on adding this feature? :100:

[2015-06-04 19:04] lyzha commented on #242
I agree with @KriticalPvP and @MoeXIV is adding those two plugins to the scoreboard options would be so nice, the scoreboards are a really huge issue if you're using HCF because hcf and the other plugin gonna create a clash between both plugin's scoreboard and it's gonna disable / prevent one of the plugin from working :(
So, HUGE :+1: for @KriticalPvP

[2015-06-05 03:58] Lilmac12312 opened #254 "Tab colour"
Within the tab the color for being within a faction is being set as enemy, yes it's set correctly in the config.

http://prntscr.com/7dapno

Using Version 53

[2015-06-05 15:07] KriticalPvP commented on #253
Yes sir,

[2015-06-05 15:08] KriticalPvP commented on #242
Thanks @lyzha !

[2015-06-05 15:09] KriticalPvP commented on #254
Is your username Error? You should specify, I am thinking that it is saying error instead of your username lmao?

[2015-06-05 16:59] SaiCoFlu commented on #254
No hes saying that his name is Red, which I'm guessing it should be green.

[2015-06-05 17:32] nsporillo commented on #254
Can you paste your config in a gist please, also your default-prefix from lang.yml.

(I'm assuming it's just {relationcolor}, but just to be clear)

[2015-06-05 17:35] nsporillo commented on #253
You should have access now.

![lel](http://puu.sh/idykg/ab28adffd9.png)

[2015-06-05 17:35] #253 closed

[2015-06-05 17:37] nsporillo commented on #249
Set `handleExploitInteractionActionSpam` to false in the conf.json per issue #174.

Thanks @KriticalPvP

[2015-06-05 17:37] #249 closed

[2015-06-05 18:31] KriticalPvP commented on #253
Thanks!

[2015-06-05 18:31] KriticalPvP commented on #249
np! =D

[2015-06-05 18:32] #239 closed

[2015-06-05 18:32] KriticalPvP commented on #242
@nsporillo Any idea?

[2015-06-05 18:32] KriticalPvP commented on #224
@nsporillo any ideas or replies?

[2015-06-05 18:37] nsporillo commented on #242
Optimizing the default scoreboard would be the first order of business, since the relation player name tags (over head) rely on it.

Then support for third party plugins may be added, I'm not necessarily opposed unless I need to go way out of my way to integrate. If the author didnt intend on it to be, then I won't bother.

[2015-06-05 22:24] Starwerty opened #255 "The colors of tab disappear"
The colors of the tab disappear when activated a scoreboard that can i do?

[2015-06-06 03:20] nsporillo commented on #255
What version (include the build #) are you using?
What is your username on either MCExchange or the Jenkins?
Can you provide a better text explanation of the problem?
and, can you provide maybe a video of the issue...

Otherwise, have no idea what you even mean...

[2015-06-06 03:22] nsporillo commented on #242
Added some tags:
Enchancement: We're improving upon the existing scoreboards.
Performance: We need to optimize and improve scoreboards before we add anything to it.
On hold: Currently very busy and wont get to this for a bit.

[2015-06-06 03:24] nsporillo commented on #232
Despite being the first issue, going to mark this duplicate of #247

[2015-06-06 03:24] #232 closed

[2015-06-06 03:26] nsporillo commented on #234
Closing this since @Insanity14 hasn't replied in almost two weeks..

[2015-06-06 03:26] #234 closed

[2015-06-06 03:28] nsporillo commented on #230
@Lotteries things shouldn't be added just to be added if they don't belong. Making them configurable doesnt un-do the added complexity and the other implications of more code.

[2015-06-06 03:28] #230 closed

[2015-06-06 03:29] Insanity14 commented on #234
Sorry forgot my login info. Whats the email it was sent to on paypal so that I can search for it in the payments?

[2015-06-06 03:30] nsporillo commented on #182
@KriticalPvP going to need some more information here if we're going to get anywhere with this. It does not appear to be a bug, and the functionality isn't that much of a game-breaker...

Low priority fix that needs justification.

[2015-06-06 03:37] nsporillo commented on #224
@KriticalPvP Low priority feature request that isn't bad. You merged unrelated issues into one, so I'm only going to acknowledge the first one since the 2nd one is more of a thing your custom server would have, not the public HCF.

However, it is not necessarily out of the realm of possibility to design an abstract system which interprets some fancy text and displays it to the user. So you could s

[2015-06-06 03:39] nsporillo commented on #175
Note to self: Perhaps individual TL for true / false and then use that throughout the plugin if not already. @nsporillo

[2015-06-06 03:40] nsporillo commented on #236
Yeah, will get to it in the next few days, have been very busy with a lot of things lately.

[2015-06-06 03:43] nsporillo commented on #192
English is the main lang for this plugin, the defaults are set to make sense in English. I guess we could rephrase the sentence and introduce a string replacement for player usernames... but it's a bit of a stretch and the author of this issue has been gone forever.

[2015-06-06 03:43] #192 closed

[2015-06-06 03:44] Insanity14 opened #256 "Loss of access"
OK So I lost access and the other post I had made was closed because I didnt respond. I forgot my login info. I've found the trans ID for the thing.
Jenkins ID: Insanity14
MCExhange ID: Insanity14
Trans ID: Unique Transaction ID #57394914BX366712G

[2015-06-06 10:43] KriticalPvP commented on #182
If you are in a solo faction ( You are leader ) and you /f admin yourself it disbands the faction. Not a huge issue but still worthy of fixing

[2015-06-06 10:43] KriticalPvP commented on #224
Thanks!

[2015-06-06 12:55] Doxify commented on #255
He's using a different scoreboard plugin, probably featherboard.

You need to be using the scoreboard that is integrated into the factions plugin if you want to see relation colors above heads and in tab.

[2015-06-06 14:08] MarckF commented on #255
Yes Doxify, I agree with you, but when we add others plugins like Koth plugin or BattleZ_Border which also have their own Sb, it makes factions tag disappear. Do you know how can we fix that?

[2015-06-06 15:01] lol768 commented on #256
Previous issue for context: https://github.com/drtshock/HCFProblems/issues/234

[2015-06-06 16:22] SaiCoFlu commented on #228
Any update when this and #208 could be added @nsporillo ?

[2015-06-06 18:27] MoeXIV commented on #250
Exactly,  @nsporillo

[2015-06-06 23:30] #255 closed

[2015-06-06 23:31] drtshock commented on #234
billing@puzlinc.com or trenthensler@live.com

[2015-06-06 23:33] Insanity14 commented on #234
Here is the Trans ID: Unique Transaction ID #57394914BX366712G

[2015-06-07 12:55] lyzha commented on #192
You're not planning on adding that then?

[2015-06-07 12:55] lyzha commented on #236
:+1:  Thanks

[2015-06-07 12:56] lyzha commented on #175
It's not done already I have looked into :) :+1:

[2015-06-07 13:51] lyzha opened #257 "Invisbility issues"
When a player drunk an invisibility pot we can still see their tags which is an issue for me...
I'm using spigot (http://prntscr.com/7e5s05) and factions (http://prntscr.com/7e5rq9)

[2015-06-07 14:13] HeyImYellow commented on #257
I don mean to sound like a dick, but this feature is something 99.99% of us want to keep added as it plays an important role in teamfights when it comes down to working with your faction and allies. I highly doubt they wil remove this feature :P

[2015-06-07 14:16] lyzha commented on #257
I dont think thats an intended feature is it? I agree with you that the colored tag is AN AMAZING feature but when it come to invisibility fights its a big issue

[2015-06-07 14:17] HeyImYellow commented on #257
I think you could be getting me confused, do you mean you can see ENEMY tags when they are invis?

[2015-06-07 14:23] lyzha commented on #257
yes sir! allies enemies neutral ect..

[2015-06-07 14:25] HeyImYellow commented on #257
Oh, I see why you made this issue now. That's really weird as I've never had that issue myself, try updating to the newest version of HCFactions if you haven't already.

[2015-06-07 15:21] SaiCoFlu commented on #257
Already made an issue about this a while ago, this can't be fixed unless you stop running 1.8 / 1.7.10 loading 1.8 as its a bug within 1.8 and would take to much effort as @nsporillo doesn't like working with TagAPI.

[2015-06-07 17:02] drtshock commented on #257
This is part of scoreboards.

[2015-06-07 17:02] #257 closed

[2015-06-07 17:36] lyzha commented on #257
I know a server using HCF plugin have fixed that bug and they are using 1.7 and 1.8 they arent good developers so I think everyone could fix that we just have to figure out how they have done that...

[2015-06-07 21:27] ItzWid13 opened #258 "Hey, Help :D"
Yo, how do i do to claim SafeZone exactly?

[2015-06-08 00:39] drtshock commented on #258
[19:39:18]  <@Korobi>	.claim: To claim a warzone or safezone, do /f claim <radius> <warzone/safezone>

[2015-06-08 00:39] #258 closed

[2015-06-08 01:33] ItzWid13 commented on #258
EXACTLY?

[2015-06-08 01:41] ItzWid13 opened #259 "Quit of CI?"
Hey, You kicked me of seeing the download of Jenkins.
ID: ItzWid

[2015-06-08 02:43] #236 closed

[2015-06-08 03:01] Lilmac12312 commented on #259
Maybe because you're either trying to re-sell the plugin or you've done something wrong.

[2015-06-08 12:14] MoeXIV commented on #257
On 1.8 it's client side. That's not something you can fix without adding dependencies and major effort for something that's meant to be in the new version.

[2015-06-08 12:19] MoeXIV commented on #137
Bumping this so it doesn't close due o inactivity.

[2015-06-08 13:14] ItzWid13 commented on #259
Nope, i buy it and im not in the ci

[2015-06-08 15:14] ViperCobra opened #260 "How to claim land for safezone?"
I can't figure it out please tell me

[2015-06-08 15:22] ViperCobra commented on #260
Oh yeah I own the plugin my mcexhange is ViperCobra

[2015-06-08 15:29] ItzWid13 commented on #260
Issue #258

[2015-06-08 15:36] ViperCobra commented on #258
f claim just claims for the faction im in and I cant join safezone...

[2015-06-08 15:41] ViperCobra commented on #260
./f claim only claims land for the faction I am in and I can't join safezone so how is that supposed to help

[2015-06-08 16:08] ItzWid13 commented on #258
Yeah

[2015-06-08 16:47] #260 closed

[2015-06-08 23:55] ScarOG opened #261 "Access to CI"
Could I have access to CI my username is ScarOG

I purchased via the old website, then got my access transferred to MC Exchange.

[2015-06-09 05:48] Lilmac12312 commented on #259
Well maybe you're not added within the CI or you got removed for a reason.

[2015-06-09 11:17] nsporillo commented on #137
@MoeXIV this wont need to be bumped, it won't be closed.

It is however a bit of an undertaking and while I have gotten close a few weeks ago, still needs work.

[2015-06-09 16:49] drtshock commented on #259
I don't see your name on any download list so you must've been leaking the plugin which led to you being removed.

[2015-06-09 16:49] #259 closed

[2015-06-09 16:50] drtshock commented on #261
All fixed.

[2015-06-09 16:50] drtshock commented on #256
Added back to the CI.

[2015-06-09 16:50] #256 closed

[2015-06-09 16:51] #261 closed

[2015-06-09 17:02] Aireesan opened #262 "Chat Format"
Is there a way I can have the chat format as such?

Factionless: &8[&c-&8] &7{PREFIX} {DISPLAYNAME} &c» &7{MESSAGE}
Factioned: &8[{RELCOLOR}{FACTIONTAG}&8] &7{PREFIX} {DISPLAYNAME} &c» &7{MESSAGE}

[2015-06-09 17:08] Aireesan opened #263 "Enable/disable deathbans in certain areas"
I've seen other servers do this while using this plugin.
I want it so in safezone, entering will say this:
Entering SafeZone (No Deathban)
but for WarZone it'd be:
Entering WarZone (Deathban)
... and for road it'd be Road (Deathban)

You can see this on many servers.

[2015-06-09 17:42] drtshock commented on #262
Use your chat plugin.

[2015-06-09 17:42] #262 closed

[2015-06-09 18:24] SaiCoFlu commented on #263
Road would be a faction, but I like the idea, although this plugin is literally turning into a HCT copy.

[2015-06-09 18:34] Lotteries commented on #263
@SaiCoFlu I agree :/ Why not try Kohi people! ;o

[2015-06-09 19:30] nsporillo commented on #263
Death-banning is handled by a separate plugin, therefore we cannot toggle it inside HCF. It is the responsibility of your death banning plugin to handle this using the factions api...

However, there is [this](https://bukkit.org/threads/hcteams-related-death-ban-plugin.364163/) thread which appears to be what you're looking for, except it's just an idea.

[2015-06-09 22:48] Doxify opened #264 "[Feature Request] Anti-Alting"
Our server currently has a way to combat alting but I think there's a better way to do it. As you all know alting is a huge thing in HCF and it is not allowed. A good way to combat it is to have the plugin check IPs on faction join / invite. If someone tries to join a faction and they have the same IP as someone else in the faction then it will simply not allow them to join.

You can also add bypa

[2015-06-10 15:52] drtshock commented on #264
Is IP really an effective way to do this though? I mean, I can just switch proxy locations and be back on with a new IP in as long as it takes me to relaunch minecraft.

[2015-06-11 19:43] AlfieC commented on #264
Many hacked clients support proxying + alting too, so probably not much difference.

[2015-06-11 19:51] AlfieC opened #265 "Requesting player kill count in /f who"
Hey,

I'm requesting a way to view players kill counts in /f who. Could be achieved using:
[code]

[2015-06-11 21:42] #37 closed

[2015-06-11 21:42] #265 closed

[2015-06-11 21:45] nsporillo commented on #265
Thanks, didn't know it was as easy as that. Must have missed whenever the statistics system was added.

The new variables are `{faction-kills}`, `{faction-deaths}`, `{player-kills}`, and `{player-deaths}`.

Use build 54 or higher.

[2015-06-11 22:04] SaiCoFlu commented on #265
@nsporillo I'm having a problem with {player-kills}, on /f show it currently looks like this:
http://prntscr.com/7fwv1t

And in the config, I have it set to the follow:
  - '&e- Online Members: {online}&6[&b{player-kills}&6]'

[2015-06-11 22:15] AlfieC commented on #265
It uses the Statistics system so yeah supports UUIDs. You can clear these by deleting the player data in the world folder.

[2015-06-11 22:37] SaiCoFlu commented on #265
Thanks @AlfieC , do you know how the other issue could be fixed though?

[2015-06-11 22:40] SaiCoFlu opened #267 "{player-kills} Issue."
@nsporillo I'm having a problem with {player-kills}, on /f show it currently looks like this:
http://prntscr.com/7fwv1t

And in the config, I have it set to the follow:
  - '&e- Online Members: {online}&6[&b{player-kills}&6]'

[2015-06-12 02:38] nsporillo commented on #267
You're looking for the player kills variable after each player in the members list correct?

Just affirmed, as this was requested already and i'm working on it now.

[2015-06-12 02:41] nsporillo commented on #264
Does anyone know the rate of people who use alt accounts but remain on the same IP address while doing so? I mean this could maybe act as a deterrent but there isn't a great substitute for a good staff. Reminds me a warning system that would learn that accounts that first join minutes after someone is banned are more likely to be alt accounts and based on that like monitor behavior programmaticall

[2015-06-12 03:30] nsporillo commented on #267
@SaiCoFlu you could always add it to the tooltips, that was the idea of adding tooltips (additional player info)

    show:
        - "&6Last Seen: &f{last-seen}"
        - "&6Rank: &f{group}"
        - "&6Balance: &a${player-balance}"
        - "&6K/D: &b{player-kills}&6/&c{player-deaths}"

Same goes with the factions, it's neater and requires less hackish methods on my end to piece together the

[2015-06-12 09:51] SaiCoFlu commented on #208
Any updates on when this feature would be added?

[2015-06-12 16:54] SaiCoFlu commented on #267
@nsporillo I mean, I could do that, but meh not everyone enjoys the necessary hovering over someones name to just view kills, when it could be clearly stated beside their name on the /f show, in my opinion its a lot better, I'd like for you to make it compatible and for it to be put after the name, instead of before the players name if possible and I can assure you, others would like this to.

[2015-06-14 22:15] MoeXIV commented on #250
Is this going to be added. I justified. ;(

[2015-06-14 23:26] AlfieC opened #268 "{faction-creation-date} request."
Requesting to have the {faction-creation-date} tag added to be able to be used anywhere in chat/tooltips etc. We'd like to be able to have that on join, so for example: "Founded: 19/05/15"

[2015-06-15 03:21] IlPicasso opened #269 "Could I get added to the CI"
Hello! I just purchased the plugin

My IG is Il_Picasso I alredy registered

Mail: moises_ortizdefas@hotmail.com

[2015-06-15 03:47] IlPicasso opened #270 "Bug on /f show (Internal Error)"
Hello I just purchased the plugin and while I was testing it  I got this error on /f show

[23:37:58] [Server thread/INFO]: KevinKinGamer issued server command: /f desc Vatos Locos
[23:37:59] [Async Chat Thread - #3/INFO]: - <TheEstebanGames> invitame
[23:38:01] [Server thread/INFO]: KevinKinGamer issued server command: /f invite TheEstebanGames
[23:38:08] [Server thread/INFO]: TheEstebanGames iss

[2015-06-15 11:27] KriticalPvP1 opened #271 "{Bug} Tab color"
Please support could put the tab compatible with battle_border and Koth
Thx.

[2015-06-15 14:57] AlfieC commented on #270
Read your error message. Your group has no permissions.

[2015-06-15 15:06] nsporillo commented on #270
^ This is not a bug with /f show it is a problem with your permissions. You can go into tooltips and remove the line which displays the users group if you don't know how or don't want to fix permissions.

[2015-06-15 15:09] nsporillo commented on #268
This is already a thing and the tag is `{create-date}`, however you won't be able to just throw it into the lang for when a player joins.

[2015-06-15 15:13] #271 closed

[2015-06-15 15:44] KriticalPvP1 commented on #271
by closed?

[2015-06-15 15:49] MoeXIV commented on #271
Not a bug they're willing to fix. Those plugins are conflicting with HCFactions

[2015-06-15 15:52] KriticalPvP1 commented on #271
Where I can report this problem?

[2015-06-15 16:17] nsporillo commented on #271
@KriticalPvP1 where did you buy hcf? Can you confirm you have a license?

Plus like @MoeXIV mentioned those plugins conflict with hcf. We'll have better integration someday.

[2015-06-15 17:14] drtshock commented on #269
https://ci.drtshock.net/job/HCFactions/

[2015-06-15 17:14] #269 closed

[2015-06-15 17:14] #270 closed

[2015-06-15 18:44] KriticalPvP1 commented on #271
@nsporillo I buy the plugin in http://mcexchange.org/resources/hcfactions.2/ my nick is KriticalPvP

[2015-06-15 18:52] nsporillo commented on #271
@KriticalPvP1 there is another account already receiving support and that is @KriticalPvP ...

[2015-06-15 18:52] #268 closed

[2015-06-15 20:21] PatManGames commented on #244
OK wait. I figured out the problem. With Essentials, when you talk in chat with /f c a, or /f c f, it says
**FactionName PatManGames: Hi
[Owner] PatManGames: Hi
My problem is with essentials, it not only chats in /f c a, or /f c f, but it also talks in global chat. Is there any way to fix this, can I use essentials or do I have to delete it and find something else?

[2015-06-15 23:05] SaiCoFlu commented on #244
I use Essentials and it works perfectly fine.

[2015-06-15 23:09] SaiCoFlu commented on #228
@nsporillo Sorry for the second tag, as you never responded the first time. you got any estimation on when this could be implemented? I'm eager for this to be added 😁.

[2015-06-16 06:41] #228 closed

[2015-06-16 06:46] nsporillo commented on #173
Placing this issue on hold. Did not find a very effective way to prevent mobs from targeting players in their own territory. Furthermore, should we even be worrying about this? It is after all, hard-core.

[2015-06-16 06:48] #263 closed

[2015-06-16 07:38] Insanity14 commented on #256
I still dont have access to the plugin on the Jenkins page nor do I have access to it on the MCMarket.

[2015-06-16 16:17] KriticalPvP commented on #271
WHAT THE FUCK
Thats not me

[2015-06-16 16:18] KriticalPvP commented on #271
He tried to scam the plugin from me.

[2015-06-16 16:20] Doxify commented on #271
lol ^

[2015-06-16 16:21] KriticalPvP commented on #271
@Doxify I get tonnes of PM's on MC-Exchange for people asking for the plugin, lots of idiots... :/ someone actually stole my name... That is pathetic...

[2015-06-16 16:21] Doxify commented on #271
Yeah that's pretty funny

[2015-06-16 16:22] KriticalPvP commented on #271
Deleted my review on mcexchange

[2015-06-16 16:22] KriticalPvP commented on #271
Hopefully they wont find me now >:)

[2015-06-16 16:22] KriticalPvP commented on #271
Next they'll be stealing someone elses... O_o

[2015-06-16 16:23] KriticalPvP commented on #271
Identity theft... @KriticalPvP1 Get the fuck out of here. I am the only @KriticalPvP You'll ever see.

[2015-06-16 16:30] Doxify commented on #264
No one will use a proxy on a pvp server... where latency is really important.

[2015-06-16 17:11] drtshock commented on #271
So that solves that mystery.

[2015-06-16 19:21] MoeXIV opened #272 "{color} variable bugging with Wilderness Factions"
As the title states. When you f show a real faction the color variable works as a header and footer, if you're in Wilderness the {color} variable just shows as "{color}" instead of the relationship.
http://prntscr.com/7hqd4j

In this case, I really feel that there should be a custom section to customize the header for "f show"ing wilderness factions as I've seen plenty of servers using this plugin

[2015-06-16 21:37] IlPicasso opened #273 "Can't Find Long string that bugs the scoreboard"
Here is my Lang.yml

I can't get my scoreboard work
By the error log it says it is a long string but I can't find the long string and I dont understand why it happens either if lang.yml has not anything to do with scoreboards

This is the error log:
(edit, pasting this in for you): https://gist.github.com/nsporillo/45a1a5881978e0cdede7

[2015-06-16 22:49] KriticalPvP opened #274 "Where do I get new builds?"
Where can I get the new version of HCF with the {player-kills} ? Has it even been fully released? I cannot find it on mc exchange? I'm a tiny bit confused?! All help is appreciated!

[2015-06-16 22:51] nsporillo commented on #274
https://github.com/drtshock/HCFProblems/wiki/Frequent-Issues#access-to-ci--dev-builds

Latest features are found on the CI, in dev-builds. Developer builds are a big portion of why purchasing a license is a good ideas as opposed to using a leaked build - you get updates and support ;)

[2015-06-16 22:51] #274 closed

[2015-06-16 22:54] nsporillo commented on #273
Please post your errors in [here](https://gist.github.com/) and link the gist to us. Posting the raw log in your issue is unacceptable.

[2015-06-17 00:47] nsporillo commented on #272
Not quite sure what you're getting at here, the {color} tag is working just fine. I think what you're asking for is a way to customize what is sent for a wilderness faction..?

Default functionality is we send the first line of the show section (which now that I look at it, needs some work ;p)

[2015-06-17 04:00] nsporillo commented on #267
@SaiCoFlu that feature is not and will not be planned for addition. Already investigated and determined that is not worth the trouble to add this (a lot of work needs to be done to add this, it's not as easy as it would be with a private, custom plugin since it's just hard-coded that way)

[2015-06-17 04:00] #267 closed

[2015-06-17 16:41] AlfieC opened #275 "/f who players kills showing before the player name."
Title shows the player's kills before their name, but in the config we have it showing after.

[2015-06-17 16:43] AlfieC commented on #275
http://prntscr.com/7fwv1t is a picture.

[2015-06-17 16:51] nsporillo commented on #275
This issue was already closed, because it is not a valid way to format. The plugin does not and will not recognize that you want the player kills after every player in the list. It is simply not something we're going to add. The way fancy messages work and how formatting is done, this cannot be achieved without way more work, time, and effort then the features even worth. Being configurable, we ha

[2015-06-17 16:51] #275 closed

[2015-06-17 16:57] nsporillo commented on #273
That aside, the issue isn't that a string is too long, it is that the string is empty and the method is using an index in the string that is out of bounds...

[2015-06-17 17:39] IlPicasso commented on #273
Mt Lang file
http://pastebin.com/kNx8PTpg

[2015-06-17 17:59] KriticalPvP commented on #274
http://prntscr.com/7i3mx4

[2015-06-17 17:59] KriticalPvP commented on #274
That happens, and thank you!

[2015-06-18 06:25] Lilmac12312 opened #276 "More than the set members?"
http://gyazo.com/74783467d0953cdc379bcbcc24531cda

I have no idea how it happened I was just reported the issue via one of my staff members. Currently running build 53

[2015-06-18 13:48] AlfieC commented on #275
It wouldn't be 'going out of your way to copy another server' - it's an option that's configurable and it does not work as expected in the config. Is it not possible to simply change the order that the list is output in? To return the name before the kills? It does not appear to be that complicated - even adding in a configurable 'player list suffix' in which we could add in 1 tag would be much be

[2015-06-18 13:55] MoeXIV commented on #275
The picture you're looking at isn't the kills before every players name, it's the player kills variable before the online variable, MEANING that it only displays before the first person, no one else.

If there's 1 thing I hate its when people tell developers that additions are rather "easy" when they have no Java experience whatsoever.

[2015-06-18 14:00] MoeXIV commented on #272
Wilderness Factions are meant to be enemies (as a wilderness names in tab are red indicating enemy).

[2015-06-18 14:11] AlfieC commented on #275
MoeXIV: wrong. It works in some places - for example https://i.imgur.com/2Dtegat.png

"If there's 1 thing I hate its when people tell developers that additions are rather "easy" when they have no Java experience whatsoever.".

...no Java experience whatsoever? Please check back in this issue tracker - I've submitted lines of code to improve the plugin, for example the Statistics system which Nick

[2015-06-18 16:21] nsporillo commented on #275
@AlfieC bug fixes are appreciated if you want to push them upstream. I originally closed this because of the nature of FancyMessages.. There is two parts of a line which contains a fancy variable, the prefix and then the actual list of elements (online players, offline, enemies, allies). The prefix is colored and parsed and then the list is appended on to the end of it.

What I was looking to try

[2015-06-18 16:57] AlfieC commented on #275
@nsporillo We didn't do it using 'variables' per se - we simply changed it so instead of returning a player's name it returns the player's name, + how many kills they have. This is specific to our use case, so would be unwise to push this to master - but you could push it + have a 'suffix-names-with-kills: true/false' in config.

[2015-06-18 17:05] nsporillo commented on #275
Oh, well yeah see that works but isnt what we're looking to have in the plugin. Shouldn't clutter up the plugin with ad hoc logic, it should just have a more powerful parsing engine lol

[2015-06-18 17:07] AlfieC commented on #275
What about a slightly less powerful engine that would simply String.replace("{player_kills}", FPlayer's kills) for the substitution of placeholders? Would be slightly less ad-hoc but still a bit more useful.

[2015-06-18 18:06] drtshock commented on #276
Reproduce the issue and show us your config.yml and conf.json please.

[2015-06-18 18:11] nsporillo commented on #272
@MoeXIV you're going to have to try to see if build 57 fixes your issue, and if not then post your /f show section and what the problem is...

The {color} tag works fine for me whenever I use it, not quite sure what is going wrong with yours so you're gonna have to provide more information.

[2015-06-18 18:33] nsporillo commented on #276
@Lilmac12312 make sure that `factionMemberLimit` in conf.json matches the hard number you have in your show output. There isn't a current way to get actual factionMemberLimit via variable tags (but there should), so it's possible it could say 15 but really be unlimited.

[2015-06-19 06:27] Lilmac12312 commented on #276
Alright I'll double check on that, Thanks.

[2015-06-20 00:10] TemptingMC opened #277 "Questions"
Is there perm. nodes for /f dtr and /f unfreeze?

[2015-06-20 01:58] Lilmac12312 commented on #277
Yep not sure what they are though.

[2015-06-20 02:04] Lilmac12312 commented on #276
Never mind it was an issue with the conf.json as nsporillo said.

[2015-06-20 03:11] TemptingMC commented on #277
@Lilmac12312 no help

[2015-06-20 05:04] Lilmac12312 commented on #277
Well you asked "is there" not "what are they".

[2015-06-20 05:05] TemptingMC commented on #277
Your so technical. Stop commenting on my issue, you are no help.

On Saturday, June 20, 2015, Lilmac12312 <notifications@github.com> wrote:

[2015-06-20 05:17] #276 closed

[2015-06-20 05:27] Lilmac12312 commented on #277
I'm not being "technical", I'm just pointing out the problem within your post regarding if there is permission nodes for those commands.

[2015-06-20 05:35] nsporillo commented on #277
https://github.com/drtshock/HCFProblems/wiki/Permissions-list

[2015-06-20 05:35] #277 closed

[2015-06-20 11:11] KriticalPvP commented on #277
Oh look, @TemptingMC being an asshole again?

[2015-06-20 12:15] Lilmac12312 opened #278 "Invis potions"
When drinking an invisibility potion you are able to see faction members but I was wondering if you could make it so you can also see your allies too?

[2015-06-20 13:12] SaiCoFlu commented on #278
I requested this before, they don't like working with TagAPI.

[2015-06-20 19:44] SaiCoFlu commented on #208
@nsporillo Any idea when this could possibly be added buddy?

[2015-06-20 20:11] nsporillo commented on #208
@SaiCoFlu will look into it sometime today.

[2015-06-20 22:40] Lilmac12312 commented on #278
Ugh that's annoying but I'm sure it'd be the same as how they're doing it with faction members?

[2015-06-20 23:40] lyzha commented on #175
Note to @nsporillo done? <3

[2015-06-21 00:20] nsporillo commented on #175
@lyzha not yet, will work on it when i get a chance (i've been really time constrained lately)

[2015-06-22 06:28] nsporillo commented on #208
The update will recognize the sequence `/n/` as a newline marker.

    faction-leave: <b>Leaving %1$s/n/<b>Entering %2$s

[2015-06-22 06:28] #208 closed

[2015-06-22 06:34] #175 closed

[2015-06-22 06:35] nsporillo commented on #175
Whats new:

![aye](http://puu.sh/iy8bI/05d6261d4f.png)

you can now configure the TL appropriately. Sorry for the super long wait on this.

[2015-06-22 06:39] nsporillo commented on #171
How exactly do you plan on making an OP faction?

I can add some more logic to allow for this, but I don't think an entire new command just for OP factions is appropriate..?

[2015-06-22 06:39] Lilmac12312 opened #279 "Invisibility issues with teams"
When using 1.8 you are able to see those using invisibility potions who aren't in your faction. I'm unsure if this was meant to be or is a bug but can this be fixed?..

[2015-06-22 06:59] nsporillo commented on #279
Duplicate of #172, #257 , #278.
Upstream bug + explanation: https://github.com/drtshock/Factions/issues/327

A fix appears to be possible using [ProtocolLib](http://dev.bukkit.org/bukkit-plugins/protocollib/forum/65015-how-to-set-invisiblity-potion-only-for-one-team/)...

I might investigate a fix by hooking into ProtocolLib, it is one of those things that relies entirely on another plugin for fun

[2015-06-22 07:10] #161 closed

[2015-06-22 07:13] #278 closed

[2015-06-22 07:13] nsporillo commented on #278
Closed this because moved issue and discussion to #279.

[2015-06-22 07:14] SaiCoFlu commented on #228
Was this ever added?

[2015-06-22 07:17] nsporillo commented on #228
@SaiCoFlu .. yes
![yes](http://puu.sh/iy9RV/690200b79f.png)

Use latest dev build and make sure your config has the new list. It does not auto generate, thus if you don't update anything then ./f show will probably be blank for a permanent faction with no players.

Please stay informed when your issues are resolved. Check dev builds.

[2015-06-22 07:21] nsporillo commented on #273
Noticed you translated quite a bit so far. I dont really want to tell you to completely regen your lang file but if you're **still** having issues with this then perhaps it's worth a try.

Also make sure to use the latest HCF unless you have some other reason not too.

[2015-06-22 07:21] SaiCoFlu commented on #228
I was keeping up to date, but nothing was mentioned in the build changes/features about f show for this. But thank you :)

[2015-06-22 07:25] nsporillo commented on #228
![what](http://puu.sh/iyac2/6147b7b948.png)

![the](http://puu.sh/iyacz/572c48d517.png) <----------- click here

![heck](http://puu.sh/iyadY/b657cb856f.png)

All this information is available to you as a logged user IIRC. There is no better changelog then the build server itself. I do not write any other forms of changelogs, I just document my commits. Please read them if you're interested or curi

[2015-06-22 08:28] Lilmac12312 commented on #279
Thank you, appreciate this a lot. Hopefully there is a positive outcome once this is done :)

[2015-06-22 08:33] SaiCoFlu commented on #228
Thanks, I must've not noticed. :P

[2015-06-23 02:59] nsporillo commented on #279
![img_4940](https://cloud.githubusercontent.com/assets/1480197/8298102/37c25632-1932-11e5-9ac6-ae5a0b244e36.JPG)

This is the spec that i'm going to try and implement.

[2015-06-23 05:47] nsporillo commented on #279
@Lilmac12312 spent the last few hours trying to figure this one out using ProtocolLib. Have not figured out any way to accomplish this...

[2015-06-23 05:52] #182 closed

[2015-06-23 05:54] nsporillo commented on #245
Closing this because @PatManGames failed to reply in 3 weeks.. :unamused:

[2015-06-23 05:54] #245 closed

[2015-06-23 05:55] nsporillo commented on #173
Closing this, havent had any interest nor did I find an consistent and efficient way to accomplish this. Not to mention we're talking about HCF, not Light-core factions :stuck_out_tongue:

[2015-06-23 05:55] #173 closed

[2015-06-23 05:57] nsporillo commented on #254
Closing due to inactivity @Lilmac12312 guessing you dont have this issue anymore?

[2015-06-23 05:57] #254 closed

[2015-06-23 05:57] nsporillo commented on #244
This is an essentials issue it looks like, not HCF.

[2015-06-23 05:57] #244 closed

[2015-06-23 05:59] nsporillo commented on #171
@lyzha for example, adding the logic would allow for 3rd party plugins to handle the OPFaction part. After all this is HCF, not OPF. I dont mind adding the code but I do mind adding a command.. maybe i'll release a OPFaction jar to work with HCF...?

[2015-06-23 06:55] Lilmac12312 commented on #279
@nsporillo damn man. Hopefully you can, best of luck.

[2015-06-24 02:29] IlPicasso commented on #273
This strong was too long

default-prefix: '&r[&3{faction}&r]{relationcolor}'

After long testing :)

[2015-06-24 02:29] #273 closed

[2015-06-24 22:11] HeyImYellow opened #280 "Scoreboard"
Is there a way to disable scoreboard for everyone completely in the newest update?

In my personal opinion I prefer not to use the scoreboard (:

If it is not added, please could you add it, thanks.

[2015-06-24 22:31] drtshock commented on #280
Yes there is an option in the config.yml for that and always has been.

[2015-06-24 22:31] #280 closed

[2015-06-26 01:11] Aireesan opened #281 "How to set a copy of warzone?"
How do I make a faction, but make it function as if it was warzone? No members, still existent.
I want a "road" faction for the servers road extending to the worldborder.

[2015-06-26 01:55] SaiCoFlu commented on #281
/f permanent <faction> and use /f bypass to override your set of claim land that is allowed.

[2015-06-26 04:09] Aireesan commented on #281
Thanks!

[2015-06-26 04:23] #281 closed

[2015-06-27 18:00] Scarcee opened #282 "/f home command"
When players go to do /f home it does not let them. But if they type the command in two times it lets them tp.
For example.
when they type it in the first time it says wait 10 seconds. (Then does not TP)
When they type it in the second time it will work.

[2015-06-27 18:10] drtshock commented on #282
Which version are you on?

[2015-06-27 18:14] Scarcee commented on #282
Factions v0.0.7 -b59

[2015-06-27 21:31] nsporillo commented on #72
The original spec was for a /f eotw start and /f eotw end. I dont really think it's something that you can just turn back off. We'd have to keep a copy of all factions prior eotw so we can revert back if needed and it just doesnt seem like a good idea to do that.

Instead, /f eotw would irreversibly end the world.. so just be an OP to do this.

[2015-06-28 21:18] TemptingMC commented on #72
Not needed anymore, lol. This was opened 2 months ago.

On Sat, Jun 27, 2015 at 5:31 PM, Nick Porillo <notifications@github.com>
wrote:

[2015-06-28 22:23] SaiCoFlu commented on #72
@TemptingMC No one cares what you need or don't need, this plugin is made for other people, not only you.

[2015-06-28 22:30] TemptingMC commented on #72
@flu I originally was the one who made this post dumbass.

On Sun, Jun 28, 2015 at 6:23 PM, Flu <notifications@github.com> wrote:

[2015-06-29 05:35] Lilmac12312 opened #283 "Prevent pearl glitching?"
Would it be possible to prevent pearl glitching into bases?

Such as prevent people being able to pearl through fence gates by making the fence gates a full block.

If you want a demo on how to do this just lemme know and I can upload one soon :)

[2015-06-30 00:42] ScarOG opened #284 "/f claim not working."
Don't know why /f claim isn't working. But either way It worked a couple of days ago then decided to break out of nowhere.

Here is the gist:
https://gist.github.com/ScarOG/e06489875acce5ae2157

[2015-06-30 02:35] drtshock commented on #284
Update worldguard to 6.x

[2015-06-30 02:35] #284 closed

[2015-07-01 06:03] Lilmac12312 commented on #283
Bump

[2015-07-01 06:56] MoeXIV opened #286 "Save Task Using Almost 100% of CPU"
http://prntscr.com/7nff4l
Simple enough. Server has been lagging during tests; did timings and I figured out Factions is causing all the lag :/

[2015-07-01 16:59] drtshock commented on #286
Can you paste the full timings

[2015-07-01 22:47] Permiting opened #287 "Safezone/Warzone Unclaiming"
Hello, is there any type of command to unclaim all safezone or warzone's claimed land? cause for the time being all i know how to do is be in /f bypass and /f unclaim and it auto unclaims for warzone or safezone. but if there is a command to unclaim all of it, that would be ALOT easier!

  -Thanks Permiting!

[2015-07-01 23:05] drtshock commented on #287
not for warzone or safezone. unclaimall only works for your own faction.

[2015-07-01 23:05] #287 closed

[2015-07-01 23:07] Permiting commented on #287
Dang, This is really confusing trying to claim my spawn with safezone and out to 500 blocks with Warzone in every direction from spawn :(

[2015-07-02 00:18] Permiting opened #288 "Is there anyway to get all of my Warzone unclaimed"
Hello its me again, but i have claimed a HUGE radius by accident :( i tried removing the actual plugin itself, but it still has the claims when i reinstall the plugin! Any help??

[2015-07-02 00:52] Permiting commented on #288
Nvm i solved it :)

[2015-07-02 00:52] #288 closed

[2015-07-03 09:38] LegitLanden opened #289 "Conf.json"
HCFactions doesn't allow you to edit the conf.json. I't will revert it back to it's default settings upon edit.

[2015-07-03 11:15] Lilmac12312 commented on #289
It works fine..

[2015-07-03 12:51] lyzha commented on #283
There are plugins for that

[2015-07-03 16:11] nsporillo commented on #289
@LegitLanden it is completely possible to edit the conf.json while the server is running and then /f reload.

[2015-07-03 18:15] HeyImYellow commented on #72
Bump. We probably need this more than any of the other stuff that's on hold, it's so annoying to run the EOTW...

[2015-07-03 18:41] TemptingMC commented on #72
Yea, when I needed it, they didn't rush it. I'd just wait as they don't
rush anything (atleast if i ask).

On Fri, Jul 3, 2015 at 1:15 PM, HeyImYellow <notifications@github.com>
wrote:

[2015-07-03 19:57] lyzha opened #290 "lang.yml"
http://hastebin.com/zunacezesu.xml I need help with my lang.yml :(

[2015-07-03 20:35] OGCalee commented on #289
Is there anyway to be able to edit that chat format?

[2015-07-03 21:50] Lilmac12312 commented on #283
@lyzha I don't want to use a separate plugin. It's just one thing and half out there are shit.

[2015-07-05 10:54] Doxify commented on #286
Same issue but mine is worse.

Also getting this error constantly in console:

http://hastebin.com/adejufanih.avrasm

Here are my full timings:

http://timings.aikar.co/?url=11825503

[2015-07-06 16:59] WFloydBoy opened #292 "/f show remove undefined lines"
So I see that some lines for /f show don't appear if the variable is blank but for some others, that's not the case.

  - '<a>Allies(<i>{allies-count}<a>/<i>{max-allies}<a>): {allies} ' # only shows if allies are made
  - '<a>Members Online: (&e{online-count}&6): {online}' # only shows if members are online
  - '<a>Members Offline: (&e{offline-count}&6): {offline}' # only shows if members are offl

[2015-07-06 17:46] drtshock commented on #292
I'm not sure what the question / issue is.

[2015-07-06 17:47] drtshock commented on #286
@Doxify is your disk full? Did you reload / use plugman? Are your file permissions setup correctly?

[2015-07-06 17:47] drtshock commented on #289
Using a chat plugin.

If you're having issues editing it, then you're doing something wrong.

[2015-07-06 17:47] #289 closed

[2015-07-06 17:47] drtshock commented on #290
in what way

[2015-07-06 17:48] drtshock commented on #72
Sorry (but not actually) that we develop on our own schedules and not yours.

[2015-07-06 20:03] TemptingMC commented on #72
3 months man ;/ rly?
It's ok though.

On Mon, Jul 6, 2015 at 12:48 PM, Trent Hensler <notifications@github.com>
wrote:

[2015-07-06 20:34] drtshock commented on #72
It doesn't help that the reporter has been banned off of the issue tracker multiple times.

[2015-07-06 21:33] nsporillo commented on #292
The config comments are slightly out of date, because `minimal-show` was re-added. Therefore the lines show unless minimal-show is enabled.

![meep](http://puu.sh/iPxg8/0d67b64194.png)

[2015-07-06 21:33] #292 closed

[2015-07-07 05:19] WFloydBoy opened #293 "Solo Faction Max Land"
Could you possibly add an option to allow for us to configure what the max land should be for solo factions? If added, all factions would start with the configured amount and then each additional player adds the value set for the "land-per-player" option.

[2015-07-07 20:49] nsporillo commented on #293
What exactly is wrong with the current set up? Based on your description, you want a solo faction to have say `5` max land. A 2 player faction would have 5 + `land-per-player`... and so on.

[2015-07-07 22:18] TemptingMC commented on #72
I was banned 1 time and it was 2 months in before I was banned. I also was
banned for stating my opinion.

On Mon, Jul 6, 2015 at 3:34 PM, Trent Hensler <notifications@github.com>
wrote:

[2015-07-07 22:18] TemptingMC commented on #72
It doesn't matter anymore. This is irrelevant since my devs added it in for
me.

On Tue, Jul 7, 2015 at 5:18 PM, Sep Motameni <sepsacc@gmail.com> wrote:

[2015-07-07 22:30] SaiCoFlu commented on #72
Not trying to offend you, but you'd do us all a favour by leaving already, your opinions are not needed and neither is your constant repetition of "my dev done it for me" bullshit. G'day.

[2015-07-08 03:49] WFloydBoy commented on #293
What's wrong with the current setup is that if I wish for a solo faction to have 10 land, a faction of 3 would be able to have a max land of 30. If there was a separate config value for solo-max-land, a solo faction could have 10 land and I could configure land-per-player to be 2 so a faction would have 14 land rather than 30.

[2015-07-08 13:33] lyzha commented on #290
well it seems broken the plugin doesnt want that lang.yml for some reason

[2015-07-08 19:50] lyzha commented on #258
I cant claim safezone either using lastest ci build

[2015-07-08 19:52] nsporillo commented on #258
Use /f claim 1 safezone

Sent from my iPhone

[2015-07-08 19:54] lyzha commented on #258
Thanks

[2015-07-08 19:58] lyzha opened #294 "Config.json"
I cant edit prefixes and suffixes for in the conf.json you said we needed a third plugin which one you think about i would like to have a space between the name of the players and the faction name but no space before the name for faction less players

Afactionlessplayer
Faction_player

[2015-07-08 21:17] drtshock commented on #294
get a chat plugin.

[2015-07-08 21:26] lyzha commented on #294
Which one thats what im asking xd

[2015-07-08 21:37] drtshock commented on #294
I use essentials chat :)

[2015-07-08 21:37] #294 closed

[2015-07-09 11:26] lyzha commented on #290
Its maybe the {null} thinggy but idk

[2015-07-09 17:35] HeyImYellow opened #295 "Mob Issues"
Could we please add an option to stop people from killing mobs in other people's land?

As we know Cow farms etc are very important in HCF :)

[2015-07-09 17:36] drtshock commented on #295
Isn't that just part of raiding?

[2015-07-09 17:37] HeyImYellow commented on #295
Only if they are raidable they should be allowed to kill their mobs :P

[2015-07-09 18:33] drtshock commented on #295
Would I be safe to just check hitting the entities or do I have to do further checks? I shouldn't have to worry about placing lava to kill them and such since it's in claimed land. Just trying to think of any edge cases.

[2015-07-10 00:20] lyzha commented on #290
Its broken i just need to know where i've been wrong please, thanks

[2015-07-10 00:21] lyzha commented on #295
Enderpearl can hurt mobs if Im right that coukd be an issue on weak mobs chicken or what

[2015-07-10 00:23] lyzha commented on #282
Works fine for me try to update maybe

[2015-07-10 00:25] lyzha commented on #279
Good luck with that! That would be so cool if you could fix that odd bug

[2015-07-10 00:26] lyzha commented on #250
I think it got added check the logs on the jenkins

[2015-07-10 01:01] nsporillo commented on #290
[Yaml Parser](http://yaml-online-parser.appspot.com)

[2015-07-10 15:39] HeyImYellow commented on #295
Yea just hitting & Projectiles :)

[2015-07-10 15:40] HeyImYellow opened #296 "Variable of a time inbetween faction commands."
Could you please add a configurable variable in the config so that you can set a cooldown in seconds of faction commands.

To stop things like this http://prntscr.com/7r3xa6.

[2015-07-10 17:07] drtshock commented on #296
Should get a cool down plugin.

[2015-07-10 17:07] #296 closed

[2015-07-10 17:08] #290 closed

[2015-07-11 13:48] lyzha opened #297 "Null error"
http://prntscr.com/7rfqqf when trying to open and null set in the TL

[2015-07-11 22:45] Lilmac12312 commented on #283
Bump

[2015-07-12 19:38] SaiCoFlu commented on #283
You could easily get someone on Bukkit to make this.. no offence but this is a Factions plugin, not a core plugin or glitch prevention plugin.

[2015-07-12 22:08] Lilmac12312 commented on #283
Alright whatever lmao. Won't be surprised if someone else wants this in a months time.

[2015-07-12 22:08] #283 closed

[2015-07-13 08:34] MoeXIV opened #298 "Minimal F Show from HCFactions"
Simple as that, a request to add the "minimal f show" code from HCFactions into FactionsUUID as HCFactions has a lot of "cool" updates not included in FactionsUUID.

[2015-07-13 08:34] #298 closed

[2015-07-13 08:34] MoeXIV commented on #298
wrong repository <3

[2015-07-13 18:09] SaiCoFlu opened #299 "Combine this into one?"
Okay, so you guys added the Leader variable to display who the leader of the faction is and thats cool, although, when using the variable, this happens: http://prntscr.com/7s8xzy
It duplicates the two of them. I was hoping, this could be done a little better, and they'd only be displayed in the Leader variable, if used of course, as it looks a little silly two of them in my opinion. And also possi

[2015-07-15 18:18] TemptingMC opened #300 "[Question] Faction Kills"
Ok, I have version 60. I'm a bit confsued on how to set up these variables.
http://i.gyazo.com/a0188399d1ee80281717ee893c577cc9.png
They are using build 53: http://i.gyazo.com/1fdb528da0dc91994654f4a922bea296.png

How do I setup those variables? This is my config and server. So lost lol.
http://i.imgur.com/jsMU9Gv.png
http://hastebin.com/majisaxica.xml

Thanks :D

[2015-07-15 18:43] SaiCoFlu commented on #300
They have another plugin hooking into it in I'm guessing.

[2015-07-15 18:54] drtshock commented on #300
which variables?

[2015-07-15 19:51] SaiCoFlu commented on #300
@drtshock Hes talking about the player kills. In the first screenshot, you see both players kills being displayed in the "name[<player-kills>]" on their server, however, it doesnt work on this current version of HCFactions as @nsporillo found it to difficult or something along those lines, and it would only display one players kills, not every single player. He's asking how does he do what they do

[2015-07-15 19:52] TemptingMC commented on #300
correct @SaiCoFlu @drtshock @nsporillo

[2015-07-16 06:07] TemptingMC commented on #300
I currently have it set to show if you hover over players, but if you can add it to the side of their name then that would be cool

[2015-07-17 22:16] TemptingMC opened #301 "Tab Lag"
So basically, I had like 500 people connecting to the server on our SOTW and we have a filter system to make it where they all cant join at once. Everyone's tab name is RED and whenever someone joins the server, it updates everyones tags. It was lagging so bad we had to change to WHITE and that fixed it.

I really want to use RED, is it possible to make it where it doesn't lag/update whenever some

[2015-07-17 22:22] MoeXIV commented on #301
@TemptingMC Timings?

[2015-07-17 22:25] TemptingMC commented on #301
no need for a timings, I just told you the problem @MoeXIV

[2015-07-17 23:12] MoeXIV commented on #301
@TemptingMC Could easily be the simple fact you have to any players constantly logging in during SOTW. Every server lags during that point so I wouldn't expect yours not too. May not even be the tab if you refuse to show the timings.

[2015-07-18 07:28] TemptingMC commented on #301
@MoeXIV reread what i said, i changed it to white, and it was fine, ik it's that cause you can see the tab update, your not a developer - please don't offer help towards me, I'd like Trent and Nick to help me.

[2015-07-18 09:37] SaiCoFlu commented on #301
I can actually vouch for this as a similar scenario happened on another server. It was making the server lag, and would take atleast a few seconds for their name to go from white to red.

[2015-07-18 16:25] MoeXIV commented on #301
@temptingmc Well my mistake then. Sorry for trying to offer my help to you as I though that's what you were looking for, help. I tried my best through what I've seen using this plugin.

Once again, my apologies.

[2015-07-21 00:54] ItsDovah opened #302 "HCFactions + HCFEssentials bug"
To be able to use HCFactions with HCFEssentials you need to do the following: http://pastebin.com/x0kuuALi

[2015-07-21 10:44] ItsMonkeyyy commented on #302
:)

I have found out what the issue with HCFE's scoreboard. I did not know, but apparently I am using DRTShock's same scoreboard class. I am going to push an update on HCFE soon fixing this, but for now what you posted above can be a temporary fix.

[2015-07-22 00:57] iOxf opened #303 "RelationColor on Chat. Problem :/"
I need it so, as in the following image: http://imgur.com/eO1mKYK

I need to edit the color of the brackets  :/ ex:
&8[RelationColor&8] But I have this result: http://imgur.com/91JiUuP

i need help. :(

[2015-07-22 16:44] ItsMonkeyyy commented on #303
Are you using Essentials?

[2015-07-23 00:08] iOxf commented on #303
Yes :/

[2015-07-23 19:20] #302 closed

[2015-07-23 19:21] drtshock commented on #301
Can you get timings as well as hcfactions and spigot versions + list of other plugins.

[2015-07-23 19:22] TemptingMC commented on #301
@drtshock i cannot get timings as I refuse to revert to the same stuff since it lags. I can do everything else if that's ok

[2015-07-23 19:46] drtshock commented on #301
Will be hard to do anything without timings. Regardless, give me everything you can.

[2015-07-24 03:39] TemptingMC commented on #301
Ok
Version: http://i.imgur.com/XGUYYsR.jpg
Build for factions: latest

[2015-07-24 03:43] Lilmac12312 opened #304 "How do I prevent this?"
people are complaining about being able to use other peoples buttons, pressure plates and levers in other peoples claim.

[2015-07-24 04:03] drtshock commented on #304
ok..?

[2015-07-24 04:03] #304 closed

[2015-07-24 04:03] drtshock commented on #301
what does /f version say. latest isn't a version.

[2015-07-24 04:15] TemptingMC commented on #301
60

[2015-07-24 11:11] Lilmac12312 commented on #304
I asked how do I prevent it within your plugin not for you to close the issue with a pathetic "ok"

[2015-07-24 16:36] Doxify opened #305 "Faction Player Cap"
Can we have an option added that allows us to edit the max players that can be in one faction?

[2015-07-24 18:25] SaiCoFlu commented on #304
There was no use of how or prevent used in your issue, this is the reason he didn't help you, as when I first read this I didn't understand it either.

[2015-07-24 18:26] LegitLanden commented on #289
what im trying to do is edit the colors of the names using the conf.json
for members to dark green instead of green i've tried doing DARK_GREEN,
DARKGREEN and nothing worked when i reloaded i also tried editing some
other stuff and it just went back to the default file and it didnt reset
the whole plugin so idk how this happened

On Mon, Jul 6, 2015 at 10:47 AM, Trent Hensler <notifications@github

[2015-07-24 19:34] #305 closed

[2015-07-25 00:02] Lilmac12312 commented on #304
Alright then I'll edit it then.

[2015-07-25 01:47] iOxf opened #306 "HCFEssentials is compatible with DrtShockHCF?"
i buy the last version of drtshock hcf b59, and have problem with the plugin of ItsMonkey , the scoreboard of HCFEssentials, removes colors tab, try everything but when threw a enderpearl colors come out when it is replaced by the Scoreboard HCFEssentials  :'/, http://imgur.com/qirUSLD

[2015-07-25 17:19] drtshock commented on #306
Should talk to him. My scoreboard should work with his plugin if his scoreboard is disabled.

[2015-07-25 17:19] #306 closed

[2015-07-25 17:21] drtshock commented on #289
Edit the conf.json, save it to your server, then /f reload.

[2015-07-25 17:22] drtshock commented on #305
There is one :)

[2015-07-25 17:31] drtshock commented on #304
`territoryDenyUseage = true;`
Leave that as true.
`territoryEnemyDenyUseage = true`
Leave that as true.
Then add the materials you want to `territoryDenyUseageMaterials` and `territoryDenyUseageMaterialsWhenOffline`

[2015-07-25 20:09] WFloydBoy opened #307 "/f home Instant Bug"
I have the warmup for /f home set to 10

warmups:
  # Delay for /f home , 0 for none
  f-home: 10
  # Delay for /f warp, 0 for none
  f-warp: 0

However, it seems the plugin completely ignores the f-home value because every time someone does /f home, they instantly teleport. I have changed the value to values ranging from 5-100 and they still teleport instantly.

/f version output: http://gyazo.co

[2015-07-26 00:28] Lilmac12312 commented on #304
Alright thanks. I'll reply back if I have any issues.

[2015-07-26 04:22] nsporillo commented on #307
I believe the original idea was since essentials also has teleportation warmups built in, if HCF is using essentials for teleporting then we just entirely let essentials handle it. This is to prevent two seperate warmups for a /f home (hcf home warmup + essentials tp warmup) which players would surely complain about.

    // if Essentials teleport handling is enabled and available, pass the telepo

[2015-07-26 04:22] #307 closed

[2015-07-26 04:24] nsporillo commented on #297
Don't know what i'm looking at here.

[2015-07-26 04:24] #297 closed

[2015-07-26 14:07] Scarcee opened #308 "F Homing Bug"
When players do ./f home it sometimes works.

For example sometime it will tp in 10 seconds. Another time 1 second to TP. But then it also stops working. And also players can run around while tping.

Video to show the issue: https://www.youtube.com/watch?v=3gRIRXV_N3E&feature=youtu.be

Factions version: v0.0.7-b59
Sever ip to see for yourself: quantumhcf.com

[2015-07-26 17:02] drtshock commented on #297
Very very very old bug. Download an update.

[2015-07-26 23:21] WFloydBoy opened #310 "Pressure Plates Are Lethal"
This isn't a big bug but I thought it was quite funny and then the pessimistic side of me thought how this can actually be abused
http://gyazo.com/395445c4f87605ff027cf0d00555305e
As you can see, players are unable to interact with pressure plates in territory. Players could use then use pressure plates to just be the cause of death in traps.

[2015-07-27 03:59] Lilmac12312 commented on #310
Can you paste how you disabled pressure plates please as I'm having issues getting it working.

On the side note, this needs to be fixed

[2015-07-27 07:33] WFloydBoy commented on #310
https://gist.github.com/WFloydBoy/71ba67aee2f64f5e03ca

[2015-07-27 07:56] Lilmac12312 commented on #310
Cheers.

[2015-07-27 18:13] Doxify opened #311 "DTR Evasion"
Can you add an option to where players cannot unclaim all land while they're frozen?

This would help people unclaiming all land and having someone overclaim them while they're frozen / going raidable.

Thanks

- Doxify

[2015-07-27 20:23] WFloydBoy commented on #311
# Should we let frozen factions unclaim land?
    freeze-unclaim: false

[2015-07-27 20:25] Doxify commented on #311
oops.

[2015-07-27 20:25] #311 closed

[2015-07-27 23:49] ItsPotions opened #312 "Same F home Bug"
For some reason when players do /f home it allows them to continue running and still will teleport them out, also when players do f home sometimes it take 3 seconds-15 seconds and sometimes doesnt even work.

video: https://www.youtube.com/watch?v=3gRIRXV_N3E&feature=youtu.be (same as scarcee)

[2015-07-28 09:50] KriticalPvP commented on #297
@drtshock where do I get the latest update?

[2015-07-28 09:54] KriticalPvP opened #313 "what?"
http://prntscr.com/7xws2t

Why is this happening when I try to download latest updates.

[2015-07-28 18:07] drtshock commented on #313
Are you logged in..?

[2015-07-28 18:08] drtshock commented on #310
You can make it so it doesn't deal them damage.

[2015-07-28 19:15] WFloydBoy commented on #310
How? I have PainBuild set to false on all available options and I have actionDeniedPainAmount set to 0.

[2015-07-28 23:08] KriticalPvP commented on #313
yeah

[2015-07-28 23:25] jasperdekiller opened #314 "Safezone doesnt protect land"

[2015-07-29 14:40] KriticalPvP commented on #314
Get WorldGuard

[2015-07-29 14:47] KriticalPvP commented on #313
?...

[2015-07-30 18:25] Scarcee commented on #308
Mc market username : Scrarcee , to prove that i bought it...

[2015-07-30 21:10] Scarcee commented on #308
@nsporillo

[2015-07-31 21:40] KriticalPvP commented on #313
bump

[2015-08-02 07:10] WFloydBoy commented on #310
@drtshock
How? I have PainBuild set to false on all available options and I have actionDeniedPainAmount set to 0.

[2015-08-02 23:10] iOxf opened #315 "Help!!! On chat. >:v"
I help with the prefix of HCFactions chats? :v, so I need :v : http://imgur.com/eO1mKYK , Really help. :v: Build59.

[2015-08-02 23:36] #315 closed

[2015-08-02 23:58] nsporillo commented on #314
Post your list of plugins..? The title is not very helpful since safe zone does indeed protect land. . .

[2015-08-02 23:59] nsporillo commented on #313
The link exists still so you're definitely just not logged in. Try re-logging.

[2015-08-04 21:15] WFloydBoy commented on #310
@nsporillo @drtshock

[2015-08-05 02:07] Lilmac12312 commented on #310
bump

[2015-08-05 08:31] Doxify opened #316 "Feature Request: Different DTR loss per world"
Add the option for us to set how much DTR is lost in a world.

For example, 1 DTR would be lost in the overworld and only .50 would be lost in the nether.

[2015-08-06 16:24] Doxify opened #317 "Prevent /f leave inside own claims"
This would stop insiding and some DTR evading.

[2015-08-06 16:35] drtshock commented on #317
So you wouldn't be able to leave if you're on your own territory..? Nothing else.

[2015-08-06 16:36] drtshock commented on #316
I like it.

[2015-08-06 16:37] drtshock commented on #310
Confirmed this was an issue with furiouspvp.

[2015-08-06 16:38] #310 closed

[2015-08-06 16:38] drtshock commented on #310
Fixed http://git.io/vOQKl

[2015-08-06 23:25] Doxify commented on #317
Correct.

By leave I meant /f leave by the way, sorry if it caused any confusion.

[2015-08-07 06:09] WFloydBoy commented on #310
I don't have access to the page or development builds. Could I please have access?

[2015-08-07 22:24] KriticalPvP commented on #316
Possibly places where DTR is NOT lost on death?

[2015-08-07 22:43] nsporillo commented on #316
@KriticalPvP places as in worlds..?

[2015-08-07 22:46] drtshock commented on #316
Added. You'll need to update the dtr loss section in your config to https://gist.github.com/drtshock/f162f7b18b03809bb669

[2015-08-07 22:46] #316 closed

[2015-08-08 05:40] Doxify commented on #316
Thanks!

[2015-08-08 05:42] Doxify opened #318 "Minor lang file bugs"
So I was changing stuff in my lang file when I noticed some things that were off.

For reference, the user "Sainly" is not in my faction.

I ran /f admin sainly and the message I got was "The target player musn't be yourself".
I also ran /f mod sainly and the message I got was "The target is a faction admin. Demote them first."

Not anything big but just wanted to bring it up, not sure if there's

[2015-08-08 05:45] Doxify commented on #316
I don't think you pushed the update?

https://imgur.com/7udbW5j.png

[2015-08-08 16:49] iOxf opened #319 "RelationColor on Tab, lost colors, with custom scoreboards"
API, for this?, have a custom scoreboard for hcf, and the TAB, lost the relationcolor, change to White. help (?, TemptingMC have a hcf and not lost the colors with a custom scoreboard...

[2015-08-08 18:29] nsporillo commented on #318
The issue before was if you were in a solo faction and ran /f admin then it'd disband the faction.

When promoting a new leader, if there exists no other mods or admins in a faction - it will be disbanded. So, what I did was prevent using /f admin if you're in a solo faction. That's all.

Add sainly to your faction, and then /f admin him.

As far as /f mod goes, I never touched that. I'm guessing

[2015-08-09 02:46] drtshock commented on #319
Relation color in tab is done via scoreboards.

[2015-08-09 02:46] #319 closed

[2015-08-09 02:46] drtshock commented on #316
I did but it looks like it's not building. I just manually built.

[2015-08-09 04:11] iOxf commented on #319
http://imgur.com/qirUSLD custom scoreboard. and lost the colors ....

[2015-08-09 06:49] Doxify commented on #319
Well yeah... of course you lose the relation colors if you use a custom scoreboard..

[2015-08-09 06:49] Doxify opened #320 "/f owner"
Can we have /f owner removed?

[2015-08-09 10:07] WFloydBoy commented on #320
It's pretty useful to use for faction leaders who wish to restrict the capabilities of lower ranked members. Pretty sure you can remove the ability to use /f owner by negating the permission in the default group.
-factions.owner

[2015-08-09 13:14] KriticalPvP commented on #316
@nsporillo Yeah, so in world "a" I lose 0.5 DTR per death and in world "b" I lose 1 DTR per death

[2015-08-09 16:33] iOxf commented on #319
:/

[2015-08-09 16:46] Doxify opened #321 "Leaked"
https://leakforums.net/thread-584092

Apparently someone leaked my CUSTOM hcf plugin.

I downloaded it and it turns out to be an outdated version of HCFactions.

I don't even have a plugin named hydrahcf.jar ..

Just wanted to report this.

[2015-08-09 17:09] Doxify commented on #316
@KriticalPvP That's exactly what this post is about... it was already added.

[2015-08-09 20:02] Doxify commented on #320
I found that it doesn't work..

[2015-08-09 23:07] nsporillo commented on #320
@Doxify could you explain in greater detail what doesn't work with it?

[2015-08-10 02:33] drtshock commented on #321
Should send me the jar on Skype since I always browse via a VPN that is blocked on that site and don't want an account. If I have the jar I can figure out who leaked it.

[2015-08-10 02:33] #321 closed

[2015-08-10 02:33] drtshock commented on #316
Yes it was added in build 61 on jenkins.

[2015-08-10 04:00] WFloydBoy commented on #320
I have found that as an operator, you always bypass owner land protection, even with /f bypass disabled. It really threw me off until I had a player tell me and then I had tested it on an alt.

[2015-08-10 05:33] Lilmac12312 opened #322 "#Leaked"
https://www.youtube.com/watch?v=gofpgAUkRqw

[2015-08-10 14:24] SmileyyyFaceee opened #324 "Conf.json problems"
Any changes that I make in the conf.json never save. Even if I just change something from false to true (ex. the economy mode), save it, replace the old one and restart the server, all changes are reverted. Am I just really stupid, or is there actually a problem?

[2015-08-10 14:49] #322 closed

[2015-08-10 14:50] drtshock commented on #324
The former. You just make edits, save, then /f reload.

[2015-08-10 14:50] #324 closed

[2015-08-10 21:33] Doxify commented on #321
Sent.

[2015-08-11 02:02] #317 closed

[2015-08-11 02:11] nsporillo commented on #318
@Doxify is this resolved?

[2015-08-11 02:16] nsporillo commented on #308
This issue has been resolved here: https://github.com/drtshock/HCFProblems/issues/307

If for some reason you are still having issues, make a new issue.

[2015-08-11 02:16] nsporillo commented on #312
This issue has been resolved here: https://github.com/drtshock/HCFProblems/issues/307

If for some reason you are still having issues, make a new issue.

[2015-08-11 02:16] #312 closed

[2015-08-11 02:17] #308 closed

[2015-08-11 05:34] Doxify opened #325 "BUG: Someone's base got overclaimed................."
I have no idea HOW this happened, all I have are pictures.

![wsfwtfo](https://cloud.githubusercontent.com/assets/9636316/9190891/cf45a40c-3faf-11e5-96a9-9550a5bfec97.png)

![f0bwlmt](https://cloud.githubusercontent.com/assets/9636316/9190897/dfc894e2-3faf-11e5-9d56-4abda7398d6a.png)

![nia0lma](https://cloud.githubusercontent.com/assets/9636316/9190899/efb6d74c-3faf-11e5-97b8-86e382cdd7c8.png)

[2015-08-11 05:53] Doxify commented on #325
Okay so I joined the faction ERROR (the ones that got overclaimed)

[2015-08-11 05:53] Doxify commented on #325
Didn't mean to close, sorry.

[2015-08-11 13:17] nsporillo commented on #325
Why does RIP have 49 / 36 land..?

What faction was overclaimed? How can you be certain that that single chunk wasn't forgotten about and just regularly claimed?

[2015-08-11 13:26] Doxify commented on #325
No idea, the faction that was overclaimed is ERROR.

I'm not sure how they were able to overclaim them, I know that a chunk wasn't forgotten and then claimed because we have a buffer of 1 chunk, meaning your claim must be 1 chunk apart to claim.

[2015-08-11 13:33] nsporillo commented on #325
@Doxify i'll continue looking into this, but I don't think there is a glaring hole in the claiming code as it would have been exploited by players long ago.

It does look like the error faction on the map is '^', which doesn't have any chunk inside it over claimed?

[2015-08-11 13:38] nsporillo commented on #303
@iOxf sorry for the late reply, but you say you're using essentials chat? Changing the color of the braces isn't really an HCF problem as far as I know. So i'm going to close this so we can focus on other issues.

[2015-08-11 13:38] #303 closed

[2015-08-11 13:39] nsporillo commented on #282
This issue has been resolved here: https://github.com/drtshock/HCFProblems/issues/307

If for some reason you are still having issues, make a new issue.

[2015-08-11 13:39] #282 closed

[2015-08-11 13:40] #313 closed

[2015-08-11 13:57] nsporillo commented on #293
Config update: https://gist.github.com/nsporillo/8b345266bbbf2ccede30

Servers updating to a build with this addition should not have any issues.

@WFloydBoy sorry for the 2 month+ wait time on this easy update.

[2015-08-11 13:57] #293 closed

[2015-08-11 14:06] #314 closed

[2015-08-11 14:08] nsporillo commented on #286
Since some fixes seemed to have been pushed to factionsuuid, this is a real problem with some real solutions. I'll work on porting over the code to HCF.

[2015-08-11 14:25] #227 closed

[2015-08-11 14:30] nsporillo commented on #299
I'll look into this, but with the way our variables are handled now - each line is independently parsed and thus removing the leader from the online members list is really the job of another config value somewhere, so i guess that's what we'll do.

[2015-08-11 17:06] Doxify commented on #325
No the ERROR faction is "%"....

It's the symbol before the faction name, not after.

[2015-08-11 17:07] Doxify commented on #318
Yes, all good

[2015-08-11 17:07] #318 closed

[2015-08-11 20:29] Doxify commented on #286
Uh this wasn't actually the cause of the issue for me, I thought it was the saves but It was a change I made in my multiverse config.

I made it look for portals in a 600 block radius rather than the default 150.

[2015-08-11 20:47] Doxify opened #326 "Request"
Looking to hire someone from puzl to code something for me that's compatable with the HCFactions plugin.

What do I do?

[2015-08-11 21:30] #299 closed

[2015-08-11 21:34] nsporillo commented on #300
I could not find a way to accomplish the desired output without adding a bunch of code just so kills are in brackets next to the name instead of in the fancy message. Whoever has their /f show modified in the screenshot likely just has it hard-coded instead of configurable.

[2015-08-11 21:34] #300 closed

[2015-08-11 21:34] #272 closed

[2015-08-11 21:35] #250 closed

[2015-08-11 21:35] #247 closed

[2015-08-12 06:17] Doxify opened #327 "BUG: People have more DTR than they are allowed."
Not sure how this happened... but this isn't the first time it's happened.

![vx9v6ad](https://cloud.githubusercontent.com/assets/9636316/9217656/33ececd8-407f-11e5-9359-c052d88e9e06.png)

[2015-08-12 15:52] drtshock commented on #326
Can contact me on skype.

[2015-08-12 15:52] #326 closed

[2015-08-12 15:53] drtshock commented on #286
Odd since factions doesn't care about portals when saving. I'll migrate the new save code over to hcfactions soon though.

[2015-08-12 16:05] #286 closed

[2015-08-12 20:25] drtshock commented on #313
Fixed.

[2015-08-12 20:34] nsporillo commented on #327
Are they usually over on DTR by a small amount?

[2015-08-13 06:35] Doxify commented on #327
The only other time I saw it happen they were over by 1

[2015-08-13 18:10] WFloydBoy opened #328 "faction-land-max issue"
# Max land a faction can have claimed
  faction-land-max: 36

  # How much additional land a faction gets per member
  land-per-player: 3

  # How much land a solo faction starts off with
  initial-land: 9

https://gyazo.com/9a1cad5ba89598ff47aee9c29c07fe4a

It appears that as I change the "initial-land" value, the max land goes up or down. The amount set as "initial-land" simply adds ontop of the

[2015-08-13 19:10] WFloydBoy commented on #310
Was the fix for this meant to stop players from taking damage and the interaction spam because right now it just stops taking damage but still spams https://gyazo.com/68a56866565c49b532191ca3431c88f2 @drtshock

[2015-08-13 19:34] drtshock commented on #328
It does which I think was an odd way to implement it.

[2015-08-13 19:56] #328 closed

[2015-08-13 19:58] nsporillo commented on #327
Turn on debug in config and let it be for a little while.

Paste the log and link. (you can privately if you really want)

We've had built in debugging for DTR for a good while now, since there was so many issues awhile back.

[2015-08-13 21:17] WFloydBoy commented on #264
My HCF server is by no means large but I have dealt with at least 2 dozen different cases of ban evading players returning on the same IP address. I have resorted to IP banning everyone I ban because too many times they would return just to wreak havoc.

[2015-08-13 21:28] AlfieC commented on #264
The fact that you write "everyone I ban" implies that you're wanting HCFactions to become a "one stop" plugin to solve all your needs. If you want a ban plugin that supports ipbanning, perhaps you should try drtshock's [EssentialsX] (http://github.com/drtshock/Essentials) plugin. It isn't really within the scope of the project to prevent all kinds of behaviour that might not pertain to everyone el

[2015-08-14 00:14] iOxf opened #329 "asd"

[2015-08-14 03:05] WFloydBoy commented on #264
You seem to misunderstood my justification for why this would be useful. I obviously have a ban plugin that supports "ipbanning" if I am ip banning players. You also seem to think that every server owner wishes to manually check the ip addresses of every player to see if there are matches. Lastly, I have no idea what /f activity is and whatever it is, it does not come with HCFactions.

I honestly

[2015-08-14 11:53] SmileyyyFaceee opened #330 "Different faction name and faction tag"
Currently, the faction tag is the equivalent to the faction name. I'm suggesting separate faction names and tags, making it possible for better limits as far as chat formats (ex. a faction tag can be max of 4 characters, but the faction name can be longer). Currently if you want a short faction tag for the chat format, you sacrifice longer faction names.

This would make it possible for things lik

[2015-08-14 16:57] drtshock commented on #329
what

[2015-08-14 16:59] drtshock commented on #330
What and where would the name be used though? We already have a description.

[2015-08-14 17:10] SmileyyyFaceee commented on #330
The name could be displayed in the header of /f show and /f list instead of the tag, and the tag could (possibly) be a variable and added under the description in /f show.

[2015-08-14 17:15] SmileyyyFaceee commented on #329
I'm assuming he means a warning message when your faction's DTR is in the raidable limits, similar to Towny's warning message when funds are too low to handle the upkeep. I could definitely see this being a neat little add-on.

And me being me, I enjoy making sarcastic messages. Something like "lelele, your faction is getting #rekt m8. Gonna get raided soon ooo"

[2015-08-14 17:41] drtshock commented on #330
I don't see why we need to have both.

[2015-08-15 03:52] #329 closed

[2015-08-17 18:16] tofanpetru opened #332 "Help:Faction economy,scoreboard."
Plugin:FactionsUUID
1:How to activate "Faction economy" ?
--/f money
2:How to activate scoreboard ?

[2015-08-17 18:26] drtshock commented on #332
conf.json has an option for economy and config.yml has all scoreboard settings.

[2015-08-17 18:26] #332 closed

[2015-08-18 00:35] TemptingMC opened #333 "Question for Trent/Nick"
Hey Trent/Nick,

In build 62, you added this push in (Add async saving from FactionsUUID. Addresses drtshock/HCFProblems#286 (commit: 6dffdaba70e2c030bbe2bec0e2d1e2c0e9a159ce) (detail)); I wanted to ask if that will fix the tab/above player head thing updates or does this have nothing to do with that :dancer:

[2015-08-18 02:26] drtshock commented on #333
That update just adds a better saving method.

[2015-08-18 02:26] #333 closed

[2015-08-18 05:37] Doxify opened #334 "Certain DTR loss in permanent faction land"
So the "permanent faction" thing is mostly used for koths we can all agree.

I think it'd be really nice if we can set how much dtr is lost in certain permanent faction land.

Possibly a command like /f dtrloss <permanent faction name> <how much dtr is lost>

EX: /f dtrloss castle .50

That means that players only lose .50 DTR if they die in that land.

[2015-08-19 06:24] bywaco opened #335 "Chat has "< >" looks weird."
@drtshock my chat looks like this after buying your "HCFACTIONS" plugin and putting it in my plugins folder, https://gyazo.com/53ec3ce7c39e977927220af74a0894c7 where can I remove the "< >" and add "[ ]" outside there faction names such as, ([FactionName] playername: message) please respond back.

And also how can i remove there faction title from tab.

[2015-08-19 17:31] drtshock commented on #335
Use a chat plugin and disable default-prefixes in the config.yml for the faction title from tab.

[2015-08-19 17:31] #335 closed

[2015-08-20 02:39] nsporillo commented on #334
If we add this, probably going to allow you to dtr loss any faction.

[2015-08-20 04:18] ZenithPvP commented on #224
If this is added how do we use it?

[2015-08-20 11:54] nsporillo commented on #224
@ZenithPvP it is not currently added.

[2015-08-21 22:19] MoeXIV opened #336 "DTR Freeze"
Haven't tested this we in away, if you set the DTR loss to a custom world to nothing and someone dies, does that trigger your DTR Freeze?

Can't test as I'm away

[2015-08-22 16:04] Doxify commented on #334
I'm cool with this, just don't make it use the faction.dtr permission.

[2015-08-23 02:26] ZenithPvP commented on #224
@nsporillo Will this be added because I've seen other servers doing it already while using your plugin

[2015-08-23 23:34] nsporillo commented on #336
You can't currently because it's not even implemented yet, but when it is then no if the DTR loss is 0 then it shouldnt trigger DTR freeze IMO. But i guess this is a good issue for discusion.

[2015-08-24 04:26] Doxify opened #337 "Feature Request: Stop the claimed land for warzone spam"
So this isn't a big request but it'd be a nice addon.

We claim a lot of land as warzone for our resets and it literally spams your chat so much. Can you possibly just have it like tell you when it starts claiming and then again when it's done claiming..? and this would only be for warzone claims.

Example:
On start: "You have started claiming X warzone chunks".
On finish: "You have successfully c

[2015-08-24 07:34] ZenithPvP commented on #337
or /f claim [amountofchunks from position] WarZone @doxify its like a one time spam and you can clear your own chat

[2015-08-24 08:15] ZenithPvP commented on #224
If people are looking at this for
Entering: Fac
Leaving: Fac
"&eLeaving: %1$s \n&eEntering: %2$s"

[2015-08-24 08:22] MoeXIV commented on #337
Not when you're claiming WarZone for your whole warzone. It could easily be spamming your chat for 10 minutes or more.

[2015-08-24 20:52] Doxify commented on #337
Yeah it's a one time spam that lasts 10+ minutes lol.

I'm saying that a message for each chunk that is claimed is NOT needed.

[2015-08-25 21:46] nsporillo commented on #325
Left this issue open for 2 weeks to see if anyone else was experiencing anything like this...

[2015-08-25 21:46] nsporillo commented on #327
No reply. Consider this resolved/no issue.

[2015-08-25 21:46] #327 closed

[2015-08-25 21:49] nsporillo commented on #337
By "on start" are you referring to the auto claim where you walk around and you claim land as you enter a new unclaimed chunk?

[2015-08-25 22:34] #337 closed

[2015-08-29 04:22] JO225 opened #338 "HCF problem."
Well, my problem is that When I make a faction it doesn't show up as [Faction] it shows up as **Faction I need it to be [Faction] please answer if you know the problem.

[2015-08-29 06:36] nsporillo commented on #338
Chat formatting options are located in conf.json.

[2015-08-29 06:36] #338 closed

[2015-08-30 08:56] Lilmac12312 opened #339 "How to prevent non-fact members using pressure plates in claimed land?"
Title says it all, how do I prevent this? I know I've already asked but I tried doing what you said yet nothing worked :/

[2015-08-31 13:13] nsporillo commented on #301
To touch upon your final question in the issue:
It is not currently possible to prevent the "tab" from being updated on player join / player quit without losing functionality. Basically it's 100% required for the relation color player name tags above head.

However, the sidebar does not necessarily require the components which drive the "tablist/nametag" features. Which means you could in theory h

[2015-08-31 13:14] nsporillo commented on #279
Dont think this is really fixable unfortunately. Instead of leaving it open to dry out, going to just close it now.

[2015-08-31 13:14] #279 closed

[2015-08-31 15:45] drtshock commented on #301
You can always disable the default-prefixes which disables the tab names but keeps the sidebar.

[2015-08-31 17:45] nsporillo commented on #301
Closing this because as @drtshock mentioned, setting default-prefixes to false will disable the tablist names (and above head nametags) but keep the sidebar.

[2015-08-31 17:45] #301 closed

[2015-09-01 00:47] PatManGames opened #340 "Teleportation Problem."
When players use /f home, it says wait 10 seconds, but if you get hit or move, it still teleports you after the 10 seconds. Am I missing something?

[2015-09-01 00:48] nsporillo commented on #340
https://github.com/drtshock/HCFProblems/issues/307

Check if the information provided there solves your issue. If not please let me know and i'll look further into this.

[2015-09-01 01:14] #325 closed

[2015-09-04 04:03] PatManGames commented on #340
Ok thanks.

[2015-09-04 23:06] #340 closed

[2015-09-06 01:44] Doxify opened #341 "Timings"
![image](https://cloud.githubusercontent.com/assets/9636316/9701992/1b630390-53fe-11e5-87ee-0d3a3b1ef8af.png)

[2015-09-06 03:28] MoeXIV commented on #341
Same for me, was doing timings - everything was minuscule and I see my saveTask at 139%.

[2015-09-06 08:13] Lilmac12312 commented on #339
bump

[2015-09-06 17:45] drtshock commented on #339
I'm wondering if it's because we don't check for the physical action in the interact event.

[2015-09-06 17:46] drtshock commented on #341
The pct total is still at around just 2%. How long of a period were these timings from? Are you actually noticing any lag or just seeing this in the timings? A lot of the stuff in that report is done async anyway.

[2015-09-06 18:23] MoeXIV commented on #341
For me, (with just 3 players) I noticed no command lag but player movement was somewhat skippy.

[2015-09-06 21:43] KinkiPvp opened #342 "Proble With F Show Config Using {online} variable"
Hi, i purchased HCFactions on spigot. My problem is when i try to put the variable {offline} or {online} in
f show config i got Internal Error Occured or similar. I think the Spigot versions are outdated pls help me.
Pd. srry for my bad english im spanish xD

[2015-09-07 01:02] Lilmac12312 commented on #339
Well I denied the usage of it yet the pressure plates into a death trap

[2015-09-07 19:01] KinkiPvp commented on #342
Can u add me to buyers List? I Purchased it on spigot -.-

[2015-09-08 14:49] drtshock commented on #342
You can't purchase this plugin on spigot. Can you link me to where you got it?

[2015-09-08 18:49] KinkiPvp commented on #342
I mean McExchange https://mcexchange.org/resources/hcfactions.2
https://gyazo.com/46b53224139b048fe43e4a155a6ac303 pls can u help me :C

[2015-09-08 19:01] drtshock commented on #342
What's the error?

[2015-09-09 14:12] KinkiPvp commented on #342
When i use the Variable {offline} or {online} in the f show config when i use /f show ingame this say Internal Error Occurred https://gyazo.com/ec3d61ea214a1b1d2d6be166d1532592

[2015-09-09 16:40] drtshock commented on #342
What's the error in console?

[2015-09-10 01:17] KinkiPvp commented on #342
https://gyazo.com/b7a3e946fc86d1faf586e0a14bcbdd2e Srry for not be Accurate im new in this and i cant say u the Error just send a gyazo xD

[2015-09-10 01:27] nsporillo commented on #342
@KinkiPvp next time please post your error log using gist.github.com. It is much easier for us.

Can you paste your entire server startup log to a gist please? It appears to be an issue with your permissions plugin, but I need to know some more details.

[2015-09-10 01:54] KinkiPvp commented on #342
Wait i gonna Delete the Permissions Plugin

[2015-09-10 02:00] KinkiPvp commented on #342
I removed PermissionsEx and i still getting the same error
this is the start of Factions https://gyazo.com/153afd5574b7705bf3569b4253504747
but i get this when i use /f show https://gyazo.com/e6e2b7695db22f89651d8b7509564501

[2015-09-10 02:07] nsporillo commented on #342
The error you are getting means vault is not finding a permissions plugin. @KinkiPvp

[2015-09-10 02:10] KinkiPvp commented on #342
Thank U i gonna try Fix it

[2015-09-10 02:26] KinkiPvp commented on #342
I got a doubt How can i put The factions prefix in chat into [ ] Like [Kinki]Mathh: Hi
Srry for this but im begineer

[2015-09-10 21:52] HeyImYellow opened #343 "How to disable scoreboard completely?"
Heya, quick question.

Can anybody show me how I disable the scoreboard completely? I'm using the very latest Build from the CI. Thankyou.

[2015-09-11 02:51] nsporillo commented on #343
Set `default-prefixes` and `default-enabled` to false.

[2015-09-11 02:51] #343 closed

[2015-09-12 06:13] PatManGames opened #344 "Problem with /f show {online}"
For some reason when you use /f show, it shows an internal error instead of the listed players online or offline. Any idea why?

[2015-09-12 16:04] nsporillo commented on #344
Without the stacktrace (error in console) won't be able to help much.

Please paste your entire error log to gist.github.com and link as a reply.

[2015-09-12 16:31] PatManGames commented on #344
https://gist.github.com/PatManGames/5a930b63037f786c9522

[2015-09-12 17:48] drtshock commented on #344
Get a permissions plugin with super perms (basically any).

[2015-09-15 23:43] CharlieClewer opened #345 "Question about kills"
Hey! I recently purchased this plugin and It's working really good, but I just wonder about something.

How can you add the kills that a player has before their names in /f show?

Thanks <3

[2015-09-16 17:19] GitFyu opened #346 "OfflinePlayers causing lag"
So recently, on a server that I'm developer on, we've been noticing weird short lagspikes every now and then. After a while i realised this happened when you disbanded a faction. It does the same with the '/f d' command and probably some more. I've taken a look at the code and noticed that when the plugin transfers money to a player, it calls 'Bukkit.getOfflinePlayer()'. I believe this is what is

[2015-09-16 18:43] nsporillo commented on #346
Can you provide a timings report?

[2015-09-16 18:45] nsporillo commented on #345
You can't, you can only add them as a member of the list when you hover over their name.

This has been asked before, and was/still is a request to clone another feature in a different plugin. However due to how configurable HCF is, it'd take more work then it's worth to allow kills before names.

[2015-09-16 18:45] #345 closed

[2015-09-17 06:26] GitFyu commented on #346
http://timings.aikar.co/?url=12435332 All I did was execute '/f d 10' a few times.

[2015-09-17 07:23] #344 closed

[2015-09-17 07:23] #342 closed

[2015-09-20 06:02] PatManGames opened #347 "Problem with crashing."
So, every time a player uses /f create or /f disband they crash. Heres the crash report.
https://gist.github.com/PatManGames/1974975a3f92e2bc08c0

[2015-09-21 12:30] CharlieClewer opened #348 "Tab coloured names"
Heey!

I wonder if its possible to put on the name colours/tab colours for enemies/allies without the faction name before the name. It looks bad when people have their fac names before their names in the tab list or in the name.

Thanks!

(Tried to find if this was asked before but didn't find it)

[2015-09-21 12:53] nsporillo commented on #348
Yes, find `default-prefix` in your lang.yml file.

Use `default-prefix: '{relationcolor}'`

This is the default setting, so i'm not sure why it wasn't like this originally for you..

[2015-09-21 12:53] #348 closed

[2015-09-21 12:58] CharlieClewer commented on #348
Thanks!

[2015-09-21 13:04] nsporillo commented on #347
What version of HCF and Spigot are you using? (latest isnt a version)

[2015-09-22 18:41] PatManGames commented on #347
HCF: 0.0.7-b59main
Spigot: git-Spigot-1649

[2015-09-22 22:06] nsporillo commented on #347
Okay, thank you. Will work on a fix.

[2015-09-23 01:17] PatManGames commented on #347
Alright cool.

[2015-09-23 17:04] TemptingMC opened #349 "./f invite and /f show issue"
Hey,

All of a sudden, my server has a problem where some people that you /f show that are in a faction, don't show up that there in a faction. It replies with the msg as if the player isn't in a faction...

/f invite:
Some players cannot be invited to a faction. I did /f deinvite {playername} and it revoked it and all, but when i invited them, it doesn't reply anything not even unknown command, j

[2015-09-23 17:49] MoeXIV commented on #349
For the second issue (f invite), that's happened on my servers before; you can restart to fix it, but that's not really a fix :/

[2015-09-23 17:50] TemptingMC commented on #349
@MoeXIV yea that won't be happening xD

[2015-09-24 02:27] MoeXIV commented on #349
Haha, yeah. Definitely not ideal, hope they find the cause of this.

[2015-09-26 22:10] HeyImYellow opened #350 "Quick Question."
Quick Question, is the source code of the latest version of HCFactions available or is it not?

Just wondering.

[2015-09-27 09:51] HeyImYellow commented on #349
+1 have noticed the bug on my server & Tempting's hcf server, it's pretty annoying when trying to gank people because you're thinking they're not in a faction then you get 20v1'd not cool :P

[2015-09-27 15:54] TemptingMC commented on #349
It was an issue with factions saving, etc.

I'm rereleasing my entire network and this problem will be fixed.

Lol I'm overkilling my network in order to handle everything. 14 new dedi's
LOOOOOOL

On Sun, Sep 27, 2015 at 5:51 AM, Squidayyy <notifications@github.com> wrote:

[2015-09-27 17:41] drtshock commented on #350
It's in a private repo.

[2015-09-27 17:41] #350 closed

[2015-09-28 11:02] MoeXIV commented on #349
....

Overkill x2

[2015-10-01 01:42] gunxshots opened #351 "Players losing perms after a certain amount of reloads"
I reload my server a couple times a day because of config edits, yet after a while, my players lose perms.
The only way it seems to fix is restarting the server.

[2015-10-01 01:44] KinkiPvp opened #352 "How Can i Get the Newest Version?"
I Purchased HCFactions in McExchange, now i cant get new updates. I can give proofs.

[2015-10-01 04:45] drtshock commented on #351
so stop reloading? also, there is /f reload to reload config settings from factions.

[2015-10-01 04:45] #351 closed

[2015-10-01 20:58] gunxshots opened #353 "/f who returns an error"
When I type /f who, it works, but it doesn't show the players in the faction. Also, the command returns an error. Here's a screenshot of it
https://gyazo.com/f5e12c154f55b93e67562d53d06757a0

[2015-10-01 21:47] KinkiPvp commented on #353
Ho Gunxshots, i think the error you are getting means vault is not finding a permissions plugin

[2015-10-02 00:06] #353 closed

[2015-10-02 00:26] TemptingMC commented on #349
close this; it's fixed :dancer:

[2015-10-02 16:40] drtshock commented on #349
how

[2015-10-02 18:04] TemptingMC commented on #349
Did a reset. Our server crashed and the factions data didn't save properly.
I'm assuming that was the issue.

On Friday, October 2, 2015, Trent Hensler <notifications@github.com> wrote:

[2015-10-02 18:13] #349 closed

[2015-10-03 20:33] HeyImYellow commented on #350
Is there a way one can get access to the repo?
I have bought the plugin on mcexchange and will provide proof should you need it.

[2015-10-04 14:57] CharlieClewer opened #354 "HCFEssentials problem"
I'm using HCFEssentials and it just removed the coloured tag... Is there a fix for that?

[2015-10-04 23:35] nsporillo commented on #352
The latest builds are available on the CI. Please email me at nsporillo@gmail.com with some proof.

Create an account on https://ci.drtshock.net/ and then include the username you picked in the email.

[2015-10-04 23:35] #352 closed

[2015-10-04 23:36] nsporillo commented on #354
Can you explain a little more?

What is the expected functionality, what is the actual functionality. What's not working..

What do you mean by "tag", etc

[2015-10-05 00:01] CharlieClewer commented on #354
By tag I mean the coloured tag that players get when enemy/faction/ally. It was working correctly but after I added HCFEssentials it got removed and now it seems white. (as normal). Did you see this problem before? know how to fix it? I understand that the problem is obviously something with HCFessentials but just wanted to know if you know what's wrong.

Thanks

[2015-10-05 02:19] drtshock commented on #354
Likely because their scoreboard conflicts.

[2015-10-05 02:19] #354 closed

[2015-10-05 16:30] roastingnigrs opened #355 "Faction tags"
Hello when I speak in chat or any of my community members, it says : https://gyazo.com/124fed6649969affde15affd9d4a56e9 can I change this?

[2015-10-14 21:32] MoeXIV opened #356 "Message to inform DTR Regeneration"
Simple enough, a message that is sent to all online players of said faction when your faction begins to regenerate DTR after your DTR freeze is over.

[2015-10-14 21:56] nsporillo commented on #356
Added.

New config entry:
    hcf.dtr.notify-unfreeze: false

New TL entry:
    faction-unfrozen: "<a>Your faction is no longer frozen."

Please note there isn't any guarantee that this message will be sent since we do not use timers. DTR is updated when needed based on system time, however there is no guarantee the function to update DTR is called between the time a faction goes into and out of D

[2015-10-14 21:57] #356 closed

[2015-10-14 21:59] nsporillo commented on #355
Sorry for the late reply. But yes you can change those in the conf.json file.

Below is a screenshot of the values in the source code, the variable names match the values in the conf.json file.

![pic](http://puu.sh/kKsGC/80b6317856.png)

[2015-10-14 21:59] #355 closed

[2015-10-14 22:03] nsporillo commented on #347
@PatManGames Spent some time trying to find the source of this issue but failed.

Is this still happening? Have you noticed a specific build where it started or a specific more recent build where it no longer occurs?

[2015-10-14 22:28] nsporillo commented on #346
@GitFyu Was this occuring during a SOTW where you had many players joining?

I've witnessed UUIDs shit the bed during a SOTW because the server was sending too many requests due to a caching mistake (or possibly just raw requests).

Can you confirm this issue is still occuring?

[2015-10-16 16:46] GitFyu commented on #346
Almost EOTW on this server and it's still occuring.

[2015-10-16 18:04] nsporillo commented on #346
Does this issue only happen with the /f d 10 or with any other economy commands?

Once I get a solid feel for how I can test, will profile the command in VisualVM and see what I can fix.

[2015-10-17 13:42] GitFyu commented on #346
It seems to happen with other economy related commands too, for example disbanding a faction (which adds the faction balance to your balance, so economy related).

[2015-10-19 22:39] HeyImYellow opened #357 "Developer API"
Hello I am creating this post on behalf of my friend who is a developer and I was wondering where to find the developer API for HCFactions (I'm not so experienced so correct me if I'm wrong about this).

We were looking into adding walls around claims with PvP Protection etc but couldn't find an API anywhere, if someone could show me where it is, would be most grateful.

Thanks.

[2015-10-19 23:55] nsporillo commented on #357
There exists events (in the package `com.massivecraft.factions.event`) that are mostly for developer purposes.

The classes FPlayers, Factions, Conf, and Board can be used for developer purposes.

If you're friend is curious the source for FactionsUUID is [here](https://github.com/drtshock/Factions/tree/1.6.x/src/main/java/com/massivecraft/factions) and is very similar to HCF.

[2015-10-19 23:55] #357 closed

[2015-10-20 16:38] CharlieClewer opened #358 "CI Acces Request"
https://mcexchange.org/xrmp/verify_purchase?user_id=430&resource_id=2&challenge=abc123&signature=h8K1pUkUbD0tYaDkqLbLJRdNNUhruZJ3HPB7XOliQFo%3D

[2015-10-20 16:42] CharlieClewer commented on #358
Already got acces. Thanks

[2015-10-20 16:42] #358 closed

[2015-10-28 00:55] HeyImYellow opened #359 "Unsupported Characters"
Hello! Quick question as of if it would be easy to implement these characters to work, as of now it gives me these strange looking characters :c

Character I tried: »
  Result:
     http://prnt.sc/8w49oq

Thanks!

[2015-10-28 01:23] nsporillo commented on #359
I suspect it is an issue with how you entered the character in the lang file. Possibly with what encoding the lang.yml is saved in. Should be UTF-16 or UTF-32 to properly save those unicode characters.

Alternatively, you could just use the unicode number instead of pasting the actual character into the file.

For example with http://unicode-table.com/en/03BB/, try \u03BB.

There is no issue with

[2015-10-28 02:29] #359 closed

[2015-11-13 19:08] Eternalrealms opened #360 "System faction relation issue."
Hello, with the newest update to HC Factions (B64) system factions are using the default relation option in the config rather then being in truce with everyone like the previous versions. This is an issue for my server due to the fact that I want to deny teleportation commands in enemy territory but not wilderness, safezone etc. I'm not sure if this was intended but I thought I would get a definit

[2015-11-13 20:50] nsporillo commented on #360
I don't see your username on the buyers list so let me know what it is on mcexchange.

As far as your issue goes, I don't quite understand what you mean. If you want the default relation to be truce, you can set that in the config.yml. If you want to deny tp commands in enemy territory you can do that as well. The default relation is just what a faction defaults relation to everyone else is when t

[2015-11-13 21:25] Eternalrealms commented on #360
Basically what i'm trying to accomplish is, having all player factions be enemy by default. But have Wilderness, Safezone and Warzone truced so players can use commands in those factions that they wouldn't be able to use in enemy territory.

For example you're not able to /f home in enemy territory but you should be able to in wilderness. In all previous updates, this worked but with the current r

[2015-11-20 05:52] Eternalrealms commented on #360
Any update on this?

[2015-11-21 07:05] nsporillo commented on #360
Build 64 did not change anything related to what this issue is regarding compared to Build 63.

[2015-11-22 02:47] Eternalrealms commented on #360
Well the issue i'm having is not happening on build 63 only on build 64.

[2015-11-22 18:11] BTTP opened #361 "Price issue"
I love the plugin but 31 dollars? can it be any cheaper especialy for the up coming holidays ? and why isnt it on spigot? i would like it in my spigot account if possible.

[2015-11-22 19:34] nsporillo commented on #361
The plugin is not available on spigot because spigot didn't approve the plugin for sale there.

As far as pricing goes, it geared towards servers that generate revenue and require some amount of support in terms of fixing bugs and adding new features. I don't think the one time cost for a plugin is that high considering any server can add a new game mode to their network relatively easily thanks t

[2015-11-22 19:34] #361 closed

[2015-11-22 20:12] BTTP commented on #361
If u can do 20 ill buy it right now.

[2015-11-22 22:02] BTTP opened #362 "Some help."
If u can do 20 ill buy it right now. and also if in the future if spigot does approve of it will i be able to get access to it there? Please consider, I'll leave a very good review for you if you can!

[2015-11-23 03:55] #362 closed

[2015-11-23 17:12] drtshock commented on #362
no

[2015-11-23 17:12] drtshock commented on #361
no

[2015-11-25 23:14] HeyImYellow opened #363 "Issues & additions."
Hello, sorry for asking the same question but my server have been requesting many new features which relate to factions such as subclaims, kill stats but the only problem is updates are released very irregularly and you stated before you will not be fixing the kill stats.

As I have purchased the plugin would it be possible for me to gain access to the source code so we could implement some new fe

[2015-12-02 06:31] Eternalrealms commented on #360
Any update on this?

[2015-12-02 14:09] nsporillo commented on #360
There wasn't anything changed between 63 and 64 that could cause this issue.

In order for me to go in and test this, i'll need some time. Unfortunately, this is not the best time during the semester for that.

[2015-12-04 22:04] Lilmac12312 opened #364 "42 max land but it's set to 36?"
https://gyazo.com/b1818b4615d6ac241ff28ba65722bcb2

[2015-12-12 05:40] Vamure commented on #363
You will not gain access to the source code, I can promise you that

[2015-12-13 10:47] HeyImYellow commented on #363
Thanks for the ever-waited reply of 18 days.

[2015-12-13 10:47] #363 closed

[2015-12-20 03:36] #347 closed

[2015-12-20 03:36] #341 closed

[2015-12-23 08:06] iOxf opened #366 "Help with /f show."
I get the latest version of hcfactions. and i have a problema with /f show.
the dtr is
0,001 / 1,01 (Solo Faction)
I need fix this. to
DTR  0.1 / 1.01 (with point, and repair the more zeros in  the regeration (0,001).
Screen of the problem: http://prntscr.com/9hjn2q
I need this: http://prntscr.com/9hjrny

[2015-12-23 15:11] nsporillo commented on #366
That is most definitely not default configuration. You need to go into your lang.yml and change GENERIC_DECIMALFORMAT to `#.#`.

By default it is `#.###`. Which means there is 1 digit on the left of the decimal, and 3 on the right.

[2015-12-23 15:11] #366 closed

[2015-12-23 17:43] iOxf commented on #366
Okay i fix. but i need Replace the , for . in the /f show in game. y change to #.## but in game i have #,## (with comma) i need a (point .)

[2015-12-24 01:47] nsporillo commented on #364
Sorry for the very late reply. Not sure if I'll be of much help this much later on, but..

Is this still an issue? Can you link to a gist of your config.yml?

I took a look into the source back when this was created to see if there was any possible way for max land to exceed what is in config, and didn't see anything - but also didn't reply to this issue.

[2015-12-24 01:47] #360 closed

[2015-12-25 11:12] Lilmac12312 commented on #364
Yeah it's still an issue. I'll send you my config.yml now.

https://gist.github.com/Lilmac12312/dda912cea8298e287534

[2015-12-26 15:57] jmcmullen opened #368 "Please implement isNone() method on com.massivecraft.factions.Faction"
FBasics works as intended with FactionsUUID however as soon as HCFactions is added into the mix it stops working and generates the below error.
[code]

[2015-12-26 16:00] lol768 commented on #368
FactionsUUID implementation: https://github.com/drtshock/Factions/blob/1.6.x/src/main/java/com/massivecraft/factions/zcore/persist/MemoryFaction.java#L359

[2015-12-26 16:00] nsporillo commented on #368
I believe the name of the function was changed semi recently. So I can add a compatibility method to fix this issue.

However I'm at work until 5, so when I get back I'll add this. Thanks for the report.

[2015-12-26 16:05] jmcmullen commented on #368
No rush mate, thanks for the quick reply :+1:

[2015-12-26 22:35] #368 closed

[2015-12-26 22:36] nsporillo commented on #368
@jmcmullen should be fixed as of build 66.

[2015-12-26 22:46] nsporillo commented on #364
So the code in question is here:
    public int getMaxLand() {
        int landPerPlayer = P.p.getConfig().getInt("hcf.land-per-player", 6);
        int maxFactionLand = P.p.getConfig().getInt("hcf.faction-land-max", 36);
        int initialLand = P.p.getConfig().getInt("hcf.initial-land", 6);
        return isPermanent() && isNormal() ? maxFactionLand : Math.min(initialLand + ((getSize() - 1) * l

[2015-12-27 10:28] Lilmac12312 commented on #364
The land per player is for solo factions?

[2015-12-27 10:47] Lilmac12312 commented on #364
Never mind I fixed the issue by using a older version of the plugin. Hopefully it doesn't occur again :P

[2015-12-27 16:53] nsporillo commented on #364
You just reverted to a version before initial land was added. I don't quite understand how using an older version makes more sense then fixing your config.

The land per player is not for solo factions, the initial land is. So if you have 1 player in a faction, you can configure how much land they start off with, and then each additional member adds a certain amount of land.

I pointed out that gi

[2015-12-27 16:53] #364 closed

[2015-12-28 00:51] Lilmac12312 commented on #364
The way my configuration file is setup has worked till 1 month ago. I've always had it so each player and faction get 36 land.

[2015-12-28 02:33] nsporillo commented on #364
Yes, we added initial-land to the config.yml which greatly increases the options.

For instance, if you want solo factions to have 6 land, but dont want the land to grow by a factor of 6 with each new member, you can set it to 2.

1 player: 6 land
2 players: 8 land
3 players: 10 land

Instead of:

1->6, 2->12, 3->18, and so on.

You're welcome to use older builds, but they're not necessarily suppo

[2015-12-29 08:35] Lilmac12312 commented on #364
Yeah I would use newer builds but the HCFCore I run doesn't support the new builds and breaks completely so I'm stuck on lower builds :P

[2015-12-29 12:11] nsporillo commented on #364
If you reported the issues, I could most likely add compatibility...

[2015-12-30 07:06] Lilmac12312 commented on #364
I mean like, issues with the HCFCore I use. The developer for the plugin isn't active anymore.

[2015-12-31 02:39] Juanoo opened #370 "HCFactions is not compatible with ScoreBoard Plugins"
I have big problems with Scoreboard plugins!
My scoreboard plugin shows combattag timer, enderpearl, and koth timer

The scoreboard is not showing if HCFactions is in my plugins folder, if i delete HCF, scoreboard works

What can i do?