[2015-02-28 21:37] SnakeDaoust1232 opened #1 "HCFactions. /f show"
It would be nice if we could remove and add things into the f show.
So, in theory, if we don't want the enemies to show in f show, you can remove it.
http://gyazo.com/4ca4e37646d0b6cadbdb07035bff6b93

[2015-02-28 21:50] nsporillo commented on #1
A list in config.yml that takes TL values for what /f show outputs?

Example:
[code]
You can hide the faction home from being sent to players who arent members of that faction with dtr.hide-homes in our initial release.

Let me know if the example above would satisfy your request :)

[2015-02-28 21:57] SnakeDaoust1232 commented on #1
Ok, I understand what you're saying but the only issue i have really is, the default relation on the server is enemy so when someone types /f who (faction) every faction on the server will show in there f who. Maybe just make it so when the default relation is set to enemy it doesn't show in the f who. That ^ up there is kind of confusing. If it does the same thing, can you clarify some more pleas

[2015-02-28 22:03] nsporillo commented on #1
You could simply leave out the TL value `ENEMIES` and it would not appear in the output sent to the player.

I think this purposed system, or similar system works to provide 100% /f show customization, after all you can change what messages get sent, in what order, and the very text using lang.yml

[2015-02-28 22:06] SnakeDaoust1232 commented on #1
Ok, that's sounds great, how long would this take to implement?

[2015-02-28 22:09] nsporillo commented on #1
Not very long, we want to have this feature added by tomorrow at the latest.
Thank you for the feature request.

[2015-02-28 22:13] SnakeDaoust1232 commented on #1
Thank you and that sounds great!

[2015-02-28 22:17] SnakeDaoust1232 opened #2 "Mandatory Feature"
You shouldnt be able to kick someone on DTR freeze without paying for it.

When you type /f kick (player) when you are on DTR freeze, it will notify you that you can kick the player but it will take the dtr that that player has. So say in the config you set it so a player has a max dtr of 1. When someone in your faction dies and you are on dtr freeze, you can kick a player but it will take the 1 d

[2015-02-28 22:31] nscwalk opened #3 "Cant claim warzone."
Tried /f claim warzone 63 (and radius 63) cant claim warzone...

[2015-02-28 22:36] SoAaron opened #4 "Can't Destroy People's Raidable Land"
When someone is raidable, it doesn't change anything. You can't ove claim, break their blocks or open chests, etc...

[2015-02-28 22:42] SnakeDaoust1232 commented on #3
The command works for me....

[2015-02-28 22:42] RydanMC commented on #3
I'm pretty sure you're using invalid arguments, /f claim {radius} {faction} is the correct args I believe.

[2015-02-28 22:48] SnakeDaoust1232 commented on #4
Its true, when the faction is raid able, you break anything or use, or anything :P

[2015-02-28 22:53] SoAaron commented on #4
yup :/

[2015-02-28 23:35] #3 closed

[2015-03-01 00:11] nsporillo commented on #4
Can you confirm that when their faction DTR is below 0, and raidable appears to be "true", factions actually can't be raided? (breaking blocks, opening chests)

Overclaiming has been removed from this version of factions, it was not considered an HC feature, but if we get enough requests (just a few pretty much) to add it back in, we will.

[2015-03-01 02:05] SoAaron commented on #4
Okay, bout to record a video.

[2015-03-01 02:34] drtshock opened #5 "Resource Removed"
The resource was approved and then deleted by md5 later. I'm working on figuring out a new, viable option to sell it. If you purchased it and didn't download, contact me on skype.

[2015-03-01 02:49] SoAaron commented on #4
@nsporillo https://www.youtube.com/watch?v=5kHNvWYOHM8&feature=youtu.be

[2015-03-01 03:57] nsporillo commented on #4
Appreciate the video, definitely helps out with fixing this issue.

We did test raiding, and it was working fine - that's why we felt confident in the release. Something must have been left out causing this issue, I will be looking into it tonight and into the next few days.

Please be aware our resource was removed from spigotmc, therefore until we find a resolution, issue fixes may  take longer

[2015-03-01 04:02] nsporillo commented on #2
A feature to have DTR removed if a player is kicked can be added, yes.

However, "max-player-dtr" is a little misleading, a players DTR can go above that value in config, heres why.

If you have a faction that's gone raidable, it is possible to have that one person stay on to get the faction back into safety as long as they dont keep dying. It just takes a lot longer. What this also avoids is havi

[2015-03-01 18:55] SoAaron commented on #4
@nsporillo thanks! Will we be able to get a good version of the plugin, as we already bought it?

[2015-03-01 19:04] SnakeDaoust1232 commented on #4
To respond. Yes the raidable feature isnt working but the "overclaim" feature is not a HCF feature therefore it shouldnt be added.

[2015-03-01 19:09] SnakeDaoust1232 commented on #2
You shouldnt be able to invite players to a faction on DTR freeze. When you kick someone from a faction on DTR freeze the dtr goes down. It does this so people cant prevent themselves from being raidable because if a faction was raidable, they could just kick people and the DTR would go up to a point were they werent raidable. So once again a forcekick = lower dtr. It will take away as much DTR as

[2015-03-01 19:10] SnakeDaoust1232 commented on #5
md5 removed it. wtf why

[2015-03-01 19:12] SnakeDaoust1232 commented on #5
Make a website just for your plugins. Link people your website on the factions uuid page.

[2015-03-01 20:50] nsporillo commented on #4
@SoAaron Yes, despite our resource being removed, I plan on providing support for this project. I'm a little embarrassed our first release ended up containing game breaking bugs,

We're still in the process of getting everything up to speed, but YES! you will get a good version of the plugin since you bought it! :+1:

[2015-03-01 21:08] nsporillo commented on #4
Found the issue. We changed the config and forgot to remove a check in the player listeners, causing raiding to be perma blocked.

Closing the issue, as it has been addressed!

[2015-03-01 21:09] #4 closed

[2015-03-01 21:20] drtshock commented on #5
I'm working on a solution

[2015-03-01 23:23] nsporillo commented on #2
Working on some fixes! :)

[2015-03-02 00:04] nsporillo commented on #2
The features requested in this issue were added in full.

Thank you again :smile:

[2015-03-02 00:04] #2 closed

[2015-03-02 02:32] SoAaron commented on #4
@nsporillo I appreciate the help! in this case, how do we get the good version without rebuying it?

[2015-03-02 18:44] drtshock commented on #4
I'll be posting a new way for that soon. Just be patient :)

[2015-03-02 18:44] drtshock commented on #5
Working on a new panel. Will hopefully have something up and running soon. Not sure on an extra ETA.

[2015-03-03 06:17] nsporillo commented on #1
Still working on this request, had to spend the last few days working on critical bug fixes.

Apologies for the inappropriate ETA, I'm thinking through the best way to implement 100% /f show customization

[2015-03-07 03:03] nsporillo commented on #1
This feature has been added.

[2015-03-07 03:03] #1 closed

[2015-03-07 19:05] nscwalk opened #6 "DTR GOES OVER THE MAX DTR IN V0.03 SNAPSHOT"
here is a picture of it
![bandicam 2015-03-07 11-05-01-068](https://cloud.githubusercontent.com/assets/10702752/6542798/e8554072-c4b9-11e4-9333-5dadb0d815c8.jpg)

[2015-03-07 19:10] drtshock commented on #6
jeez calm down. @nsporillo will take a look when he gets online.

[2015-03-07 20:57] nsporillo commented on #6
This issue was already fixed, but did exist in older versions, yes.

Sorry about that!

[2015-03-07 20:57] #6 closed

[2015-03-07 21:07] nscwalk commented on #6
Sorry for caps ,but is it fixed now???

[2015-03-07 21:08] nscwalk commented on #6
In a newer version??

[2015-03-07 21:09] nsporillo commented on #6
@nscwalk yes, it was actually already fixed when I was working on the fshow features.

[2015-03-07 21:09] nscwalk commented on #6
Oh so all I will have to do is talk to Trent over Skype for the new version I guess?

[2015-03-07 21:10] nscwalk commented on #6
Cause I'm using the 0.0.3 - SNAPSHOT ver

[2015-03-07 21:10] nsporillo commented on #6
He's working to restore our dev builds, the CI has been having issues.

[2015-03-07 21:11] nscwalk commented on #6
How do I get acces to the CI

[2015-03-07 21:13] nsporillo commented on #6
https://ci.drtshock.net/job/HCFactions/

If you don't have access, contact @drtshock

The latest build is not up there yet, we still need to fix the what is making the last few builds fail, set version to v0.0.4 and then that should be a good download.

Thank you for your patience.

[2015-03-07 21:14] nscwalk commented on #6
Link is broken

[2015-03-09 19:51] SnakeDaoust1232 opened #7 "/f kick whilst on DTR Freeze Bug"
https://www.youtube.com/watch?v=wmJ8OwhtZG4&feature=youtu.be

[2015-03-09 19:55] nsporillo commented on #7
What version?

This was a known issue, however it should be fixed in our very latest versions.
(Which we are still trying to distribute to customers as best as we can right now :grimacing: )

[2015-03-09 20:11] RydanMC commented on #7
I believe we are using version 0.0.3.

[2015-03-10 16:24] nscwalk commented on #7
When will 0.0.4 be out because 0.0.3 has many bugs like this and DTR going to your maximum set DTR not player DTR

[2015-03-10 18:19] nsporillo commented on #7
The fix was already made, it's simply a matter of getting the new builds out to you guys...

I apologize for the excessive delay, I understand it can be quite frustrating to be stuck with a broken build when the fix exists, just not available yet.

Getting our builds available is my focus, however it's not in my power todo so - so I can only bug who handles the CI until then.

Also, if you dont ha

[2015-03-11 13:51] nscwalk commented on #7
@nsporillo I contacted DRTshock and he said there is no 0.0.4 ver and the CI is broken

[2015-03-14 08:40] nscwalk opened #8 "Access To CI"
Can I  get granted access to The CI build for this plugin?? I have already bought it I just want the 0.0.4 version

[2015-03-14 16:06] Doxify commented on #8
Same here, I need access to the latest version. I skyped and emailed trent with no response.

[2015-03-14 18:16] drtshock commented on #8
We currently don't have any new builds to distribute. We're working on a new site and we will release that once we are ready. Making this a duplicate of #5.

[2015-03-14 18:16] #8 closed

[2015-03-16 02:44] drtshock commented on #5
See https://gist.github.com/drtshock/d3105986088775fc6c20 for now

[2015-03-16 02:44] #5 closed

[2015-03-16 18:44] MoeXIV opened #9 "Set a Factions DTR."
I'm going to make this short and sweet. All I'm really asking if for a command that could set DTR if something were to happen to a faction, for example: A hacker got into their base, and they got killed, or they get ddosed and they get killed.

/f dtr <faction> <dtr>
For example:
/f dtr Warzone 5.55
or
/f dtr Warzone -5.55

Please make this an Admin only command ;)

[2015-03-16 19:16] nscwalk commented on #9
There is a command it's /f DTR (faction) (dtr) example /f DTR warzone 5.51 faction will still have DTR freeze but won't be raidable

[2015-03-16 20:08] MoeXIV opened #10 "Decimal Places / DTR Freeze"
http://prntscr.com/6hltfv
This is the "f show" as I have set. I think it would be cool if there was an option to decide to what decimal place for example:
0.00 instead of 0.000 if we so please.

I'd like to add 1 thing about the DTR Freeze. I like it the way it is, but it would be pretty cool if you had it say words instead of the numbers.
For example (for 59 minutes, and 40 seconds)
DTR Freeze: 5

[2015-03-16 21:45] nsporillo commented on #10
1) ![Lang](http://puu.sh/gDbp3/8effe06246.png)
- You can change the decimal format lang string in lang.yml.
- It's line 523, and '#.##' would accomplish the decimal place you're looking for.

2) You are right about the DTR freeze needing minutes and seconds.
- I'll work on implementing this feature request, expect to see it in the next few builds on the CI. :+1:

3) This bug fix request will be im

[2015-03-16 21:45] #10 closed

[2015-03-16 22:03] #9 closed

[2015-03-16 22:03] nsporillo commented on #7
Can you confirm the issue exists in the latest dev build?

[2015-03-16 23:38] MoeXIV opened #11 "Member Online / Offline / Death"
Basically, I was looking through the configuation and lang.yml, and I found this:

faction-login: '&e%1$s &9logged in.'
faction-logout: '&e%1$s &9logged out..'

I thought this was the messages that showed when a member logged in or out. I can't seem to get it to work, that's if that is what they are for.

If there is a way to do it, could you please show me how? If not, that's be a cool feature to

[2015-03-16 23:39] MoeXIV commented on #11
Sorry, when I did the "starts / astricks" it turned the font bold. ^.^

[2015-03-17 00:12] nsporillo commented on #11
@MoeXIV This issue tracker is for HCFactions only, you mentioned you were new to Factions UUID that is why I say this.

https://github.com/drtshock/Factions/commit/8300b2ff2b783de2f02c6956abee0a11525ca676#diff-dba339e247b7e8d53bc67d10f53caf97R123

This commit introduced a toggle for that feature, /f login .

Also, those 4 lines you referenced are configurable via the fshow list in config.

Please

[2015-03-17 00:12] #11 closed

[2015-03-17 01:50] MoeXIV commented on #7
Yes, it is fixed.

[2015-03-17 02:22] MoeXIV opened #12 "NameTags Corrupt in 0.0.4"
Basically, in the new 0.0.4 HCFactions version, the scoreboards do not work at all. The side bar, and the above the heads. If you try to edit the format, or change anything in the lang.yml file; it just disables itself.

I've tried everything. The only way to get it to work, only on default settings; is to delete the whole directory and restart the server.

[2015-03-17 02:53] nsporillo commented on #12
Restart the server, try to customize the settings and see if they take effect.

You probably could have gotten away with just removing the suspect file, shouldn't have *needed* to nuke the directory.

[2015-03-17 02:54] nsporillo commented on #7
@MoeXIV Thank you. @nscwalk @SnakeDaoust1232 closing this as solved :smiley:

[2015-03-17 02:54] #7 closed

[2015-03-17 04:04] MoeXIV commented on #12
I tied deleting each file by itself, and no use. We've restarted plenty of times. No use. Just a white base name. No errors, no nothing. It's like the configuration disables that tablist when it detects a simple change.

[2015-03-17 04:22] Doxify opened #13 "5.51 / 0.51 dtr and tab doesn't update"
5.51/0.51 DTR

![c015fb8229aaf96c5c3f74fa5c541264](https://cloud.githubusercontent.com/assets/9636316/6681293/4cf1677c-cc21-11e4-9317-de849faaf3ff.png)

I was logged in on my other account and the problem was not there. Seems to only happen to some people. (As you can see there are two people online, I ran /list in console)

![lv2bq3r](https://cloud.githubusercontent.com/assets/9636316/6681342/1e7

[2015-03-17 04:22] nsporillo commented on #12
![2015-03-17_00 13 55](https://cloud.githubusercontent.com/assets/1480197/6681315/c84e928c-cc3a-11e4-888e-a5714058046c.png)
The scoreboards are working over head and in tablist.

![2015-03-17_00 20 55](https://cloud.githubusercontent.com/assets/1480197/6681363/9b277c0a-cc3b-11e4-8fdf-6ca1b039a297.png)
Faction info scoreboards are working and I was able to change "territory" to "land" without issue

[2015-03-17 04:26] nsporillo commented on #13
Try to run /fshow again, there may have been a temporary blip in the calculation.

Make sure you're running the latest build, https://github.com/drtshock/HCFProblems/issues/6 referenced a issue similar to this and it should have been fixed in the newer builds.

As far as the tablist not updating, i'll run some tests with 2 clients right now and see what happens.

[2015-03-17 04:28] Doxify commented on #13
I wasn't aware that there are new builds, this is what happens when I go to the link for downloads.

![uowns34](https://cloud.githubusercontent.com/assets/9636316/6681415/662c2568-cc23-11e4-9832-2a9826bf21a4.png)

[2015-03-17 04:31] nsporillo commented on #13
On the readme, it links [here](https://gist.github.com/drtshock/d3105986088775fc6c20) if you don't have access to the builds (a 404).

If you've already purchased, contact @drtshock to get access to the dev builds :+1:

[2015-03-17 04:33] Doxify commented on #13
![r6dcnwn](https://cloud.githubusercontent.com/assets/9636316/6681445/098c413e-cc24-11e4-8fe7-5b09926ba825.png)

He told me I was already added, should I contact him again?

[2015-03-17 04:34] nsporillo commented on #13
@Doxify you have read access
![ss 2015-03-17 at 12 33 57](https://cloud.githubusercontent.com/assets/1480197/6681451/56d8c5e8-cc3d-11e4-97de-b41fb089c5a7.png)

Make sure you log into the CI page, in case you were logged out.

[2015-03-17 04:36] Doxify commented on #13
I am logged in, HCFactions is not in his Jenkins or at least it doesn't show for me.

[2015-03-17 04:59] MoeXIV commented on #12
The "default-prefix: '{relationcolor}" because I just wanted the color, not the faction name.

http://prntscr.com/6hsatu

I've tried everything. Scoreboards don't even come up for me. When I setup scoreboards, they don't come up. I'm on spigot 1.7.10 / 1.8 Protocol hack build 1649.

[2015-03-17 05:10] Doxify opened #14 "/f who <player that hasn't joined the server> brings back internal error"
Just as title says, not a big deal but it's a bug.

![urzbhur](https://cloud.githubusercontent.com/assets/9636316/6681754/4f28de6e-cc29-11e4-8aaa-e3db535af674.png)

[2015-03-17 05:15] MoeXIV commented on #14
I noticed this too.

[2015-03-17 05:18] Doxify commented on #13
@drtshock can you fix my name on Jenkins? It's "doxify" instead of "Doxify". Someone on irc tried to fix it but couldn't.

[2015-03-17 05:38] nsporillo commented on #12
What do you expect just the color and not a faction name to look like..?

[2015-03-17 05:40] Doxify commented on #12
He wants just the name colored.

So if someone is an enemy, there'd be no faction tag but just a red name.

[2015-03-17 05:43] nsporillo commented on #12
This is more of a feature request then a bug report, as that functionality hasnt existed before (atleast afaik)

However, i'll work on some fixes to allow you to do this, as it is a good idea :+1:

[2015-03-17 05:49] MoeXIV opened #15 "Land Change Messages?"
I've noticed that there's not a way to customize the leaving and entering messages of land.
This is an example of what I'm talking about.

 "&eLeaving &2Test&e, Entering &cTest"

[2015-03-17 05:58] MoeXIV commented on #12
This is already possible. A change of Spigot versions did the job. Please close the thread. :+1:

[2015-03-17 05:59] nsporillo commented on #12
![2015-03-17_01 58 13](https://cloud.githubusercontent.com/assets/1480197/6682102/327f1bd2-cc49-11e4-9b33-505e69226fea.png)

with:
    default-prefix: '{relationcolor}'

@MoeXIV glad it was resolved :smile:

[2015-03-17 05:59] #12 closed

[2015-03-17 06:06] Doxify commented on #13
Still happening on 0.0.4

https://imgur.com/64znEir

[2015-03-17 06:14] #14 closed

[2015-03-17 06:16] #13 closed

[2015-03-17 06:36] nsporillo commented on #15
Could you post a screenshot?

[2015-03-17 06:59] MoeXIV commented on #15
http://prntscr.com/6hswfc
As messages when you leave and enter land.

This displaying once, not twice. For example, if I walk into safezone, I'd get that message, and that message only.

[2015-03-17 07:09] nsporillo commented on #15
Ahh, I see now.

Was looking in the wrong place on my end to fix this, the screenshot helps :)

[2015-03-17 07:10] MoeXIV commented on #15
Do you mind if I submit some enhancments?
Maybe a "{DTR}" and "{MAXDTR}" usable for most scoreboards. I can't get it to work for the scoreboard that shows perminamtly enless they type /f sb.

[2015-03-17 07:11] nsporillo commented on #15
@MoeXIV Please separate your enhancement requests into specific issues. This allows me to address each one individually with commits and case by case support. Helps us organize things better. Thank you.

[2015-03-17 07:12] MoeXIV commented on #15
Okay, ;)

[2015-03-17 07:13] MoeXIV opened #16 ""Cool" Enhancments."
It would be cool to add a couple variables to "f show" that would allow this:
http://prntscr.com/6hsyth

And some sort of variable to show DTR and MAX DTR in the scoreboard:
http://prntscr.com/6hsz22

[2015-03-17 07:19] MoeXIV opened #17 "Names in "f show" Do not Color"
Yes, I know by now you're most likely furious by the amount of times I post. All I'm trying to do is get all the bugs into your knowledge so you know how severe or not they are.

Basically, in "f show" the usernames that show, should be colored depending on the relationship you have with that faction; currently they are all just white.

http://prntscr.com/6hszxj

Also, if you have no Faction, most

[2015-03-17 13:26] drtshock commented on #17
The no color thing is on purpose. The tag of the faction should have the color though.

We can add an icon for chat for factionless players.

[2015-03-17 13:27] drtshock commented on #15
The second scoreboard in the config is for this if you want to use that. You can configure it 100%. The message itself is configurable in the TL.

[2015-03-17 13:27] #15 closed

[2015-03-17 17:29] MoeXIV commented on #17
Why are the players supposed to be white?
Is there a way to change it, in the configuration?

[2015-03-17 19:11] MoeXIV opened #18 "Can't Kill in Certain Territory?"
So, I've been doing a bunch of bug tests with players, just to ensure I have no issues when we fully release. I found that if you have no Faction, you cannot PvP in someone elses Territory. When you try to hit them, it just sends you a blank line in chat, and doesn't let you pvp. I've looked through every file and nothing about PvP comes up.

----

Also, people with no Faction, should have a red n

[2015-03-17 19:38] Russiaa opened #19 "Ability to configure commands header"
Add a config option to the header and footer of the commands.

Configure these: http://prntscr.com/6i0nop
In my opinion the default doesn't look to great, and It would be nice to change it.

[2015-03-17 20:02] Doxify commented on #19
I'd like this too.

[2015-03-17 21:21] nsporillo commented on #16
Added the sidebar variables that were missing.

You can now use dtr, maxdtr, land, maxland in the sidebar :+1:

As far as the f show variable idea, will work on that tomorrow probably :smile:

[2015-03-17 21:33] nsporillo commented on #19
Good suggestion. Will work on this :+1:

[2015-03-18 00:08] MoeXIV commented on #16
So theres DTR / MAXDTR now?
And when do you think this going to be added to the CI, I couldn't see the update.

[2015-03-18 00:30] nsporillo commented on #16
https://ci.drtshock.net/job/HCFactions/10/

Sorry, had to push a build :tangerine:

[2015-03-18 00:51] MoeXIV commented on #16
Won't work for me. It works for the scoreboard when leaving and entering different Faction land, but it doesn't work for the default scoreboard (The one that shows balance and your faction, with the default scoreboard named "i love dtr")

[2015-03-18 02:13] Doxify commented on #19
Until it's added, you can actually add a footer yourself in the config.yml

![510wpwp](https://cloud.githubusercontent.com/assets/9636316/6701421/a0f7e2de-ccd9-11e4-9745-c6ceabc7d936.png)

[2015-03-18 02:30] Russiaa commented on #19
Yeah that is true, I can just add a footer myself.
So It isn't that important, but the header definitely needs improvement

[2015-03-18 05:27] Doxify opened #20 "new variables in sidebar do not work with latest build"
![oynwxrr](https://cloud.githubusercontent.com/assets/9636316/6703179/bc54ee94-ccf4-11e4-9d97-483b42a74e7e.png)

[2015-03-18 05:33] nsporillo commented on #20
Is this the default sidebar?

In https://github.com/drtshock/HCFProblems/issues/16 , reporter noted it was not working with default boards.

I'm finishing up the update now, so that both work great. Also going to go in and make the config and default settings pretty

[2015-03-18 05:34] Doxify commented on #20
Yes it is the default sidebar.

[2015-03-18 05:34] MoeXIV commented on #20
Thank you!

[2015-03-18 05:56] #20 closed

[2015-03-18 05:58] nsporillo commented on #20
![Example](http://puu.sh/gF4FV/17fea0dd06.png)

Completed fixes which will produce the above.

Remember, decimal format from the lang file is used to format the scoreboard dtr as well!

[2015-03-18 06:00] Doxify opened #21 "newest update broke other variables"
![bjdnpsf](https://cloud.githubusercontent.com/assets/9636316/6703466/6535c4e4-ccf9-11e4-999f-323892580085.png)

Not sure which other variables are broken, haven't tested them all.

[2015-03-18 06:06] nsporillo commented on #21
This is how the sidebar is handled, without knowledge of java-it should still be readable.

        s = s.replace("{name}", fplayer.getName()).replace("{balance}", String.valueOf(Econ.getFriendlyBalance(fplayer.getPlayer().getUniqueId())));
        s = s.replace("{faction}", !faction.isNone() ? faction.getTag() : TL.GENERIC_FACTIONLESS.toString());
        s = s.replace("{dtr}", dc.format(faction.

[2015-03-18 06:07] Doxify commented on #21
If you look at #20 you will see that there was a {totalOnline}.

[2015-03-18 06:10] #21 closed

[2015-03-18 06:15] nsporillo commented on #16
@MoeXIV for the first request, what does 30 stand for?

[2015-03-18 06:20] Doxify commented on #17
I'd like both the icon and colored "tag" or name for players not in a faction please.

[2015-03-18 06:36] nsporillo commented on #18
@MoeXIV For the second part of your issue, this was addressed [here](https://github.com/drtshock/HCFProblems/issues/12).

In your lang file, change:
    default-prefix: '{relationcolor}[{faction}] &r'
to:
    default-prefix: '{relationcolor}'

This should result in:
![2015-03-17_01 58 13](https://cloud.githubusercontent.com/assets/1480197/6682102/327f1bd2-cc49-11e4-9b33-505e69226fea.png)

Make sur

[2015-03-18 06:38] Doxify commented on #18
People that are not in a faction have a white name, we'd like for you to change that to red.

[2015-03-18 06:47] nsporillo commented on #18
Could just go into the conf.json and change the color for neutral factions to the color you have for enemy factions.

This 'hack' should suffice until I can thoroughly test the changes to a utility method with a huge scope. (Lots of stuff relies on this method, so changing it may introduce bugs elsewhere)

[2015-03-18 06:48] Doxify commented on #18
![8tarryz](https://cloud.githubusercontent.com/assets/9636316/6703979/20c79628-cd00-11e4-8c53-eb8d06372d81.png)

That doesn't work

[2015-03-18 06:50] nsporillo commented on #18
@Doxify Oh, sorry about that.

Give me a few minutes to test out this experimental change I just made. Hopefully it'll solve this issue and introduce no other bugs (relation utils are used a lot, so I hope not)

[2015-03-18 07:24] nsporillo commented on #18
Going to set this to waiting, since i'm going to sleep and still havent solved the 2nd issue yet.

Could not reproduce the pvp issue on my own. It's late thought. I had to open 3 different clients, one of them cracked since I only own two accounts, just so I could try and figure out whats wrong. It's working as expected for me, so a video or more explanation would be fantastic!

Progress on issues

[2015-03-18 07:27] nsporillo commented on #19
Set this to waiting, will work on when I wake up :)

This enhancement in particular won't have very high priority though, as it isn't critical to the functionality of the plugin and is relatively difficult to implement. (need to redesign how we titleize something, which changes based on the input size).

[2015-03-18 13:21] drtshock commented on #18
https://github.com/drtshock/HCFactions/blob/dtr/src/main/resources/config.yml#L26

Change the default relation.

[2015-03-18 13:21] #18 closed

[2015-03-18 14:20] Doxify commented on #18
Page not found ^

[2015-03-18 14:27] Doxify commented on #18
Guessing you're talking about this, as you can see it still doesn't work.

![iliecbl](https://cloud.githubusercontent.com/assets/9636316/6710774/35c84d98-cd40-11e4-8809-0ea9c67e078f.png)

[2015-03-18 14:44] drtshock commented on #18
Which person are you?

[2015-03-18 22:45] MoeXIV commented on #16
Max number of people per Faction.

[2015-03-18 23:33] MoeXIV commented on #18
He is LizardSquad. If you're not in a Faction, you have no nametag to anyone holding the tablist. With or without a Faction, you should have the "default" colored tag (Defined in your config.yml)

[2015-03-19 00:00] MoeXIV commented on #16
Also, the "totalOnline" variable no longer works in the scoreboard.
http://prntscr.com/6iisnv

[2015-03-19 00:59] Russiaa opened #22 "Suggestion: Territory Notifications"
When you leave/enter a territory it would display a message similar to this:

http://prntscr.com/6ijcgz

It would also do this for faction land:
"Leaving (Faction Territory Left), Entering (Faction Territory Entered)"

Not an important suggestion, but something nice to see :)

[2015-03-19 01:58] Doxify commented on #22
I'd also like this.

[2015-03-19 02:07] nscwalk opened #23 "Is there a way to remove enemies off of fshow"
If there is a way to remove enemies off of f show That would be great because I have my default relationships set to enemy and whenever anyone does /f show it spams there chat

[2015-03-19 08:08] MoeXIV commented on #23
It's all configurable if you haven't looked through the configuration before..

There's "f show" edits you can make really easily. Look around before you post ^.^

[2015-03-19 08:08] MoeXIV commented on #22
As do I. ^.^
Please consider asking, as I previously made a post about this.

[2015-03-19 08:08] MoeXIV commented on #19
Good to hear. Hope to see an update soon. :+1:

[2015-03-19 08:09] MoeXIV commented on #17
Good to see the waiting tag. I'm glad this was taken into consideration. :)

[2015-03-19 08:09] Doxify commented on #16
It's been changed to {online}

[2015-03-19 08:44] #23 closed

[2015-03-19 13:30] drtshock commented on #18
But Sainly has a red tag as he is an enemy. I fail to see what isn't working.

[2015-03-19 13:31] drtshock commented on #22
One of the few messages we have that isn't configurable ;c

[2015-03-19 15:45] nscwalk commented on #23
Is that in the lang file????

[2015-03-19 15:50] nscwalk opened #24 "Exceeding ally limit glitch"
So there is a glitch where if you have the maximum set to 2 ally's and you send 3 ally requests and they already don't have 2 ally's all 3 can accept your request giving you 3 allies. A fix would be a message that would say. This faction (name) has already reached it's ally limit. Because what the plugin is doing now is just not letting you do /ally (name) when you have 2 ally's. But when you have

[2015-03-19 17:41] MoeXIV commented on #22
One of the, like, 400? xD
Figures it's un configurable.

Maybe make a toggle feature? It's a lot more clean in my opinion.
P.S, the entering and leaving would only show the name of the faction with the relationship thing. No description <33

[2015-03-19 18:10] drtshock commented on #22
600ish*.

Well I wanted to add titles but Spigot has yet to add API for it yet ._. We have a scoreboard that can pop up for a few seconds. We'll make it a configurable chat message as well.

[2015-03-19 19:12] MoeXIV commented on #22
When do you think this will be done? And are you talking about the leave and entering messages for faction land? I'm somewhat confused ;c

[2015-03-19 19:28] RydanMC commented on #22
This feature would be loved, most HCF servers/plugins have something similar to this.

[2015-03-19 21:34] SnakeDaoust1232 opened #25 "DTR Freeze Adition"
Add-on. Make it so players cannot join factions that are on DTR freeze. (Configurable)

[2015-03-20 01:28] nsporillo commented on #25
You want this to be configurable? Seems like something that should always be enabled... it's like adding a config toggle for DTR...

At any rate, it is already implemented. I'm going to set this as closed, but if you have a case for it being configurable, comment again. We want to add feature, yes - but config clutter is no good.

[2015-03-20 01:28] #25 closed

[2015-03-20 02:34] Doxify commented on #23
Reset your config.yml, that's what I had to do.

[2015-03-20 02:34] Doxify commented on #18
We want EVERYONE who is not in a faction to have a red tag.

Just give the wilderness faction a red tag.

[2015-03-20 14:25] drtshock commented on #18
Why would you show up as hostile to yourself though?

[2015-03-20 14:32] Doxify commented on #18
Correct, let me rephrase.

Make everyone's name who is not in a faction red for everyone else but green for them.

[2015-03-20 16:22] Doxify opened #26 "Feature Request: /f unfreeze"
I think this command would be useful.

It would take a faction off of dtr freeze.

[2015-03-21 14:07] Doxify opened #27 "Add option to disable over claiming"
Please.

[2015-03-21 15:19] RydanMC commented on #27
Agreed, this is really needed.

[2015-03-21 15:23] Doxify commented on #27
PLEASE someone.

[2015-03-21 16:36] Doxify commented on #27
I'm will pay you guys to get this out faster, it's very important.

[2015-03-21 17:41] nsporillo commented on #27
I'm in canada on vacation, i'll be home monday.

That being said, you're going to have to explain this because overclaiming should already be disabled afaik.

[2015-03-21 17:43] Doxify commented on #27
I explained to Trent but it's a bug actually.

Players are able to overclaim anyone's land no matter what. Even if they're no raidable. I'd like to completely disable / remove over claiming if possible.

[2015-03-21 17:45] drtshock commented on #27
It looks like the over claiming logic was completely removed in HCF causing it to not even pass through a check if it can or not. Will add it back in here in a sec.

[2015-03-21 17:46] nsporillo commented on #27
@drtshock im looking at it now as this seems to be a pretty severe bug... didn't catch in initial testing.

[2015-03-21 17:46] Doxify commented on #27
If you can remove it it'd be better or add an option to remove it, overclaiming isn't a thing in HCF.

[2015-03-21 18:11] #27 closed

[2015-03-21 18:15] Doxify commented on #26
Is this being added?

[2015-03-21 18:15] Doxify opened #28 "/f login by default"
I think this command is very useful but  why is it not something that's enabled by default?

Most players don't know that /f login is a thing so they never use it.

[2015-03-21 18:16] nsporillo commented on #26
Yes.

[2015-03-21 18:20] #28 closed

[2015-03-21 18:34] Doxify opened #29 "claiming claimed land now kicks you"
https://i.imgur.com/aZza7Ur.png

[2015-03-21 18:47] Doxify opened #30 "People are not able to kick, leave, or invite while on dtr freeze"
I'd like this changed, can we allow users to do these things while on dtr freeze?

[2015-03-21 19:16] #29 closed

[2015-03-21 19:21] nsporillo commented on #30
The system needs some time to work out the kinks :p

When players leave a faction or get kicked, it should fine the faction some DTR so they can't just kick someone to boost their DTR when frozen.

Likewise, when players join a frozen faction, should just suspend the DTR addition until the freeze is over.

You think this is a good model?

[2015-03-21 19:47] nscwalk opened #31 "People dont lose DTR on death"
Dont know why ,but whenever someone dies in the latest version of hcfactions they do not lose dtr. even when set to 1 the faction loses no dtr. I thought it may have been because I edited the /f show
but it wasnt that because I rest the config file and people dont lost dtr. I feel as if this doesnt have to do with the plugin just something setup wrong. because I would imagine someone would have re

[2015-03-21 19:48] Doxify commented on #30
Yeah, sounds good.

[2015-03-21 19:53] Doxify opened #32 "Enemy territory"
On the latest build I was doing some tests and was not in a faction. When I tried to hit someone while they were on their claimed land I got this message. https://imgur.com/WRW8GlS However on HCF everyone should be enemies.

[2015-03-21 21:29] TMNetwork opened #33 "./f login Default?"
Can u make it where we can set it to default: true rather than false in the config or something?

[2015-03-21 21:31] TMNetwork opened #34 "./f list config?"
You cannot config /f list. I want to make it where it shows the DTR of the player not the land and there is no place in the language or config to do that.

[2015-03-21 21:33] TMNetwork opened #35 "Walking into terrirtory"
Can you make it where when we walk into a territory that we can config that msg.

Example:
&eYou are now entering: &b{faction name}

and when they leave
&eYou are now leaving: &b{faction name}

[2015-03-21 21:36] TMNetwork opened #36 "** removal?"
I am trying to remove the stars from the chatTag
NOT THE /f SHOW or anything else,

http://gyazo.com/58adf5708be5ae9e35a7471d2cbc6118

Just the tag.

It will not remove properly or I am just doing something wrong.

[2015-03-21 21:37] Doxify commented on #36
config.json

[2015-03-21 21:38] TMNetwork commented on #36
"chatTagFormat": "%s",
makes no sense to me.
Tell me what i should put instead of %s
@Doxify

[2015-03-21 21:39] Doxify commented on #36
The highlighted area is what you edit to change the stars.

![3euutik](https://cloud.githubusercontent.com/assets/9636316/6766937/1ddd9694-cfd8-11e4-8a0c-43fad0229b51.png)

[2015-03-21 21:41] nsporillo commented on #35
Duplicate of https://github.com/drtshock/HCFProblems/issues/22

This feature is going to be implemented, just not until atleast monday.

[2015-03-21 21:41] #35 closed

[2015-03-21 21:42] nsporillo commented on #31
Can anyone else confirm this issue?

When I tested, it appeared to be working just fine.

Will apply a label and investigate once confirmed.

[2015-03-21 21:43] nsporillo commented on #32
`However on HCF everyone should be enemies.`

That's what you have in config, correct?

Thank you for reporting this, again-will work on this when I'm back home :)

[2015-03-21 21:47] nsporillo commented on #34
Adding the option for variables in each line of the output can definitely be added, along with the ability to change the format, coloring, etc.

Thanks for this report! Will work on this once I get back home from vacation on monday! :smile:

[2015-03-21 21:48] Doxify commented on #31
Worked for me.. Players lost dtr when I killed them.

[2015-03-21 21:49] Doxify commented on #32
I do have that set as the default relation of course, its the plugin that is recognizing everyone as enemies when you are trying to hit people in their territory.

[2015-03-21 21:50] nsporillo commented on #33
This feature was already added in the latest build on the CI.
Builds #13 and up should contain the feature you're looking for.

[2015-03-21 21:50] #33 closed

[2015-03-21 21:52] nsporillo commented on #31
Looks like an issue with the setup then, like @nscwalk guessed in the op.

@nscwalk could you try the latest build and a clean plugin directory and see if the problem persists?

[2015-03-21 22:14] TMNetwork commented on #33
That isn't true, I have the most up to date build and it doesn't show me where I can set this to default
@nsporillo

[2015-03-21 22:14] TMNetwork commented on #36
Yes, but that removes it from /f show which i don't want @Doxify

[2015-03-21 22:24] nsporillo commented on #33
It should automatically be on by default. Not configurable. This was https://github.com/drtshock/HCFProblems/issues/28

[2015-03-21 22:28] TMNetwork commented on #33
@nsporillo It's set to false.

This is my plugin version:
http://i.imgur.com/ig1dFJX.png

[2015-03-21 23:27] nscwalk commented on #31
Ok I seem to have lost DTR On a clean plugin directory Ill have to look for some issues that are possibly causing this to not work

[2015-03-21 23:29] nscwalk commented on #32
Set max truce and neutrals to -1 maybe that might help

[2015-03-22 00:11] ghost opened #37 "Faction kills tracking"
Add kills to /f show

http://i.imgur.com/DIR3hr2.png

Most HCF servers have that and it's saved flat, not MYSQL.

[2015-03-22 00:18] nscwalk commented on #31
So this was somehow fixed I just deleted tons of plugins and plugin configs that I didnt use or need. overall it was fixed thanks for the support

[2015-03-22 00:48] nsporillo commented on #37
If total kills were added, it would be saved in the factions.json, not flat or mysql.

Going to set this as enchantment and waiting. I can only provide issue support and critical fixes as i'm away from home for the weekend. Thank you for the report.

[2015-03-22 00:50] nsporillo commented on #31
@nscwalk Glad it is working for you. Sometimes a overhaul of your plugins will somehow fix issues like that. Ofcourse it is not practical to wipe a production servers data like that, but that is what test servers are for :p

[2015-03-22 17:48] Doxify opened #38 "Players not losing DTR!"
Title, using latest build, players are dying but not losing DTR. They are on DTR freeze though.

Edit - Doesn't seem to be happening to everyone.

[2015-03-22 19:42] nsporillo commented on #38
Went through the program logic and found the potential source. I'm going to throw up a dev server on my laptop so I can make sure theres no obvious issues with the fix.

[2015-03-22 20:04] Doxify opened #39 "Request: /f stuck"
Since you cannot teleport while an enemy is within 32 blocks of you, /f stuck would allow you to teleport out. However you would have to say still a minute without moving or pvping of course. And after that minute is up you'd be taken to your /f home/

[2015-03-22 20:14] TMNetwork opened #40 "neutral color"
I set the neutral color to red and people without a faction are still white. Please help?

[2015-03-22 22:12] TMNetwork commented on #40
Example:
The kid in the white doesn't have a fac and nor do I so we see each other as white. Can we make that default color red? That's how HCF works.

[2015-03-22 23:28] Doxify opened #41 "/f home delay not working"
Teleportation is instant, I have it set to 10 seconds for both /f home and /f warp however it is instant.

[2015-03-22 23:34] #41 closed

[2015-03-22 23:51] nsporillo commented on #40
Very similar to https://github.com/drtshock/HCFProblems/issues/17 , you are correct in saying that HCF should still color names of factionless players.

[2015-03-23 00:10] MoeXIV commented on #39
I too would like this. ^.^

[2015-03-23 00:10] MoeXIV commented on #40
When do you think this could be complete?

[2015-03-23 00:23] #38 closed

[2015-03-23 00:43] nsporillo commented on #40
I'm looking into it now, so a reasonable timeline estimate would be 20 minutes or up to tomorrow.

[2015-03-23 02:52] mbax commented on #39
A full minute without... moving? That sounds like a rather painful minute.

[2015-03-23 02:53] Doxify commented on #39
It's better than being stuck in a trap which you cannot get out of forever.

[2015-03-23 12:01] MoeXIV commented on #39
It's usually 5 minutes. It should be configurable.

[2015-03-23 17:42] #40 closed

[2015-03-23 17:43] nsporillo commented on #32
This is being fixed now, it was a issue with relations.

Try now with the latest build. I just tried and it seems to be working fine.

[2015-03-23 17:43] #32 closed

[2015-03-23 18:11] MoeXIV opened #42 "30% Reduced Damage"
I'm not sure if this is an issue as I don't have the abilities to test this as of now, but on Factions if you hit an enemy in enemy territory they get 30% reduced damage. If this is still a thing with the Enemy relationship it needs to be taken out.

Sorry for not being able to clarify this, I'm trying to keep my project low key, and I have no working alts.

[2015-03-23 18:19] #16 closed

[2015-03-23 18:36] nsporillo commented on #42
I only have two paid usernames, so if I need to test things with more players I had to get a cracked client and set my test server to offline. I suggest you try the same if you find you need it.

However, I just checked the event and it does not appear to modify damage dealt based on relations.

I'll set this to help wanted so others can maybe help.

[2015-03-23 19:48] nscwalk commented on #42
Look in the default factions config and make sure the server is offline when you edit it. I don't know it by heart and I do not have access to a CPU right now but, go into the regular conf file and go down to enemy  Sheild in territory or something by default it is set to .3 set it to 0 fixes problems

[2015-03-23 19:52] nscwalk commented on #31
ISSUE HAS BEEN REOPENED*
I figured out how I was testing this DTR this was wrong. There is a problem where you do not lose DTR if you die to a player. Any other cause via /kill /suicide burning in lava suffocating dying to a mob you do. Don't understand why this is happening I now believe this a legitament issue and not an error with my plugins

[2015-03-23 19:56] #34 closed

[2015-03-23 20:31] Surgatations opened #43 "Tag/Tablist Relation Color"
After the new patch for Factionless player color, and a better factionless tag in chat, Scoreboards and Relation colors stopped working. I had players relog, and i reloaded and i see this in tab and above a head, the example provided is above the head of a player.

Example on reload: http://gyazo.com/ec62d8201bde1342b0346abf87d560dc

EDIT: Works on a test server without and plugins exept factions,

[2015-03-23 20:38] #43 closed

[2015-03-23 20:44] #22 closed

[2015-03-23 20:47] nsporillo commented on #22
Added. Check out the latest download on the build server.

Make sure your lang file is fresh.

By default, we now have
![territory notifications](https://cloud.githubusercontent.com/assets/1480197/6790145/1a4ec2e6-d17c-11e4-82b6-0d374836abd4.png)

Thank you @Russiaa for the suggestion.
@Doxify @MoeXIV @RydanMC hope you like this as well :+1:

[2015-03-23 20:52] nsporillo commented on #31
@nscwalk I just tested this and a player in a faction will lose DTR when they die from pvp.

[2015-03-24 01:16] nscwalk commented on #31
hmmm
this seems weird especially since another person reported this issue ill have to take another look

[2015-03-24 01:28] Doxify opened #44 "DTR is no longer lost on death in build 18"
Title.

Went back to 17 because it does there.

[2015-03-24 01:44] Surgatations commented on #44
DTR Works fine in build 18, try looking over you're config.. I'll run some tests to make sure my statement is correct now.

[2015-03-24 01:45] Doxify commented on #44
![wgruam2](https://cloud.githubusercontent.com/assets/9636316/6794243/be93fdc0-d18c-11e4-87ec-9a4e2a82dd69.png)
Look at chat, user dies and DTR is not lost. This is on build 17, for some reason I can kill my alt and they lose DTR but not other players?

[2015-03-24 01:47] Surgatations commented on #44
Seems to work fine on my server? I could give the IP to show you?

[2015-03-24 01:48] Surgatations commented on #44
![ba937fc48a89f8ea0ad08bd1fcf4ff6e](https://cloud.githubusercontent.com/assets/9434234/6794285/56392cfe-d1a6-11e4-957d-dd5b0d0def34.png)

[2015-03-24 01:49] Doxify commented on #44
Yes I know this bug is VERY weird, it works perfectly with my alt on the same server, just not for the other users... ALT is not opped but I am, maybe they only lose DTR if an OP kills them? That could be why DEVS think they have fixed the problem..

[2015-03-24 01:50] Surgatations commented on #44
If you would like to come on my server we can test it, but other wise i fail to see the problem as it works fine on my test server and my public server.

[2015-03-24 01:59] Surgatations opened #45 "Request: Total Kills"
Basicly, i'm requesting a variable that can be put in f show such as {totalKills}. This variable shows how many player kills the faction has combined.

Example: Bob kills 3 players, then Alex kills 1 player. In f show the total kills would be 4.

Example from ParaPots: http://gyazo.com/cf97560c9ab164e74dede6c555d1baca

[2015-03-24 02:02] Doxify commented on #44
My mod has a theory that DTR is only lost for new factions, or factions created after the update that fixed DTR. We tested this and it seemed to be true.

Another theory is that since each player has 1 DTR and max DTR is 5.1,  and if there's 10 people in a faction, maybe the MAX DTR is 10, but it just says 5.1 since that's the MAX in config, and when they die the DTR gets lowered to 9 but since it

[2015-03-24 02:04] Surgatations commented on #44
The first theory might be true, but the second one i highly doubt is true.
At this level of confuison i can't help anymore sorry :/
Wait till @nsporillo or @drtshock has some input on this..

[2015-03-24 02:48] Doxify commented on #44
![qngw0cp](https://cloud.githubusercontent.com/assets/9636316/6794859/11d27f40-d195-11e4-9f74-bcdcbe660523.png)

Killed everyone in this faction, DTR still 5.1

[2015-03-24 02:54] Doxify commented on #44
On player kick, DTR is also not lost.

![pykyix1](https://cloud.githubusercontent.com/assets/9636316/6794949/59c67dbe-d196-11e4-81cc-71de34d900fa.png)

[2015-03-24 03:00] Surgatations commented on #44
I'm in Hydra's teamspeak in support room. I'll be glad to talk and try to find the issue.
My Teamspeak name is: Nauru

[2015-03-24 03:30] drtshock commented on #42
That hasn't been used in like... 8 months.

[2015-03-24 03:34] Doxify opened #46 "major dtr bug."
DTR doesn't change for factions created before you guys changed the way DTR is called / stored.

[2015-03-24 03:59] #42 closed

[2015-03-24 04:59] #45 closed

[2015-03-24 05:00] Surgatations opened #47 "Request: Max Allys and Set Allys"
Basically, what i want is 2 variables that can show the number of allies a faction has currently set, and the max allies specified in the config's max relation areas.

Example (A line in /f show): Allys (0/2): AllyFacName1, AllyFacName2 etc..

[2015-03-24 05:09] NauruMC opened #48 "Factionless color resets after a player leaves a faction, but fixes after ANY player relogs."
^ Titles explains it all. Sorry for long title heehehehe...

[2015-03-24 12:02] MoeXIV commented on #48
Confirmed

[2015-03-24 12:03] MoeXIV commented on #47
So say I had 1 ally of 2 it would say:

Allies (1/2): Test

[2015-03-24 12:09] MoeXIV commented on #44
It's nothing you can help with. It's the way the DTR is stored in the newer versions then the old. My theory is that it corrupts old factions.

[2015-03-24 12:10] Doxify commented on #44
It doesn't corrupt them, it just doesn't call for the correct event I believe. Trent is already looking into this.

[2015-03-24 12:11] MoeXIV commented on #36
@Doxify that's not what he's asking. He's trykng to make everyone's "*" remove for the chat tag, as in when they speak in chat, not the "f show", as this is in HCF/Kohi.

[2015-03-24 12:20] Doxify commented on #46
To add on:

DTR seems to work perfectly fine for factions that have less than 5.51 DTR as that is my max DTR. If they have less than 5.51 and die, they lose DTR however if they have 5.51 DTR they don't lose DTR on death.

[2015-03-24 13:18] MoeXIV commented on #44
Oh, my mistake. In the update on the CI, it clearly states that it only calls a DTR change event when DYLTR is actually lost. This is most likely using a different event ^.^

Sorry for my confusion, but still not among anyone's help other then the developers themselves.
What does this mean for already created Factions?

[2015-03-24 13:20] Doxify commented on #44
Raiding on my factions server is non-existent at this moment, hope this gets fixed fast.

[2015-03-24 13:48] MoeXIV commented on #22
Thank you!

[2015-03-24 14:12] nsporillo commented on #44
![2015-03-24_10 00 06](https://cloud.githubusercontent.com/assets/1480197/6803250/b342dc40-d20c-11e4-98ff-28356f2b2dba.png)

DTR looks to be working perfectly fine in my testing.

Will definitely be taking some time to fully flesh out issues with our current system. It works fine in testing and fine for others, but some builds don't run right according to these issues.

@MoeXIV There was no change

[2015-03-24 14:24] Doxify commented on #44
Please explain why my players do not lose DTR.

Test this:

Make a faction with build 14 or whatever the build was before you changed the way it saved, then upgrade to build 18 and see if you lose DTR.

[2015-03-24 14:40] nsporillo commented on #44
@Doxify we never changed how it was saved.

[2015-03-24 14:48] Doxify commented on #44
Okay, I understand. Sorry about that but you guys did change something and DTR is still not being lost on death.

[2015-03-24 15:55] Surgatations commented on #47
Yes, this feature would be a nice thing to have added just because most pepole don't understand that you can only have 2 allies on most HCF servers.

[2015-03-24 16:05] nsporillo commented on #44
@Doxify Try setting a factions DTR to 5.51 exactly using /f dtr , and then see if DTR is lost on death.

If so then your previous comments are true, we know adding up all the faction members DTRs does go above the faction dtr max, and is just set back to 5.51 because that is the max.

Going to add debug messages to these functions so users can enable debug and get important information regarding d

[2015-03-24 16:35] nsporillo commented on #47
I like this request, will work on this soon.

[2015-03-24 16:36] #44 closed

[2015-03-24 16:45] nsporillo commented on #46
@Doxify test out the latest build, try enabling the debug in config and then check out console.

![fix](https://cloud.githubusercontent.com/assets/1480197/6807190/6092985c-d223-11e4-9740-2505e6121627.png)

This was the fix. It keeps the DTR for individual players from ever going above the max. Before it could, but only by the DTR regeneration- it was not constrained and thus went above the max and

[2015-03-24 16:53] nsporillo commented on #31
@nscwalk try latest build. If you continue to have issues, enable debug in config and then send me some output so I can see what's wrong.

[2015-03-24 16:53] #31 closed

[2015-03-24 17:01] nsporillo commented on #37
Should HCF care about who made the kills, or just keep a simple kill counter?

[2015-03-24 17:01] MoeXIV commented on #47
Sounds good, Nick. Looking forward to it.

Cheers ~

[2015-03-24 17:30] Surgatations commented on #47
Good to see the waiting tag :+1: My players will enjoy this, this should help the new HCF players :)

[2015-03-24 17:32] Surgatations commented on #37
Just a kill counter, so if Bob had 1 kill, and Jack had 3 kills it would show 4 kills in /f show or were ever he has it configed to :+1:

[2015-03-24 17:56] nsporillo commented on #47
With max relations off:
![ex2](https://cloud.githubusercontent.com/assets/1480197/6808928/68d35d12-d22d-11e4-8fcd-91641f0de84e.png)
With max relations on and allies set to 2:
![ex1](https://cloud.githubusercontent.com/assets/1480197/6808939/784581f8-d22d-11e4-8a95-b8e2610f6a2f.png)

The same was added for enemies, just to be consistent. Try build 20 for these.

[2015-03-24 17:56] #47 closed

[2015-03-24 18:02] nsporillo commented on #47
Variables:
# {alliescount} - # of allies faction has. {maxenemies} - max # of enemies faction can have.
# {maxallies} - max # of allies faction can have. {enemiescount} - how many enemies faction has.

If you set any value to -1, it will disable a max relation and show the GENERIC_INFINITY lang as the max. If you don't have max relations, it will also show the GENERIC_INFINITY lang message.

[2015-03-24 18:12] Surgatations commented on #47
Woah, that was a speedy build! Great feature! :+1: $30 was worth it

[2015-03-24 18:19] Surgatations opened #49 "Color tags/variables won't work on Allies line."
^ Title explains it all. Here is a screenshot.
![31ea1125f08a60c13e280dfc67b6a3fb](https://cloud.githubusercontent.com/assets/9434234/6809444/bb5c1a58-d230-11e4-8844-c2abafb84363.png)

[2015-03-24 18:25] Doxify opened #50 "deaths till raidable tag"
I think it'd be cool if we had a new variable added called {deathsTillRaidable} and it would display how many times faction members have to die before their faction goes raidable. It would also update as someone dies.

[2015-03-24 18:25] nsporillo commented on #49
This is an issue with fancy messages (the tooltip stuff).

Working on a fix right now, sorry for that :person_frowning:

[2015-03-24 18:26] Surgatations commented on #50
Doxify, that's what DTR is, if you config it how it was on Kohi, it would be helpful :P

[2015-03-24 18:27] Doxify commented on #50
no, I want it like this.

http://i.imgur.com/DIR3hr2.png

Look at the bottom.

[2015-03-24 18:28] Surgatations commented on #50
Contact me on skype, i can do this already in the config

[2015-03-24 18:29] #50 closed

[2015-03-24 18:30] Doxify commented on #46
I will try this when I get home in a couple hours.

[2015-03-24 18:30] Surgatations commented on #49
Thank you, also Build #20 was very helpful :) :+1:

[2015-03-24 18:30] #46 closed

[2015-03-24 18:31] Doxify commented on #39
any updates on this being added?

[2015-03-24 18:31] Surgatations commented on #49
EDIT: Also, it's not just the Allies line, Its everyline below the Allies & Enemies line

[2015-03-24 18:33] Surgatations commented on #39
:+1: Would be a nice feature, like @MoeXIV said, it should be configurable.

[2015-03-24 18:34] nsporillo commented on #49
Yeah, I'm working on a way to allow color coding with tags to work with the fancy messages.

Build 20 and below, tags are not parsed (so they arent converted to color) and then we've just applied the gold to it hardcoded. This is definitely an issue.

[2015-03-24 18:35] Surgatations commented on #49
Do you have a ETA on when you might be done?

[2015-03-24 18:38] nsporillo commented on #49
10 minutes, looks like I already have it fixed.

I've been trying to product higher quality commits and thus better builds, but theres just a lot to test and I'm not neglecting testing. It's just shortsightedness at the time of implementation.

The fix will allow color tags on allies, enemies, online, offline (those with fancy messages for tooltips)

[2015-03-24 18:45] Surgatations commented on #49
Sweet! Looking forward to this!

[2015-03-24 19:24] #49 closed

[2015-03-24 19:51] nsporillo commented on #30
To allow people to kick w/o penalty on DTR freeze:
##### Set kick-penalty to -1

Builds 21 and up will have settings to block:
##### Leaving a frozen faction
##### Joining/Inviting to a frozen faction

Joining frozen faction is defaulted to being allowed. Leaving is defaulted to being blocked (as it can effect DTR when frozen).

[2015-03-24 19:51] #30 closed

[2015-03-24 20:12] nsporillo commented on #24
Just went through and tested and found no issue.

Please make sure you have max relations enabled, and then set to 2.

[2015-03-24 20:18] nsporillo commented on #39
@Doxify @Surgatations since this seems like it'd be a nice addition, it's something i'll shift my focus to in the next few days.

[2015-03-24 20:23] NauruMC opened #51 "Factionless Symbol Broken"
^ Title explains it all, i'm using the latest build and it just shows the boxes and not a symbol, do i have to config it or is it default?

![7f1e835d1c4fca8a97ffc49fe9d2b90e](https://cloud.githubusercontent.com/assets/9434234/6811953/09bf1e82-d242-11e4-90db-e22a1ca37e0e.png)

On most HCF Servers (Not all but most) there is a symbol for factionless members, usually it is a -
I don't know if i look

[2015-03-24 20:26] Surgatations commented on #39
TIP: /f stuck is basicly a command that allows users to teleport out of traps so admins don't have to do it, when a user types /f stuck it teleports them 5-10 blocks away from were there standing to a safe location in that radius (Should be configurable as well). So lets say bob is stuck in a hole in someones land, he types /f stuck and waits the configured time and then gets teleported to a safe

[2015-03-24 20:37] nsporillo commented on #51
This is similar to #17, a symbol for factionless members is a feature i'll be working on soon.

[2015-03-24 20:42] mbax commented on #39
You should define what "wait" means in this context. Do they have to stay completely still? Not use the WASD keys? Not move the mouse? Stick to a small (1 block? 2x2 block?) radius?

[2015-03-24 20:44] clerkk opened #52 "Allies color is white in /f show"
![ugvhp9y](https://cloud.githubusercontent.com/assets/11637343/6812398/859db2b0-d266-11e4-85fb-77e557b9c75a.png)
What title is.

[2015-03-24 20:52] Surgatations commented on #52
New update, use this as you're config.

  - '<a>Allies (<i>{alliescount}<a>/<i>2<a>): {allies} '
  - '<a>Members online: {online}'
  - '<a>Members offline: {offline}'

In you're config.yml under f show config area :)

[2015-03-24 20:52] Surgatations commented on #52
You have to add the color codes, in config.yml.
Color codes are listed below..
<a> = Gold
<i> = Yellow

[2015-03-24 20:53] Surgatations commented on #51
It was said to be added in a update on the CI though?

[2015-03-24 20:56] Surgatations commented on #52
If you config it correctly it should look somthing like this..

![f7c195e885ae5d3a170ad77ec5d2e34b](https://cloud.githubusercontent.com/assets/9434234/6812685/c5418c4a-d246-11e4-99c3-0a16db70f37a.png)

[2015-03-24 21:00] Surgatations commented on #39
No, they are allowed to move around (usually 10x10 area) and they can't take damage or the /f stuck teleportation gets canceled.

[2015-03-24 21:02] #52 closed

[2015-03-24 21:44] nsporillo commented on #51
@Surgatations those dealt with scoreboards, not chat

[2015-03-24 21:53] Surgatations commented on #51
ahh.. lol.. silly me.. ^.^

[2015-03-24 22:01] Surgatations opened #53 "REQUEST: Default faction home message"
Basicly, if a faction does not have there faction home set, instead of showing just nothing it will say something along the lines of Faction Home: Currently not set.. (It should be configurable) The blank line looks sloppy in my opinion Here is a example from another HCFactions server..

![d0c7491a38ba25c7871b4d85ec4c14dc](https://cloud.githubusercontent.com/assets/9434234/6813883/bf7701c4-d24f-11

[2015-03-24 22:08] Surgatations commented on #26
:+1:  Would like this aswell, maybe add a /f freeze to put a faction on freeze? i feel like it would useful in some cases

[2015-03-24 22:30] nsporillo commented on #53
![lang](http://puu.sh/gOeo1/461597bd40.png)

Line 408 should be where you can configure this.

[2015-03-24 22:30] #53 closed

[2015-03-24 22:30] Surgatations commented on #53
Sweet, thanks. lang.yml correct?

[2015-03-24 22:34] NauruMC opened #54 "Faction un-set message"
I changed the no faction home message on line 408 of the lang.yml config. I saved the file and restarted my server, and i still have a blank line as shown here. In the config it already default had 'Not set' in the language file but failed to show up..
![b02ba0c70973f70215234fb5c9ef5d73](https://cloud.githubusercontent.com/assets/9434234/6814371/680ee550-d254-11e4-9da2-06d81298f3e5.png)

[2015-03-24 23:42] MoeXIV commented on #54
I found this hard to understand coming from what you said. What I'm inferring is that when you see the "Faction Home" with no coordinates, if there is no home set, make it say "Not set"  instead of it being blank

[2015-03-24 23:48] NauruMC opened #55 "Version command.."
This is just a suggestion, basically the current /f version sates useful
 info, but you should make the default /f version something along the lines like this screenshot, this should help server owners quickly find out what build of the plugin they are on! (I changed the lang.yml for this example)

![5c9b6f76ce1f7d9a62c8a18da0e79de4](https://cloud.githubusercontent.com/assets/9434234/6815316/a2903

[2015-03-24 23:50] Surgatations commented on #54
Yes, @nsporillo told me how to edit this. But the config failed to make the text show up. This was another issue to ask him if its a bug or if i did somthing wrong.

[2015-03-25 00:24] nsporillo commented on #54
@Surgatations

In your config.yml, make sure you leave:

    - '<a>Faction Home: <i>{world}, {x}, {y}, {z}'

At least leave {world}, as it is replaced with the message from the lang file.

            if (faction.hasHome()) {
                Location home = faction.getHome();
                raw = raw.replace("{world}", home.getWorld().getName());
                raw = raw.replace("{x}", String.va

[2015-03-25 00:34] nsporillo commented on #17
Albeit this was made first, since it's a split issue I'm going move support for the feature to https://github.com/drtshock/HCFProblems/issues/51.

[2015-03-25 00:34] #17 closed

[2015-03-25 00:35] Doxify opened #56 "Tab doesn't update when you leave a faction"
![fafjqvj](https://cloud.githubusercontent.com/assets/9636316/6816119/1d52aea0-d24c-11e4-9296-7738572f668c.jpg)

[2015-03-25 00:35] nsporillo commented on #55
This is a legitimate issue and would like to see this myself. :+1:

[2015-03-25 00:38] nsporillo commented on #56
Try re-logging, but there is some lingering annoyances with the way scoreboards are handled since it was updated to support faction-less players formatting.

This is a problem, things should work seamlessly. Similar to https://github.com/drtshock/HCFProblems/issues/48

[2015-03-25 00:57] Surgatations commented on #55
Oh wow, didn't expect that lol. :+1:  I like this :)

[2015-03-25 00:59] Surgatations commented on #54
But i don't want the {world} tag to show what world it is in, because you can only claim in the Overworld which makes it very obvious, i think the world name is just more clutter, :/

[2015-03-25 01:00] Surgatations commented on #54
This is what i get.
![d4992b82006cbbdc1d1b5851f3c5e9bd](https://cloud.githubusercontent.com/assets/9434234/6816375/d460fcfc-d268-11e4-92fa-81151d76b831.png)

[2015-03-25 01:14] nsporillo commented on #54
@Surgatations I'm home now and have a chance to investigate if something is wrong or not.

[2015-03-25 01:58] Surgatations commented on #54
Okay, that would be great :)

[2015-03-25 02:07] nsporillo commented on #54
@Surgatations Thinking about just not showing anything if the faction home is not set otherwise it's going to take two different lines in fshow. One for set and one for unset and it seems a bit unnecessary at that point.

A minimalist approach to f show (only show what you need to) seems like the best way to approach this issue. If we get requests in the future which ask for it back I guess I'd ha

[2015-03-25 11:29] MoeXIV commented on #56
@nsporillo will it be fixed, or is it just a bug that's not really an issue as of now.

[2015-03-25 11:37] MoeXIV commented on #54
@nsporillo or...
You could add a variable that gets replaced by ' ', a space when you have your home set, and when it's not set, the variable says "Not set". Not sure how one would accomplish this, but it seems like a reasonable idea.

[2015-03-25 11:40] MoeXIV commented on #39
@NauruMC No offense, but that's a horrible idea. I like the part in which it teleport you to a safe-ish spot of where you're standing, but it's hella hard to accomplish that. How will the plugin know what is safe or not land? Maybe teleporting them to the nearest wilderness claim ^.^

P.S, I think they shouldn't move or be in combat at all, despite the moving of the mouse. That seems like a reason

[2015-03-25 11:46] MoeXIV commented on #26
@NauruMC As well to put them out of freeze, due the fact that some may be able to avoid the loss of DTR, which is bannable. Once you set their DTR lower, using the "/f dtr" command, their DTR will just regenerate due to the fact that they're not on freeze.

The command usage could be something like: "/f freeze <faction> [time]". [time] being an optional amount of time, say 59:32, (58 minutes, 32 s

[2015-03-25 16:02] nsporillo commented on #55
Added as of Build [#22](https://ci.drtshock.net/job/HCFactions/22/) and up!

Thanks :smile:

[2015-03-25 16:02] #55 closed

[2015-03-25 16:31] NauruMC commented on #55
No problem :+1:

[2015-03-25 16:33] MoeXIV commented on #55
Yas

[2015-03-25 16:35] MoeXIV commented on #17
@nsporillo What about the color for usernames in "f show"?

[2015-03-25 17:07] nsporillo commented on #26
##### /f thaw <faction> in builds 23 and up.

[2015-03-25 17:07] #26 closed

[2015-03-25 17:40] NauruMC opened #57 "/f thaw Error"
^ Title explains it, here is a example on build #23 when i type /f thaw

![835abe1465319a23a146bee31e8bdf29](https://cloud.githubusercontent.com/assets/9434234/6831064/6cd81e9e-d2f4-11e4-82ca-713a50b65e65.gif)

[2015-03-25 18:02] nsporillo commented on #57
Can you send the stacktrace?

/f thaw should thaw your faction. /f thaw tag would thaw the faction named 'tag'.

[2015-03-25 18:04] NauruMC commented on #57
'stacktrace' english please, would could i find this?
:P

[2015-03-25 18:05] NauruMC commented on #57
EDIT: Oh, i see the issue. I get the error because i was not on DTR Freeze, you should add a message saying that.. :P

[2015-03-25 18:18] nsporillo commented on #57
COMMAND_THAW_NOTFROZEN("<a>%s <b>is not frozen!"),

In CmdThaw:

    if(!faction.isFrozen()) {
        msg(TL.COMMAND_THAW_NOTFROZEN.toString());
        return;
    }

If you have the stacktrace, I can figure out why this is happening despite the check.

[2015-03-25 18:53] nscwalk commented on #44
Well doxify isn't the only one with this problem I am also in the same situation as him

[2015-03-25 18:55] #57 closed

[2015-03-25 20:27] Doxify commented on #44
They are working on a fix, should be out soon ^

[2015-03-25 22:36] #39 closed

[2015-03-25 22:39] NauruMC commented on #39
Pushed to build #25 on the CI.

[2015-03-25 23:03] Doxify opened #58 "dtr not updating?"
I was aware that this was a bug, but is it still a bug in the newest build?

[2015-03-25 23:27] Doxify opened #59 "console gets spammed with errors"
![gk48snw](https://cloud.githubusercontent.com/assets/9636316/6837633/e6d55a92-d30b-11e4-8b2e-c4d6ea958235.png)

[2015-03-25 23:40] nsporillo commented on #58
I've noticed that DTR sometimes doesn't update temporarily, and then shortly after will start updating normally.

[2015-03-25 23:41] TMNetwork commented on #36
@nsporillo @drtshock in hcf, the tag in chat should be different than the /f show
http://i.imgur.com/PweVlSM.png
It shouldnt show the prefix in the chat tag, only in /f show

[2015-03-25 23:44] Doxify commented on #58
No, it's not temp, I had to manually give them the DTR.

[2015-03-26 00:03] NauruMC commented on #59
Can i please see you're debug? Go to config.yml and enable debug. It looks like a different plugin is causing it, i'm not so sure. If i could see the debug i could see if DTR updates is causing the spam

[2015-03-26 00:08] NauruMC commented on #58
As @nsporillo said, it's temp. I've seen the same issue. There are many events that can cause a DTR update.

[2015-03-26 00:13] NauruMC commented on #59
@nsporillo will need to put some input on this, as far as i can see i fail to see the source of the error.

[2015-03-26 00:37] TMNetwork opened #60 "Allies"
In HCF, your suppose to be able to hit allies.

[2015-03-26 00:39] TMNetwork opened #61 "Solo Fac"
Solo factions should have 1.01 max DTR so they don't go raidable on first time death.

[2015-03-26 00:53] NauruMC commented on #60
Thats incorrect, that was disabled soon after Map #16 on Kohi.
I may be wrong so don't be mad if i'm wrong but i think i'm correct..

[2015-03-26 01:28] NauruMC commented on #61
That can be done in the config, please look around before you post.

[2015-03-26 01:39] TMNetwork commented on #61
@NauruMC no, i dont wanna set the DTR per player to 1.01, the DTR per player is .51

[2015-03-26 02:03] NauruMC commented on #61
Not everyone likes this, @nsporillo is giving everyone the same thing. He won't just make it special for you.

[2015-03-26 04:10] #59 closed

[2015-03-26 15:14] nsporillo commented on #58
Should be fixed as of build 27 and up.

[2015-03-26 15:14] #58 closed

[2015-03-26 15:34] nsporillo commented on #61
@TMNetwork it's sort of an incentive to not have a solo faction, if you think about it. Gives players a reason to band together (maybe invite their friends...?)

If you're still looking to have this added, reply to this issue with some more reasoning as to why we should clutter config with another variable for a single case (solo factions). I understand they shouldn't be really raidable after just

[2015-03-26 16:20] TMNetwork commented on #61
This is on all hcf servers. Tons of YouTubers do solo facs and the majority of factions on kohi and HCF are solo and active.

[2015-03-26 16:53] MoeXIV commented on #60
No, on HCF you're meant to hit allies, but a message comes back to you saying "Be carful, that's your ally: **MoeXIV"

[2015-03-26 16:54] nsporillo commented on #60
@MoeXIV does it deal damage?

Are you allowed to kill allies?

[2015-03-26 16:55] MoeXIV commented on #60
@nsporillo Yes. You just get the message I said above.

[2015-03-26 16:56] nsporillo commented on #60
@MoeXIV and when you kill allies, they lose dtr too? So what is the point of being allies if it doesn't mean anything

[2015-03-26 16:58] MoeXIV commented on #60
The point of being allies is a mutual truce. "Don't kill allies".

On Kohi youre able to hit them to make it more "Hardcore".

[2015-03-26 16:59] nsporillo commented on #60
Going to make this configurable somewhere.

[2015-03-26 18:58] NauruMC commented on #61
EDIT: This is not on all HCF servers.. Kohi does not have it, HCFactions (Shotbow) does not have it, HyogenHCF does not have it.. This should also be configurable..

[2015-03-26 19:19] TMNetwork commented on #61
@NauruMC your 100% wrong. Stop commenting on all my posts as I don't care for your support. You have no idea what ur talking about.

[2015-03-26 19:20] TMNetwork opened #62 "Players Online"
Do you guys have the players online support?
http://gyazo.com/24f8718dc4e54fb6c236608e6f66e2b3

Like in the new update.
I'm about to check, but if not, you should add how many people are online in the fac.

[2015-03-26 19:23] Doxify commented on #61
Changing the max player dtr shouldn't be an issue.. I don't see why you don't want to change it. I allow solo factions, max player dtr is 1.51 and they lose 1.00 on death.

[2015-03-26 19:24] Doxify commented on #60
please don't make it default though.

[2015-03-26 19:29] Doxify commented on #62
There's nothing I hate more than people saying something is broken or not there without checking first.

[2015-03-26 19:29] nsporillo commented on #61
@Doxify @NauruMC doing that messes with a delicate ratio that is player-dtr to max-faction-dtr.

Adding this is relatively straight forward, look to see it by tonight.

[2015-03-26 19:31] nsporillo commented on #62
Not currently, I just added that for allies / enemies.

Will add the same for online / offline soon.

[2015-03-26 19:46] TMNetwork commented on #62
@Doxify who said something is broken?

[2015-03-26 20:01] TMNetwork commented on #60
Thank you. Please make it config.

On Thu, Mar 26, 2015 at 3:24 PM, Doxify <notifications@github.com> wrote:

[2015-03-26 20:04] TMNetwork commented on #61
Ok, can you make it config. soon?

On Thu, Mar 26, 2015 at 3:29 PM, Nick Porillo <notifications@github.com>
wrote:

[2015-03-26 20:25] Russiaa commented on #19
Any update on this?

[2015-03-26 22:41] TMNetwork opened #63 "Disbanding on DTR freeze"
You can disband factions in DTR freeze.

[2015-03-26 22:42] TMNetwork opened #64 "Questions"
Hey, so I have some questions.
1) Can you disable the command /f c t and /f neutral somewhere in the config. as I've set them both to 0?
2) Tab doesn't update: http://i.imgur.com/bnUNK4E.png
3) How do I remove the prefix from the username in tab and above players heads?

Thanks, hope you guys can help me out.

[2015-03-26 23:27] nsporillo commented on #64
default-prefix: '[&3{faction}&r]{relationcolor}'

The scoreboards are still a work in progress. We had to include all players as opposed to just players with factions due to default relation being enemy on HCF. This change caused some of the unusual behavior of the scoreboards.

Disable factionOnlyChat in your conf.json.

[2015-03-26 23:41] TMNetwork opened #65 "Member Cap"
There needs to be a member cap somewhere in the config of how many people can be in a faction.

Make it configurable, but I'm setting mine to 20.

[2015-03-26 23:43] TMNetwork commented on #64
@nsporillo where do i find the default-prefix in?
In, the .yml or .json

[2015-03-26 23:44] nsporillo commented on #64
@TMNetwork lang.yml

[2015-03-26 23:49] TMNetwork opened #66 "/f stuck Message"
Can you make the /f stuck message configurable:
http://gyazo.com/578862bfa9808f5b357c5f1aea88964d

That looks ugly in my opinion and there is no need for seconds nor the 2 different colors of dots.

[2015-03-26 23:50] nsporillo commented on #66
All these messages are configurable. Every command. Visit lang.yml

![](http://puu.sh/gR1QB/5fe18cece9.png)

[2015-03-26 23:50] #66 closed

[2015-03-27 00:00] TMNetwork opened #67 "Chat Prefix Removal"
Can you make this be able to be removed from public chat?
http://gyazo.com/ee5b72a028f0285baa7366d0d3d278ce

The prefixes are mean't for only /f show in HCF. If you want, you can make it configurable in case others prefer it.

[2015-03-27 00:01] nsporillo commented on #67
Duplicate of https://github.com/drtshock/HCFProblems/issues/36.

[2015-03-27 00:01] #67 closed

[2015-03-27 00:02] TMNetwork commented on #36
@nsporillo when should this be fixed?

[2015-03-27 00:03] TMNetwork opened #68 "Faction Relationship Disabled."
When you do /f neutral {faction}
it says You can only have 0%s, can you make that configurable in lang.yml?

[2015-03-27 00:11] NauruMC opened #69 "Pretty /f help command syntax."
Recently I've noticed how dull the /f help is, that's the same f help we have had for 3-4 years pretty much, I've transitioned over from a different DTR plugin to here just because this one had more customization features to it, here is a example of a /f help i PERSONALLY  enjoy.
![1dd890e4dbdb0b52bbb611fd1097bcb5](https://cloud.githubusercontent.com/assets/9434234/6859832/3d44a098-d3f4-11e4-9179-

[2015-03-27 00:24] NauruMC commented on #65
There is one, it's in the conf.json. Please look around before you post.

[2015-03-27 00:37] TMNetwork opened #70 "Tab update for disband"
./f disband
the tab updates to a white name rather than a red name on disband.

If you relog, it becomes fixed.
http://i.imgur.com/S3ogImI.png
http://i.imgur.com/eXxpzgr.png

This isn't a double issue, this is a completely different one from the current one on ur github.

[2015-03-27 00:39] #61 closed

[2015-03-27 00:44] #63 closed

[2015-03-27 00:51] #65 closed

[2015-03-27 00:51] #64 closed

[2015-03-27 01:58] #60 closed

[2015-03-27 02:01] TMNetwork opened #71 "Disable Claiming"
I disabled claiming in a world, but people can still claim...

http://pastebin.com/raw.php?i=3ZSWzZRY
Help.

[2015-03-27 02:07] NauruMC commented on #71
Run this through a JSON parser to make sure there are no errors. I'm sure this is what you need.

  "bankEnabled": false,
  "bankMembersCanWithdraw": false,
  "bankFactionPaysCosts": true,
  "bankFactionPaysLandCosts": true,
  "playersWhoBypassAllProtection": [],
  "worldsNoClaiming": [
    "world_nether"
  ],
  "worldsNoDtrLoss": [],
  "worldsIgnorePvP": [],
  "worldsNoWildernessProtection": [],

[2015-03-27 02:08] nsporillo commented on #71
Please use [gists](https://gist.github.com/) when you make an issue and need to link test.

You should not put a `true` next to the world name, it will not work correctly with that.

Use:

    "worldsNoClaiming": [
      "world_nether"
    ],

[2015-03-27 02:08] #71 closed

[2015-03-27 02:50] nsporillo commented on #68
RELATIONS:
      ALLTHENOPE: <b>Nope! You can't.
      MORENOPE: <b>Nope! You can't declare a relation to yourself :)
      ALREADYINRELATIONSHIP: <b>You already have that relation wish set with %1$s.
      TOMARRY: to change a relation wish
      FORMARRY: for changing a relation wish
      MUTUAL: <i>Your faction is now %1$s<i> to %2$s
      PEACEFUL: <i>This will have no effect while your facti

[2015-03-27 02:50] #68 closed

[2015-03-27 02:52] nsporillo commented on #19
@Russiaa this was added for /f show in builds 29 and up. /f list will come soon.

Going to close this issue as it was added.

[2015-03-27 02:52] #19 closed

[2015-03-27 12:15] MoeXIV commented on #62
This is already added, @nsporillo .
I have it setup on my server already. ^.^

[2015-03-27 13:20] drtshock commented on #69
Good idea ;D

[2015-03-27 15:47] TMNetwork commented on #63
Is this fixed? @nsporillo

[2015-03-27 15:47] TMNetwork commented on #60
is this fixed @nsporillo ?

[2015-03-27 16:03] nsporillo commented on #60
@TMNetwork If an issue is closed, it's been resolved.

That being said, check the CI for the latest build and you can even click on the commits to see what changed since last build

In short, yes.

[2015-03-27 18:35] Doxify commented on #62
@tmnetwork that's why there's a "or" in the sentence.

[2015-03-27 18:45] NauruMC commented on #69
:+1: Great to see the waiting tag, hope we can customize this soon as well :)

[2015-03-27 19:05] TMNetwork commented on #62
@Doxify fuck off

[2015-03-27 19:13] Doxify commented on #62
@tmnetwork There's no need to be upset, sorry if I did anything to cause you to become angry. Have a nice day.

[2015-03-27 21:42] TMNetwork commented on #63
why was this closed @nsporillo ?

[2015-03-27 21:42] TMNetwork commented on #61
@nsporillo can u please add this?

[2015-03-27 21:43] TMNetwork opened #72 "EOTW Addition"
So there is something called end of the world on all HCF servers, basically everything become unclaimed and all factions become -100.00 DTR.

Warzone/Safezone don't become unclaimed.

./f eotw toggle - perm node (only ops)

[2015-03-27 21:44] TMNetwork opened #73 "Solo Factions"
Has this been implemented cause my last git ticket was closed so I'm assuming your not adding it or you have added it?

Cause HCT has this and this is something wanted by a lot of people so they can solo fac..
also ParaPvP has it.

[2015-03-27 22:13] nsporillo commented on #73
This. Was. Added.

Already said to check the CI for the latest download and then regenerate your config for the new field to be present.

The issue was closed because it was added. If it was closed for a reason other than it was added, I would have explicitly informed the issue author why.

[2015-03-27 22:13] #73 closed

[2015-03-27 22:53] MoeXIV commented on #72
It's usually not setting everyones DTR to -100.
It disables claiming in the world, and unclaims everyones claims. It doesn't matter if they have full DTR or not because they can't claim land.

No "f home"s because there are no claims, :+1:

[2015-03-27 22:55] TMNetwork commented on #72
No, there is f homes on EOTW. Just nothing is protected @MoeXIV

[2015-03-27 23:12] lol768 commented on #63
The close text states "@nsporillo nsporillo closed this in b4e85ee 22 hours ago". This indicates that a commit (a change in the code of the project) with hash starting b4e85ee triggered the close of the commit. Whilst you cannot see the code changed or the commit message (the repo is private), to me this would suggest that the code change fixed the bug in question and that is why it triggered the

[2015-03-27 23:16] nsporillo commented on #63
@lol768 is exactly correct, and awesome.

@TMNetwork this was added. Please stop asking if closed issues are complete. If it was closed then it's resolved.

[2015-03-27 23:19] TMNetwork opened #74 "New Version bug"
When you do /f show without a faction it says nothing, it replies nothing.

It also no longer has the top bar.
http://gyazo.com/0433296415b5f4f0116092e898156535

[2015-03-27 23:23] nsporillo commented on #74
This is not a bug. We recently introduced /f show header configuration.

If you want old functionality, made the 1st line in your fshow section

    '{header}'

Of you can do something like

    '========={tag}========='

and the {tag} will be replaced with the faction tag.

[2015-03-27 23:23] #74 closed

[2015-03-27 23:29] TMNetwork commented on #74
What about the typing /f show while not having a fac?
@nsporillo

[2015-03-27 23:32] TMNetwork opened #75 "DTR Change"
I've set the DTR to .67 per player
and it still hasn't changed from .51

http://gyazo.com/bbc06dd84fd63a959c6f01da7bc67cf1

I've restarted the server and deleted the factions.json and players.json.

http://hastebin.com/perenuzeru.vbs

[2015-03-27 23:34] TMNetwork opened #76 "./f show (no fac)"
When your not in a fac and you do /f show then it replies with nothing.

Not even a blank input.

[2015-03-27 23:35] Doxify commented on #75
What build are you using?

[2015-03-27 23:47] TMNetwork commented on #75
Most updated @Doxify

[2015-03-27 23:48] nsporillo commented on #76
Duplicate of https://github.com/drtshock/HCFProblems/issues/74

[2015-03-27 23:50] TMNetwork commented on #76
@nsporillo you closed the last one....

[2015-03-27 23:52] Doxify commented on #76
which means it's either going to be fixed or its already fixed, he already knows about the issue, making another thread won't fix anything.

[2015-03-28 00:00] nsporillo commented on #75
Turn on your debug in config, feel free to link the output in a https://gist.github.com/.

I just tested this on the latest and changing player-dtr works absolutely fine.
You can just make the change and then /f reload and expect the changes momentarily.

[2015-03-28 00:02] nsporillo commented on #76
Latest build resolves this.

[2015-03-28 00:02] #76 closed

[2015-03-28 00:04] nsporillo commented on #72
Setting this to help wanted so people can chime in about how this new feature would be implemented.

I will not be adding a new feature that has conflicting specifications, if there is a clash between ideas then we can make something configurable.

[2015-03-28 00:55] TMNetwork commented on #75
https://gist.github.com/TMNetwork/0ba50f19fce3a8171806

That's my config. What should I do to test w/ debugging?

[2015-03-28 01:30] nsporillo commented on #75
![READ](http://puu.sh/gSsyM/5a98bf1a30.png)

Set

    debug: false
to

    debug: true

This will toggle debug messages (typically DTR change events), if DTR is not changing for anyone you wont get any output.

I had working dtr during my tests, and I can confirm other servers have working DTR too. However it is possible when I added solo-faction-dtr, I messed something up.. but I still tested lat

[2015-03-28 01:32] MoeXIV commented on #72
Not on Kohi or HCT...

[2015-03-28 02:51] TMNetwork commented on #75
This is my config:
http://hastebin.com/depizixewi.vbs

Do I need to change the max-dtr for this to take effect?
@nsporillo
I reset everything to test this out again.

[2015-03-28 02:53] TMNetwork opened #77 "Question"
What is the frozen lang.yml line that allows me to change the &6You may not disaband while frozen

[2015-03-28 03:07] TMNetwork commented on #75
Here is the debug:
@nsporillo
http://gyazo.com/ba69bc50b4a24c9835b7e7e2f33b53c1

[2015-03-28 03:09] nsporillo commented on #77
Open a decent text editor and

    ctrl-f -> find 'frozen'.

First result:

    Command.Disband.Frozen

If you didn't want to do that, you could remember that all the lang is categorized. Lang for commands are broken up into their own sections.

![disband frozen](http://puu.sh/gSyVs/70e780f821.png)

[2015-03-28 03:09] #77 closed

[2015-03-28 03:18] #75 closed

[2015-03-28 03:22] nsporillo commented on #75
@TMNetwork found the bug, it was an typo in the code that was looking for 'max-player-dtr' instead of the new 'player-dtr'.

Everyone will need to make sure their config is correct with this update... since they might still have the old value and thus the default player dtr of 0.51 will be used.

[2015-03-28 03:31] TMNetwork commented on #75
@nsporillo is my config correct? u saw it in my hastbin above.

[2015-03-28 03:35] TMNetwork commented on #72
@MoeXIV Yes. I have people who played both of there maps that said that is how they have it. Check yourself.

[2015-03-28 03:39] TMNetwork commented on #62
Yes @nsporillo close this.

[2015-03-28 03:40] TMNetwork commented on #36
@nsporillo please add this dude

[2015-03-28 04:16] #62 closed

[2015-03-28 15:27] Doxify commented on #62
Has it been resolved?? Why did you close it? Should I make a new thread?

[2015-03-28 15:34] TMNetwork commented on #62
@Doxify it's resolved.

[2015-03-28 16:01] TMNetwork opened #78 "Questions for devs: HCF NPC Help"
Is there an API that I'm allowed to hook into?

If not, is it possible to have a configuration option where Factions can register kills through the deaths of NPCs?

[2015-03-28 16:01] Doxify commented on #62
Oh ok

[2015-03-28 16:12] MoeXIV commented on #72
You "have" people who have. I HAVE played every Kohi EOTW since Map 12. Most or all are on my channel. The whole map is claimed as Warzone, all claims are overridden by it.
There is meant to be no "f home" in EoTW. It's meant to be hardcore for a reason. It's in the name "HCF".

So before you tell me to "Check myself", please provide evident information on your topic, or I will.

[2015-03-28 16:36] TMNetwork commented on #72
@MoeXIV check urself.

[2015-03-28 16:36] TMNetwork commented on #78
@nsporillo

[2015-03-28 17:08] Doxify commented on #72
@TMNetwork You should really be more respectful.

As for EOTW there shouldn't be any f homes, we don't even need anything added to the factions plugin to do an EOTW. What my staff were planning on doing was completely disabling the factions plugin.

[2015-03-28 17:21] TMNetwork commented on #72
@Doxify on ParaPvP, they have /f home and I liked the idea because of bunkers, so it configurable then.

[2015-03-28 17:26] TMNetwork commented on #72
@Doxify I hope you know @MoeXIV is my friend and he knows im kidding.

[2015-03-28 19:43] TMNetwork opened #79 "./f show {kothname}"
So with HCF servers, they have /f show {koth name}
And basically it just shows the cords to the koth.

Example:
http://gyazo.com/abd3ffe8307c7520a70d5c6ad96ea6c3

[2015-03-28 19:47] drtshock commented on #79
We don't have KOTH.

[2015-03-28 19:47] #79 closed

[2015-03-28 20:46] TMNetwork commented on #78
Close this @nsporillo. @drtshock helped me via skype.

[2015-03-28 21:01] #78 closed

[2015-03-28 21:11] nsporillo commented on #69
@NauruMC

Should there be pages still or should the whole /f help be on one page?

I'm fairly certain it'd be quite the stretch to fit everything on one, so perhaps a nice structure that allows multiple pages of help output would be nice.

[2015-03-28 23:00] Kakifrucht commented on #69
What character did you use for the lines?

[2015-03-28 23:01] nsporillo commented on #69
@Kakifrucht I'm pretty sure it is just >>

I'm working on adding this feature tonight, so hopefully ready by tomorrow.

[2015-03-28 23:02] Kakifrucht commented on #69
I mean the yellow lines.
I couldn't find the character in the symbol table, thats why I'm wondering ;)

[2015-03-28 23:06] nsporillo commented on #69
@Kakifrucht
Perhaps try http://www.fileformat.info/info/unicode/char/0097/index.htm

I'll get back to you when I do some testing, I was just using --- as a placeholder in the config.

[2015-03-28 23:08] Kakifrucht commented on #69
Oh okay, if is just use --- it will have a litte space in between. It would be pretty neat if you could get the lines without any space in between.

[2015-03-28 23:09] nsporillo commented on #69
@Kakifrucht I'll find the character, I just don't know it right now :p

[2015-03-29 00:11] MoeXIV opened #80 "Hidable Variable."
What I mean by this is actually pretty simple. I hate the look of the variables in "f show" when there is no current use. This is what I mean: http://prntscr.com/6mmx44

Do you see how "Members offline" has no players in it? I think it would be a cool idea to put a variable before it like {hide}, so that it hides the line when there is nothing to show.

It could also helps stop the clutter and I r

[2015-03-29 00:13] MoeXIV opened #81 "Hidable Variable."
What I mean by this is actually pretty simple. I hate the look of the variables in "f show" when there is no current use. This is what I mean: http://prntscr.com/6mmx44

Do you see how "Members offline" has no players in it? I think it would be a cool idea to put a variable before it like {hide}, so that it hides the line when there is nothing to show.

It could also helps stop the clutter and I r

[2015-03-29 00:27] #81 closed

[2015-03-29 01:08] TMNetwork opened #82 "Block Glitching"
People can block glitch through like glass and hit the person inside the fac. This is a major issue and I'd like it to be fixed.

[2015-03-29 01:09] TMNetwork opened #83 "Admin Commands"
For /f bypass you need to make it where we can like disband DTR frozen facs and like boost dtr or reset dtr, etc.

[2015-03-29 01:17] drtshock commented on #82
maybe try building a thicker base?

[2015-03-29 01:17] #82 closed

[2015-03-29 01:17] drtshock commented on #83
Those would be separate commands.

[2015-03-29 01:17] #83 closed

[2015-03-29 01:26] TMNetwork commented on #83
@drtshock those are apart of the HCF factions plugin...

[2015-03-29 01:26] TMNetwork commented on #82
@drtshock that's ridiculous, u guys need to fix this.

[2015-03-29 01:27] TMNetwork opened #84 "Block Glitching #2"
Hey guys,

Please give your feedback to the devs of this b/c Trent says u should "build thicker bases"... -_-

Anyways, we need to prevent block glitching is my opinion.

[2015-03-29 01:29] MoeXIV commented on #84
Maybe they can add support for disabling interaction with Entities behind blocks? idk

[2015-03-29 01:39] TMNetwork commented on #84
@MoeXIV !!!!! love it!

@drtshock @nsporillo

[2015-03-29 01:44] drtshock commented on #84
This isn't within the scope of the plugin. Go talk to spigot.

[2015-03-29 01:44] #84 closed

[2015-03-29 01:45] drtshock commented on #82
This isn't the problem of my plugin. It's the server (spigot, craftbukkit, or w/e you are using).

[2015-03-29 01:45] drtshock commented on #83
Yes, and they are already commands.

[2015-03-29 03:31] TMNetwork opened #85 "Pain Build"
So I am trying to remove the pain you receive if u like spam some faction material..

This is my config:
http://hastebin.com/aluhoqohit.cpp

yet i still receive pain when I hop on an item for too long.
http://i.imgur.com/WZVlTnS.png

[2015-03-29 04:34] drtshock commented on #85
what

[2015-03-29 04:53] TMNetwork commented on #85
I'll make a tut. 1 sec.

[2015-03-29 05:01] TMNetwork commented on #85
Here you go @drtshock
http://youtu.be/Dv0nv4XEz6A

[2015-03-29 05:19] nsporillo commented on #85
@TMNetwork thank you for an explanation of your issue.

Will look at this tomorrow afternoon

[2015-03-29 05:22] Doxify commented on #84
This is part of minecraft. It has NOTHING to do with the factions plugin itself.

[2015-03-29 05:24] Doxify commented on #79
Just make your own command.

[2015-03-29 14:13] Renovations opened #86 "Whenever I /f show...."
When I f show or f who is just says, An internal error occurred while attempting to perform this command.

[2015-03-29 14:17] Renovations commented on #86
http://gyazo.com/62ca6e614bf12b25893d81e20b62534e

[2015-03-29 14:25] Renovations commented on #86
When I /f create internal error...

[2015-03-29 17:49] nsporillo commented on #86
Post the error you get in console to http://gist.github.com. Saying you get an error with a command means nothing without us knowing what the error is and what version youre using.

[2015-03-29 17:51] nsporillo commented on #69
This was added. Try latest builds for this feature addition.

[2015-03-29 17:51] #69 closed

[2015-03-29 17:57] TMNetwork commented on #84
@Doxify become unique and think of your own ideas

[2015-03-29 18:00] Doxify commented on #84
@tmnetwork All of your suggestions for this plugin have been based on kohis / other HCF servers ideas. Please don't tell me to be unique when you have to pay you tubers to play on your shitty server. You can't even get a shop right, you use a money based economy lol.

I know this is unprofessional but this kid is annoying and has no common sense.

Sorry again.

[2015-03-29 18:22] NauruMC commented on #80
:+1:

[2015-03-29 18:40] Kakifrucht commented on #69
Did you find the character and are you able to share it? ;)

[2015-03-29 19:03] TMNetwork commented on #84
@Doxify ok, ur in for a surprise

[2015-03-29 19:38] Renovations commented on #86
at org.bukkit.command.PluginCommand.execute(PluginCommand.java:44) ~[craftbukkit-dev.jar:git-Bukkit-1.7.9-R0.1-9-gaceeb44-b3091jnks]
Is the error, What Jar should I be running the server on?

[2015-03-29 19:39] nsporillo commented on #86
Post the error you get in console to http://gist.github.com.

[2015-03-29 19:39] Renovations commented on #86
I did

[2015-03-29 19:40] Renovations commented on #86
https://gist.github.com/Renovations/b2586979bb4ef7a7a3a6

[2015-03-29 19:40] nsporillo commented on #86
A single line of the stacktrace tells me nothing. Post the entire error you are getting...

[2015-03-29 19:41] Renovations commented on #86
Thats all it says -_-

[2015-03-29 19:41] Renovations commented on #86
Could you come on my server so I could show you pls

[2015-03-29 19:42] Doxify commented on #84
@tmnetwork let me know when you stop hitting my home connection offline.

[2015-03-29 19:45] Renovations commented on #86
http://gyazo.com/f9ac49ba5133d4efdad43a7e93934c14
Is that what this plugin is suppose to look like?

[2015-03-29 19:51] drtshock commented on #84
Stop bickering on my issue tracker or I will have you removed from github (yes, the entire website).

Feel free to keep giving suggestions. If I say that they aren't within the scope of the project, then they aren't going to be added. Being ass holes to each other is really pissing us off and, if it continues, will lead to you no longer getting support or updates.

[2015-03-29 19:54] nsporillo commented on #86
You're using build 29, latest build is [#33](https://ci.drtshock.net/job/HCFactions/33/).

Besides that, commands are working for everyone else. I suggest you make a test server with just hcfactions.jar and see if you get the same issues.

We build and test for spigot-1.8, so i'm not sure if craftbukkit 1.7.9 will work

[2015-03-29 19:59] Renovations commented on #86
Alright thanks for sticking with me :)

[2015-03-29 20:02] #86 closed

[2015-03-29 20:25] drtshock commented on #85
There is already an option for that in the Conf.json
`handleExploitInteractionSpam`

[2015-03-29 20:25] #85 closed

[2015-03-29 20:30] Renovations opened #87 "Server won't start since I changed to spigot for this plugin"
Would you know why my server would not start since I changed to spigot using the faction plugin

[2015-03-29 20:30] Renovations opened #88 "Server won't start since I changed to spigot for this plugin"
Would you know why my server would not start since I changed to spigot using the faction plugin

[2015-03-29 20:31] #87 closed

[2015-03-29 20:38] #88 closed

[2015-03-30 05:29] drtshock commented on #88
Please stop making duplicate tickets and then just closing them.

If you're having issues, please give us relevant info such as /f version and /version outputs as well as complete server logs in a pastebin.

[2015-03-30 16:57] clerkk opened #89 "Permanent factions shouldn't be raidable"
Okay, so I was told to post this here as Trent is busy.
When I want to make a faction permanent, It doesn't allow me to edit its DTR. For example, I have a koth and I claim it, but when I leave the faction, it sets the DTR to 0, meaning people can destroy the land, is there a way to set their DTR higher to prevent this from happening, or is there other ways around this?

[2015-03-30 17:08] nsporillo commented on #89
Good issue. This is an example of particular situation that wasn't taken into account when I designed DTR, but is a relatively easy fix and can be useful for all servers running HCF.

I'm thinking a configurable value for permanent-faction-dtr, which is ONLY used for permanent factions that has 0 players. (normal code just takes # of players * player-dtr, so 0 * whatever is 0 thus raidable)

[2015-03-30 17:20] clerkk commented on #89
This would be a great improvement, and server would benefit from it, you could possibly make the factions similar to WarZone/ SafeZone, which you would configure in the config?

[2015-03-30 18:08] nsporillo commented on #89
@clerkk

I don't think a permanent faction that has no players is necessarily the same as a warzone or safezone. The feature requested was just disallow raiding a permanent faction with no players because it's DTR is 0 (because no players).

If we treated it as a war/safe zone, that could have unintended size effects.

[2015-03-30 18:27] nsporillo commented on #54
This was added.

[2015-03-30 18:27] #54 closed

[2015-03-30 18:27] nsporillo commented on #80
This was added. It is a config value that defaults to true, look for it in the latest builds.

[2015-03-30 18:27] #80 closed

[2015-03-30 18:42] drtshock commented on #37
We aren't a kill tracking plugin.

[2015-03-30 18:53] nsporillo commented on #37
We'll investigate a way to add this in.

[2015-03-30 19:20] TMNetwork opened #90 "Ally bug?"
This fac exceeded allies:

http://i.imgur.com/YaIz0vL.png

[2015-03-30 19:46] nsporillo commented on #90
Duplicate of #24

That issue was closed, but I re-opened it as I did confirm this a few days ago.

This was a bug present in the upstream factions (factionsuuid) as well. It happens when multiple ally requests are sent before reaching the limit, and then accepting them.. allows bypass.

[2015-03-30 19:46] #90 closed

[2015-03-30 20:15] #48 closed

[2015-03-30 20:15] #56 closed

[2015-03-30 20:15] #70 closed

[2015-03-30 21:01] TMNetwork commented on #24
Please fix this soon @nsporillo

[2015-03-30 21:03] #24 closed

[2015-03-30 21:17] nsporillo commented on #24
@TMNetwork it was fixed, try out the latest build of HCF.

Also, you might want to go into your lang file and change the TL for

    RELATIONS:
      ...
      EXCEEDS:
        MAX: <i>Failed to set relation wish. You can only have %1$s %2$s.

The `%1$s` will probably be `%1$d in your lang file, which will say like 2 %s when it formats.

[2015-03-30 22:26] TMNetwork opened #91 "Pressure Plate Bug #2"
Here is another pressure plate issue.

http://youtu.be/CiwjLKKbU-M

[2015-03-30 22:55] drtshock commented on #91
Please describe the issue in your ticket via text. You should include what happens, what went wrong, and what should happen.

[2015-03-30 22:57] MoeXIV commented on #91
If you walk on a pressure plate in claimed territory other then your own, it thinks you're trying to use it, and starts making you take damage. If someone has a whole base with pressure plates, if you take 1 step, you're as good as dead.

[2015-03-30 22:59] Renovations opened #92 "Warzone?"
Is there a Warzone in this hcf plugin? If so what is the command bcuz /f claim warzone does not work

[2015-03-30 23:01] nsporillo commented on #91
@MoeXIV you can disable the damage you take in the conf.json

    "ownedAreaDenyBuild": true,
    "ownedAreaPainBuild": false,

[2015-03-30 23:03] NauruMC commented on #92
/f claim RADIUS Warzone
and
/f claim RADIUS Safezone

[2015-03-30 23:03] nsporillo commented on #92
Thanks @NauruMC

[2015-03-30 23:03] #92 closed

[2015-03-30 23:04] Renovations commented on #92
Thank you

[2015-03-31 00:28] #36 closed

[2015-03-31 00:28] #51 closed

[2015-03-31 00:34] drtshock commented on #36
I personally don't see why we should differentiate.

[2015-03-31 00:38] drtshock commented on #89
Why not set it as a warzone?

[2015-03-31 00:45] NauruMC commented on #89
Because some owners like the message for koths such as

&eLeaving &4Warzone&e, Entering &cKOTHNAME etc..

[2015-03-31 01:29] TMNetwork opened #93 "DTR Evasion"
So in HCF, there is an issue with DTR evading. They kick the player right before he dies.

Solution: Make it so if they are in combat, that they cannot be kicked from the fac.

Example:
&cYou cannot kick {name} while he/she is in combat.

Make the combat checker configurable in seconds. (No need for in game notifications).

[2015-03-31 01:31] TMNetwork commented on #91
I fixed the pain issue.

But when I try to right click a pressure plate (in the video), it says I cannot use it therefore people cannot throw potions to heal themselves.

[2015-03-31 01:35] NauruMC commented on #93
:+1: I like this, @nsporillo will have to look into this :) This would be helpful!

[2015-03-31 01:38] nsporillo commented on #93
Can just change the kick penalty so it penalizes even if a faction is not frozen.

An elaborate combat checker is not only unnecessary but outside the scope of this plugin.

[2015-03-31 01:57] drtshock commented on #91
That's the intended functionality.

[2015-03-31 02:59] TMNetwork commented on #93
The kick penalty isn't like an HCF server. If some people don't know about
it, it can make them raidable. Can you release source or something so I can
have 1 of my devs add this? This is needed

On Monday, March 30, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-03-31 03:58] NauruMC opened #94 "REQUEST: Founded Date"
Basicly, just a neat little feature. There should be a variable such as {createDate} and it will show the date and time the faction was made. Here is a example on a different server.

![a1f271d35b7293d17e17aa65ea41eb9a](https://cloud.githubusercontent.com/assets/9434234/6912095/a80baa24-d738-11e4-9f1e-46d76557c951.png)

[2015-03-31 12:25] MoeXIV commented on #93
Maybe just clocking a timer, with no affect? All you'd have to so is set your combat timer to the same time and your SOLID!

[2015-03-31 12:45] nsporillo commented on #93
A better solution would be to just set a variable for f players that doesnt get saved, which holds the date (down to the millesecond) they last took or dealt damage. If we attempt to kick this player and they've been taken / dealt damage in the last x seconds, it doesnt allow it. If the player does die and the faction doesnt go raidable, then we can safely ignore this date so they can be kicked af

[2015-03-31 12:57] MoeXIV commented on #89
That's not it. It's for accessibility not the entering messages. You claim the KOTH, and all you have to do is "f show <KOTH>" and it gives you the cords of the capture zone.

Easier on players.

[2015-03-31 12:59] nsporillo commented on #94
When this is added, there wont be any way of telling when an existing faction was created. Their foundedDate will be 0 (1969..), so whenever the plugin calls the function that returns the founded date, we check if it is 0 and sets it to the current time.

Just wanted to explain how we would handle that case since I can already see issues being made on the this tracker saying that a faction was fou

[2015-03-31 13:00] MoeXIV commented on #93
Yes, players dealing damage would defiantly have to be added.
When it comes to thinks like Mobs, what if they are grinding, or stealing for example, or inside raising you, you won't be able to kick them if they take the items and keep interacting with a mob. It would be smart to disable the tag starting with mobs. Keep it to just Water, Lava and PVP. Not even fall damage.

[2015-03-31 13:06] nsporillo commented on #93
@MoeXIV thanks for the help clearing up how we're going to add this. Just going to leave this issue open until everyone has a chance to post some constructive comments on how this will be added. Not going to dive into it and push something we dont want. That doesnt mean their cant be disagreement though, just need a good idea of what we want to do before I go and do it.

[2015-03-31 13:19] #94 closed

[2015-03-31 13:42] MoeXIV commented on #94
Can you not just use the date and time of the PC? Not the hour or minute etc, but the month / day?

[2015-03-31 13:52] nsporillo commented on #94
@MoeXIV Yes, see http://docs.oracle.com/javase/6/docs/api/java/text/SimpleDateFormat.html

How date is formatted is controlled by what is in the lang, so just change it in there. If you have any questions let me know

[2015-03-31 15:19] nsporillo commented on #89
@NauruMC @clerkk @MoeXIV

Would adding an option to simply make `permanent` factions with `0` members have a DTR of like 0.1 so it's not raidable resolve this issue?

[2015-03-31 16:29] clerkk commented on #89
Yeah, that would help it actually. :+1:

[2015-03-31 17:12] nsporillo commented on #89
@clerkk good to hear. I figured it'd work because even factions that aren't made with the same idea you had in mind with this issue would be protected from raids if all the members left and it was permanent.

It was not present in the current design because it was implied that a faction with no members was not a faction at all. (Obviously not true at this point, and during testing that assertion h

[2015-03-31 18:30] nsporillo commented on #91
Closing this issue as it seems that is the intended functionality.

Do not open a duplicate issue for this, if you'd like to continue discussing this just do so here. We get the emails.

[2015-03-31 19:38] TMNetwork commented on #91
@drtshock @nsporillo  can u guys fix that cause it's part of HCF and this is an hcf factions plugin?

[2015-03-31 19:50] TMNetwork opened #95 "Reopen..."
Can you guys reopen this?

Like seriously... we paid for a plugin and all Trent or whatever (the main dev) says is

"thats not needed"
"we dont handle that"
"that isnt good"

This is seriously starting to get out of hand and very irritating.

https://github.com/drtshock/HCFProblems/issues/91

[2015-03-31 19:51] TMNetwork opened #96 "./f show bug"
When you do /f show {name}

It doesn't show the members offline.

Proof:
http://i.imgur.com/Si2WZGx.png

Config:
http://hastebin.com/winidofawo.xml

[2015-03-31 19:58] nsporillo commented on #96
This is not a bug. I recommend you read the patch notes for builds so you know exactly what changed. I've been putting in very important information regarding builds there since there isnt really any other place for me to do so.

What happened was a new config variable was added that defaults to true, but since you're on an older config, it did not show.

What happens if it's enabled is it wont bo

[2015-03-31 19:58] #96 closed

[2015-03-31 20:01] TMNetwork commented on #96
@nsporillo in the .yml or .json?

[2015-03-31 20:01] nsporillo commented on #96
We recommend you take backups of your config (can just make a duplicate and set it to another name) so you can regen your config at any time and copy over values you want to stay.

We will not be adding config breaking changes once we start pushing releases. (Everyone is using dev. builds right now). If we do we'll add methods which automatically add what changed into the config for you.

[2015-03-31 20:01] nsporillo commented on #96
@TMNetwork in the config.yml

[2015-03-31 20:03] TMNetwork commented on #96
Still doesn't work
@nsporillo
http://hastebin.com/ziyilaxato.rb

[2015-03-31 20:11] TMNetwork commented on #96
You see....
@nsporillo

[2015-03-31 20:18] nsporillo commented on #95
I closed it because:
http://puu.sh/gWKWi/1e4c1f7983.png

and I said you could continue discussion there and if we needed to, we can re-open.

You paid for a plugin, yes - that doesnt mean every single [ad hoc](http://puu.sh/gWL2m/1e599891f9.png) request should be added/fixed. Atleast not without sufficient reason to do so. (Regarding #91, the issue at hand is that you want to block interacting wit

[2015-03-31 20:18] #95 closed

[2015-03-31 20:22] TMNetwork opened #97 "HCF"
Reopen this as it is still a bug.
https://github.com/drtshock/HCFProblems/issues/96#issuecomment-88230698

[2015-03-31 20:22] #91 closed

[2015-03-31 20:22] drtshock commented on #95
*Using* a pressure plate is the action of *using* something as is opening a door or ANYTHING else like that. If you want to disable the damage for it, there is already a config option for it as I explained on another ticket. I'd link it but you open so damn many that it's hard to keep track of which is which.

[2015-03-31 20:25] drtshock commented on #97
Stop opening new issues referencing others. You can comment on the same thread there unless it is locked. If it's locked, then it's locked for a very good reason.

[2015-03-31 20:25] #97 closed

[2015-03-31 20:32] TMNetwork commented on #96
@drtshock @nsporillo this isn't fixed... reopen

[2015-03-31 20:36] nsporillo commented on #96
@TMNetwork what build are you using? /f version

I just tested and it worked as expected. We'll re-open if it is actually an issue (in the code), not a support ticket

[2015-03-31 20:37] TMNetwork commented on #96
@nsporillo Build:
http://i.imgur.com/Inj4fWo.png

[2015-03-31 20:38] TMNetwork commented on #96
nvm fixed it @nsporillo

[2015-03-31 20:40] nsporillo commented on #96
@TMNetwork what was the fix?

I just noticed that if we hide unused f show and there is someone offline, they dont get shown. That is a bug, it might be related to what you had..?

[2015-03-31 21:09] TMNetwork commented on #96
@nsporillo I put 2 extra spaces.

[2015-03-31 21:09] LOOOOOOOL opened #98 "Horses can trample crops in claims"
Horses can trample crops in claimed territories.

[2015-03-31 23:41] LOOOOOOOL opened #99 "Ally bug? #2"
The ally bug is occurring again.

http://gyazo.com/f665c00617d0306afc546abe069dd077

Version: 37

[2015-04-01 00:28] nsporillo commented on #99
Did you happen to try to replicate the bug before making the ticket?

That faction likely already had 3. The fix we applied only prevents it from happening again.

At any rate, you can go into the factions.json (don't edit it with the server using it, either shut down or take a copy and edit that, then replace old) and remove the 3rd ally.

[2015-04-01 01:06] TMNetwork commented on #99
@nsporillo ill see

[2015-04-01 01:07] nsporillo commented on #99
@TMNetwork Yeah, the bug should have been patched but our fix did not go through all factions and remove allies if they were above the limit.

[2015-04-01 01:33] TMNetwork commented on #99
@nsporillo ill update u by tomorrow, sound good?

[2015-04-01 01:33] nsporillo commented on #99
@TMNetwork Yeah, I'll leave this open even though I'm fairly certain the bug was fixed.

[2015-04-01 02:13] TMNetwork opened #100 "F home"
Can you make it where they don't spawn at f home after they respawn?

Thanks.

I checked the config. and didn't find a thing.

[2015-04-01 02:14] nsporillo commented on #100
Line 64 in conf.json

      "homesTeleportToOnDeath": true,

set to false.

Please just ctrl-f and search for what you want to find, I did this in less than 30 seconds.

[2015-04-01 02:14] #100 closed

[2015-04-01 12:11] MoeXIV commented on #37
@drtshock The more the better?

[2015-04-01 15:09] TMNetwork commented on #37
I agree.

On Wednesday, April 1, 2015, MoeXIV <notifications@github.com> wrote:

[2015-04-02 01:51] Doxify opened #101 "Offline Tag not working"
![sru9jka](https://cloud.githubusercontent.com/assets/9636316/6956258/036f3ec2-d8a0-11e4-833b-1a0dc599338e.png)

As you can see I have it in the config, It doesn't show up, the plugin just ignores the line..

Did some more tests, turns out that any line with the {offline} tag is ignored and doesn't appear.

[2015-04-02 02:57] nsporillo commented on #101
Set hide-unused-fshow to false.

When there is no offline players, it will ignore the line when hide-unused-fshow is enabled.

[2015-04-02 03:00] Doxify commented on #101
Thanks!

[2015-04-02 03:00] #101 closed

[2015-04-02 03:11] nsporillo commented on #99
@TMNetwork closing since no reply. If you still have this issue, reply to this issue

[2015-04-02 15:27] clerkk commented on #89
@nsporillo Any update?

[2015-04-02 15:29] nsporillo commented on #89
@clerkk still planned on being added, just havent gotten a chance yet. Sorry about the incorrect estimate.

[2015-04-02 19:00] clerkk commented on #89
@nsporillo No problem buddy :)

[2015-04-02 19:30] clerkk commented on #89
@nsporillo Would it also be possible, to have a custom /f show for permanent factions? so when its set in-game, it automatically changes to the other style, that is customisable in the config? i.e. remove the basics, like claimed land.

[2015-04-02 22:17] KriticalPvP opened #102 "Nametag color glitch"
My relation with 'x' is set to enemy the tag above their head is white. but when I reload factions Via plugman the color changes to the set relation between 'x' and 'y'

[2015-04-02 22:27] KriticalPvP opened #103 "Nametag color glitch"
My relation with 'x' is set to enemy the tag above their head is white. but when I reload factions Via plugman the color changes to the set relation between 'x' and 'y'

[2015-04-02 23:06] nsporillo commented on #103
This is a duplicate of #102.

[2015-04-02 23:06] #103 closed

[2015-04-02 23:07] nsporillo commented on #102
Incredibly vague with the description of your issue man.
You're going to have to first explain what is wrong and what is expected.

Also include what build you're using (/f version tells you)

[2015-04-03 02:20] TMNetwork commented on #98
@nsporillo @drtshock

[2015-04-03 21:40] TMNetwork opened #104 "[Video] Lag w/ your plugin"
Video has it all:
http://youtu.be/JBqgpBYUhiQ

[2015-04-03 23:18] TMNetwork opened #105 "Ally Bug still persists"
Nick knows about this bug....
but it still works...
http://i.imgur.com/8COTBwm.png
and there is an extra space between Allies:  {ALLIES}

[2015-04-04 00:33] NauruMC commented on #105
Simple fix, go to config yml and make somthing like this

Allies:{ALLIES} no space, i had the same issue and i fixed it using that,
that is a temp. fix until he comes out with a real fix.

[2015-04-04 01:38] TMNetwork commented on #105
@NauruMC there is still an extra space
http://gyazo.com/f78c11b95975c8200f183bde4a58dc59

[2015-04-04 02:12] MoeXIV commented on #104
Have you tried to make timing reports?
That explains what plugin is using what of your CPU. I've done reports on HCFactions, and there is no lag at all.

[2015-04-04 05:01] TMNetwork commented on #104
@MoeXIV u just sparked an idea

it was coreprotect..

THANK YOU SO MUCH BABE. IDK WHA TIT WAS BUT WHEN I SAW UR NAME.,CORE PROTECT POPPED UP. I LOVE U.

[2015-04-04 06:41] #104 closed

[2015-04-04 06:45] TMNetwork opened #106 "Claim Border"
Can you make it where you can only claim along side ur other claims?

You cannot just make random claims around the map?

I guess make this configurable to remove any issues w/ other server owners.

[2015-04-04 14:17] TMNetwork commented on #104
@nsporillo reopen as it still occurs when i type that command.

[2015-04-04 14:43] TMNetwork opened #107 "./f stuck"
You need to make it where once u walk 5 blocks then it cancels it, cause going 1k blocks and then teleporting out is ridiculous.

[2015-04-04 19:23] clerkk commented on #106
+1 I agree.

[2015-04-04 19:24] clerkk commented on #107
I was going to make a similar issue to this, maybe make it configurable in the config how many blocks one can move?

[2015-04-04 20:33] drtshock commented on #104
Explain the issue in TEXT.

[2015-04-04 20:38] ScarOG opened #108 "Error upon using a command. I.E /f who, /f create [tag]"
I am having an error (An internal error occurred while attempting to perform this command) I was wondering if there is a way to fix this, my error from the console is this: https://gist.github.com/ScarOG/3e42b2b6cb5471b112e2

[2015-04-04 20:57] nsporillo commented on #108
You can't use craftbukkit 1.7r3 with HCF at this time.

[2015-04-04 22:34] PlasmaHCF opened #109 "Nametag help"
i want to change this http://prntscr.com/6pmyoj to this http://prntscr.com/6pmzes

[2015-04-04 22:35] PlasmaHCF commented on #109
can anyone help

[2015-04-04 22:56] MoeXIV commented on #109
Simply use [FACTION] before {DISPLAYNAME} in the essentials chat format. Now all you have to do is add something nice. For example: &6[[FACTION]&6] {DISPLAYNAME}&if: {MESSAGE}

[2015-04-04 22:58] PlasmaHCF commented on #109
thank you

[2015-04-04 23:07] PlasmaHCF commented on #109
http://prntscr.com/6pndf3 like that

[2015-04-04 23:09] PlasmaHCF commented on #109
do i keep chattagenabled : true or false

[2015-04-04 23:16] PlasmaHCF commented on #109
http://prntscr.com/6pngrp

[2015-04-04 23:18] PlasmaHCF commented on #109
can you send me you're essentials chat thing

[2015-04-05 00:56] MoeXIV commented on #109
It's not {FACTION} it's [FACTION] with the [ ]

[2015-04-05 00:56] nsporillo commented on #108
@ScarOG closing this because we do not support that version. Perhaps in the future we could provide compatibility, but that is not planned at this time. Sorry

Check out http://www.spigotmc.org/, you can run a 1.7.x server with HCF just fine, you're just using a build of craftbukkit that doesnt have a change HCF uses.

[2015-04-05 00:56] #108 closed

[2015-04-05 00:57] MoeXIV commented on #109
P.S, is Plasma re opening?
Because like everyone from Plasma moved to Pure.

[2015-04-05 00:57] #102 closed

[2015-04-05 01:34] PlasmaHCF commented on #109
plasma iis not coming back

[2015-04-05 01:35] PlasmaHCF commented on #109
we are done forever

[2015-04-05 09:01] TMNetwork commented on #104
When you f show a faction that isn't online, it lag spikes the server.

On Saturday, April 4, 2015, Trent Hensler <notifications@github.com> wrote:

[2015-04-05 17:48] RealRemedy opened #110 "F SHOW - Error After Making A Faction"
how to fix this http://prntscr.com/6pxglj

[2015-04-05 18:26] MoeXIV commented on #109
Then why'd is you buy an HCF plugin then?
A new HCF server?

[2015-04-05 18:35] MoeXIV commented on #98
This has been an issue since the first update of horses.

[2015-04-05 18:56] nsporillo commented on #110
What HCF version are you using?

Post your config and your error from console into seperate gists. Paste the links to them as a reply on this issue.

Use http://gist.github.com/

[2015-04-05 23:51] FreddieFoxtrot opened #111 "No console errors, the only command that works is /factions and no scoreboard display"
The only thing in console is all good:
[09:30:51] [Server thread/INFO]: [Factions] Enabling Factions v1.6.9.5-U0.1.15-SNAPSHOT
[09:30:51] [Server thread/INFO]: [Factions v1.6.9.5-U0.1.15-SNAPSHOT] === ENABLE START ===
[09:30:51] [Server thread/INFO]: [Factions v1.6.9.5-U0.1.15-SNAPSHOT] Loaded 124 players
[09:30:51] [Server thread/INFO]: [Factions v1.6.9.5-U0.1.15-SNAPSHOT] Loaded 3 Factions
[09:3

[2015-04-06 00:49] nsporillo commented on #111
This issue tracker is for HCFactions.

We do not handle FactionsUUID issues here.

Go to https://github.com/drtshock/Factions/issues to make an issue. Also probably want to explain your issue a bit more, as that log pretty much explains nothing in terms of what is wrong.

[2015-04-06 00:49] #111 closed

[2015-04-06 03:19] MoeXIV opened #112 "hide-unused-fshow Hides Faction Tag"
So basically, I planned to have the {tag} in the "f show", but it hides it. I don't understand how {tag} is an unnecessary space.

[2015-04-06 04:04] MoeXIV commented on #112
Closing this because turns out I just had a few errors, not sure what caused them, but a few things went wack with Factions, including the chat tags. A complete restart resolved the issue,

[2015-04-06 04:04] #112 closed

[2015-04-06 04:12] nsporillo commented on #112
@MoeXIV Plan on removing that value in config anyways, found a better way to handle what it did.

[2015-04-06 04:44] TMNetwork commented on #98
Ok, well fix it?

On Sunday, April 5, 2015, MoeXIV <notifications@github.com> wrote:

[2015-04-06 13:31] drtshock commented on #104
On which part of f show specifically

[2015-04-06 13:31] #109 closed

[2015-04-06 13:32] drtshock commented on #98
This is a bug with the original Factions. We'll look at fixing this after our next promoted release.

[2015-04-06 14:22] nsporillo commented on #106
There is already an option for this.

![See](http://puu.sh/h3Aee/a0c68f1bca.png)

[2015-04-06 14:22] #106 closed

[2015-04-06 14:33] NauruMC opened #113 "REQUEST: /f announcement"
Basically when a faction officer does /f announcement [message] the message he types will be shown using the variable {announcement}. This variable should be hidden in /f show if there is no announcement to view, this should bypass hide-unused-fshow because i don't want everything else that is not used to be hidden, it should just hide the announcement if there is no announcement and nothing else.

[2015-04-06 14:42] nsporillo commented on #113
Try /f announce or /f ann ?

[2015-04-06 14:44] NauruMC commented on #113
Both could work

[2015-04-06 14:45] nsporillo commented on #113
No I mean they already exist.

[2015-04-06 14:50] NauruMC commented on #113
Oh really? I'm at school now. After this class i'll end up testing it.

[2015-04-06 14:50] NauruMC commented on #113
I'll be closing this issue until i can test to see if this is what i need.

[2015-04-06 14:51] #113 closed

[2015-04-06 14:52] NauruMC commented on #110
@nsporillo @RealRemedy I have gotten this issue as well, a full restart of the server fixed it for me.

[2015-04-06 14:56] NauruMC commented on #113
Closed, works as needed.

[2015-04-06 15:00] nsporillo commented on #110
@NauruMC @RealRemedy regardless, still need his config and error from console to get any sort of idea what is causing this. It's most likely just an error with how it was configured.

[2015-04-06 15:04] Quizzes opened #114 "DTR Symbols"
These symbols and colors would be nice if they were added to the {dtr} variable

These symbols will be shown in the {dtr} variable (This should be configuarble like 'show-dtr-symbols' or something along the lines of that..)

P.S: In these examples i'll just be using 1.0 DTR

Max DTR (For the faction): 1.0 ◂(Green like &a or ChatColor.GREEN)

DTR Freeze: 1.0 ▾(Yellow like &e or ChatColor.YELLOW)

D

[2015-04-06 23:32] ScarOG opened #115 "Faction prefix editing?"
How do I go about editing the a factions prefix, I have tried but the config is very confusing and I would like a quick explanation

Thank you

- ScarOG

[2015-04-07 00:22] drtshock commented on #115
Prefix for chat or scoreboard?

[2015-04-07 00:27] ScarOG commented on #115
Chat

[2015-04-07 11:50] MoeXIV commented on #115
I don't think that's something you can do, endless you go into the Lang.yml and add your prefix before every word.

[2015-04-07 18:12] nsporillo commented on #107
Working on this now, overhauling /f stuck quite a bit.

Adding command costs to it, as those were missing.

Will use essentials teleporting if essentials is installed, (their safe location code is much more comprehensive). If not we'll default to our method using the block blacklist in config.

Fix bugs with negative timers in certain cases.

[2015-04-07 18:20] nsporillo commented on #105
What exactly is the issue here?

That there is an extra space? Or that you can still get 3 allies if the max is 2?

Please stop addressing different issues with the same post, it's not only harder to understand but you force seperate fixes to close one issue. It doesnt make sense.

If factions can still exceed 3 allies, edit your original issue that is closed and update it with useful information.

[2015-04-07 18:20] #105 closed

[2015-04-07 18:22] nsporillo commented on #99
@TMNetwork Update the original post on this issue with how to replicate this bug. When I fixed it the first time I tried a set of steps that verified the fix worked.

If you can't replicate this issue on the latest build, then how can you say it's still a bug and not factions who HAD 3 allies and after the patch still DO...?

[2015-04-07 18:29] nsporillo commented on #114
A bit more complex since f show is fully configurable. Would probably define TL values for those symbols and then define a new variable which is replaced with such TL based on some logic.

[2015-04-07 18:35] ScarOG commented on #115
@MoeXIV I am talking about the prefix when a player speaks not a prefix for all messages.

[2015-04-07 18:54] MoeXIV commented on #115
I must've misunderstood. That's alteay configurable through essentialschat

[2015-04-07 18:58] ScarOG commented on #115
@MoeXIV Already tried, is there any specific variables for this plugin?

[2015-04-07 19:37] nsporillo commented on #107
This was added, it will be in the latest build when that is pushed.

Latest build is also going to include config breaking changes to variables, so going to put some sort of disclaimer to instruct everyone to get the [latest config](https://github.com/drtshock/HCFProblems/blob/master/config.yml) and translate what they had over.

[2015-04-07 19:37] #107 closed

[2015-04-07 19:56] ScarOG commented on #115
Fixed it.

[2015-04-07 19:56] #115 closed

[2015-04-07 20:44] nsporillo commented on #93
This was added, will be present in our next build (not available as of this posting, be patient)

Thank you.

[2015-04-07 20:44] #93 closed

[2015-04-07 21:18] TMNetwork commented on #105
Update as you wish:
You can still exceed 3 allies and I'll open another ticket about the extra
space on the allies portion.

On Tue, Apr 7, 2015 at 8:20 PM, Nick Porillo <notifications@github.com>
wrote:

[2015-04-07 21:18] #89 closed

[2015-04-07 21:20] TMNetwork commented on #107
No no no. Essentials teleporting is usually set at 10 seconds. If another
player is in another factions territory then they need to wait 3 minutes to
get out so do NOT make this f stuck timer the same as essentials...

On Tue, Apr 7, 2015 at 9:37 PM, Nick Porillo <notifications@github.com>
wrote:

[2015-04-07 21:20] TMNetwork commented on #99
I have the latest and people are still getting 3 allied factions.

On Tue, Apr 7, 2015 at 8:22 PM, Nick Porillo <notifications@github.com>
wrote:

[2015-04-07 21:27] nsporillo commented on #107
@TMNetwork that is not what this is doing. It is just using a method from Essentials that does safe teleporting, it doesnt do anything else you're talking about.

Simply uses their code which finds a safe point to teleport too if essentials is enabled.

[2015-04-07 21:30] nsporillo commented on #99
![dude..](http://puu.sh/h5ibT/1c3e8df07a.png)

If you cannot explain how to replicate this issue, how do you expect me to fix it? I already told you I went through myself and fixed it the first time around (implies I did not find another case 3 allies could be done).

[2015-04-08 12:57] MoeXIV commented on #114
I've seen a few plugins using fancifuls API, to add a biohazard symbol before the DTR if they are Raidable. I think it would be simply a cool effect to turn the DTR color ChatColor.RED whilst they are Raidable, as well as possibly a customizable symbol.

For example: DTR: 1.01 (Not Raidable)
DTR: &c<symbol>-1.01 (Raidable)

[2015-04-08 12:59] MoeXIV commented on #114
It deleted something I added. I meant
DTR: &c{symbol}-1.01 (Raidable)

[2015-04-08 13:58] NauruMC commented on #114
That would be nice, but i wouldn't want the '-' in the DTR. It makes it look like another symbol.
Maybe a config.yml option?

fshow-dtr-symbol: true

That would remove the negative and replace it with symbols.
The symbols should be changed in the lang.yml aswell.

[2015-04-08 14:00] NauruMC commented on #110
@nsporillo EDIT: Got this error once more on b39. It crashed the server. I'll look for the logs and message them to you. I'll have to savage thou my cluttered OVH box for the logs..

[2015-04-08 14:02] NauruMC commented on #99
@nsporillo Maybe his players just have magical powers, or there is a new hack in the Nodus client called 'HCFactions bypass 2 ally limit v1.2'...

This was intended as humor.

[2015-04-08 14:07] MoeXlV opened #116 "/f list relation color"
Title pretty much explains it all, when a user types /f list the faction's name isn't the color
of the relation color.

Example: < i >{faction} (Config) turns into this in minecraft chat &eTestFactionName (MC Chat)

I've already spoke to @nsporillo about this but i thought i would put it on here so other pepole
don't have to report it.

[2015-04-08 14:39] MoeXIV commented on #114
You cannot remove the "-". It shows you have negative DTR. -.-

[2015-04-08 14:44] NauruMC commented on #114
Not if you have symbols C:
"Faction is raidable: 1.0 • (Red like &c or ChatColor.RED)"

[2015-04-08 14:52] MoeXlV commented on #114
<code>Test<\code>

[2015-04-08 16:16] nsporillo commented on #116
Already made the fix for this, but did not commit yet as I am waiting to make some more fixes for a build 40.

[2015-04-08 20:40] MoeXlV opened #117 "/f show relation color"
Currently in f show, the {header} tag shows the faction name as &2, that faction name should be the faction relation color. So if you're a ally to the faction 'Ebola' it should show the relation color and etc..

Here is the current one:

![fa5819f14b6f2e022351decac482acab](https://cloud.githubusercontent.com/assets/9434234/7054908/e41bf2e0-de0d-11e4-8133-7ae7ebda470d.png)

[2015-04-09 19:24] TMNetwork commented on #99
I'm still trying to find out how but it still works. I saw a new fac make a
faction and then triple ally with some others.

On Wednesday, April 8, 2015, Maxwell C. <notifications@github.com> wrote:

[2015-04-09 20:06] Blowns opened #118 "/f who doesn't show members online"
Yeah. It'd be much better if it showed all the members online along with the amount online.

[2015-04-09 20:56] nsporillo commented on #118
What build are you using and what does the f show portion of your config.yml look like.

[2015-04-09 21:43] #116 closed

[2015-04-09 21:43] #117 closed

[2015-04-09 21:49] Blowns commented on #118
My bad. I found the online variable.

Solution: {online}

[2015-04-09 21:49] #118 closed

[2015-04-10 14:45] nsporillo commented on #110
Havent heard from @RealRemedy, and @Quizzes hasn't provided any logs.

Closing this issue since b39 with a good config appears to work completely fine.

[2015-04-10 14:45] #110 closed

[2015-04-10 14:51] Quizzes commented on #110
All the servers will just have random crashes until b8263 because REMEDYG0D didn't provide logs ;(

EDIT: Couldn't post logs because i didn't pay for my OVH server and lost my files! *derp*

[2015-04-11 10:30] AlfieC opened #119 "No way to customise player names / tablets"
There's currently no way to just get someone's relation above their head, not their faction name. Is there a way to get this implemented?

[2015-04-11 13:19] nsporillo commented on #119
@AlfieC try build 40, Build changed how variables were handled and it was a very large update. Build 40 addressed missing relation colors for all variables. Let me know this works for you.

[2015-04-11 14:02] AlfieC commented on #119
Currently there is no way to customise the overhead/tab titles. Could you add a variable config setting?

[2015-04-11 14:11] nsporillo commented on #119
It's default-prefix in lang.yml.

[2015-04-11 17:49] AlfieC opened #120 "Getting this error"
Running Spigot 1649, getting this error:

http://hastebin.com/uyequmufez.avrasm

[2015-04-11 18:01] LOOOOOOOL opened #121 "Ally Spacing Issue"
My config: http://pastebin.com/raw.php?i=7nvYAfrK
Result: http://i.imgur.com/RDmK7zK.png (2 extra spaces)

[2015-04-11 18:32] TMNetwork commented on #120
lol dawnhcf bad

[2015-04-11 19:18] AlfieC commented on #120
...?

[2015-04-11 19:53] nsporillo commented on #121
You're not running the latest version, so I cannot say for sure what the issue is.

Why don't you try removing the color code before {allies}, it obviously doesn't get used anyways.

Also, deleted your rude comment on #120, if you continue to misuse the issue tracker you'll be removed.

[2015-04-11 19:54] #119 closed

[2015-04-11 22:26] drtshock commented on #120
Please paste the full stack trace.

[2015-04-11 22:29] AlfieC commented on #120
[code]

[2015-04-14 00:12] #121 closed

[2015-04-14 23:40] nsporillo commented on #120
@AlfieC are you still encountering this issue?

I don't think it's an issue with spigot 1649, but I could use some context into what is in-game is causing it?

I can't replicate in testing, I guess I need more players or something...

[2015-04-14 23:40] LOOOOOOOL commented on #121
@nsporillo mr. nick; u have no idea what the back story of that comment is; this is the same kid or maybe his co owner that told me that I am a terrorist due to my race so....

[2015-04-14 23:42] LOOOOOOOL commented on #72
@nsporillo can we get this going, my map ends in 1 week and we need to do an EOTW.
Just make it if ur op or have a perm node (f.eotw)
then you do /f start EOTW and basically it will make all faction's territories raid able  (not unclaim, so they can still /f home).

Simple as that. Make warzone and safezone immune to this please. thanks bro.

[2015-04-14 23:43] LOOOOOOOL opened #122 "Thank you Nick and Trent."
This can be closed by a github admin, but I just wanted to say thanks to Trent and Nick for there countless hours of work on this plugin. This is a huge plugin and for the price, I really do appreciate you guys both dealing with our requests.

[2015-04-15 17:08] #114 closed

[2015-04-15 17:33] nsporillo commented on #122
Appreciate the appreciation :+1:

[2015-04-15 17:33] #122 closed

[2015-04-15 18:33] Quizzes opened #123 "New faction DTR not starting from 0"
Basically I've noticed that DTR (when you make a new faction) is instantly set to the max DTR, but if you invite someone it regens to the max DTR.. When you make a new faction (with just you in it) It should NOT start at the max-player-dtr number. It should start from 0.00 and work its way up to the max DTR that faction can have..

[2015-04-15 19:10] nsporillo commented on #123
How is this urgent?

It is currently designed to start at 0, and there is a bug where dtr is a super high number when a faction is first created and is then set to the max (built in max dtr check). It's not even that big of a deal, in fact it's almost like a built in protection feature for brand new factions... 2 deaths to become raidable.

[2015-04-15 19:12] nsporillo commented on #99
Closed, due to inactivity...

When you can confirm this issue exists, just make a new issue on the tracker for it.

Try to include the steps you took to reproduce the error, so when I make a fix I can debug myself.

[2015-04-15 19:12] #99 closed

[2015-04-15 19:59] Quizzes commented on #123
My bad, wasn't really <code>URGENT but i feel that it should be fixed, all HCF servers start from 0 and work its way up, maybe add a config for that? like start-from-max-dtr: true/false?

[2015-04-15 20:21] Quizzes opened #124 "Hurting Faction members?"
Is hurting faction members meant to be there? You're only supposed to be able to hit you're allys/truces not you're faction members. You should fix this. Once again, you can only hit Allys/Truces..

Here is the message when i hit a faction member

![b82a0e5b8f02cc39e74293327f62b5e0](https://cloud.githubusercontent.com/assets/9434234/7168445/7ede573c-e38b-11e4-912d-f7a1c00c04dd.png)

P.S: On my ser

[2015-04-15 20:54] nsporillo commented on #124
There's an option in config.yml for friendly fire, but no it should not allow you to hurt faction members, so this is a bug. Should be an easy fix. Thanks

[2015-04-15 20:55] nsporillo commented on #123
Won't add a new config value for that, will just try and fix the bug.. which is an issue with the initial faction dtr (a config value wouldnt address the real issue)

[2015-04-15 21:09] Quizzes commented on #124
No problem

[2015-04-16 21:02] clerkk commented on #123
The reason its like this was because it was requested, for solo factions, I remember this being added and is a good addition @nsporillo , Don't remove it.

[2015-04-16 23:43] LOOOOOOOL opened #125 "Ver Question"
Ok so I have a question.

I use build 37.

Will I have an issue with my config.json and lang.yml or just config.yml?

[2015-04-17 01:10] LOOOOOOOL opened #126 "f show ally bug"
Config: http://hastebin.com/iluwaheguw.xml
Problem: It has 2 extra spaces as you can see.
Picture: http://i.imgur.com/ipbGDFo.png

I'm on version 37 so that might be fixed. IDK, let me know ;)

[2015-04-17 01:56] nsporillo commented on #126
![dotdotdot](http://puu.sh/hgD66/7570e7f569.png)
.. https://github.com/drtshock/HCFProblems/issues/121

Did you just ignore what I suggested trying?

This is not an issue with the code, rather an issue with how you're configuring the line in your f show.

As you can see...
![worksfine](http://puu.sh/hgDrO/7b21c22a5f.png)

using

      - '<a>Allies(<i>{allies-count}<a>/<i>{max-allies}<a>): {allies}

[2015-04-17 01:58] nsporillo commented on #125
An issue with regards to what..? Upgrading to a new build? Yes. Read [here](https://github.com/drtshock/HCFProblems/blob/master/UpdateToBuild39.md).

[2015-04-17 10:08] Lilmac12312 opened #127 "big error, idk why"
https://gist.github.com/nsporillo/bb1b56b66030193a7361

[2015-04-17 12:19] nsporillo commented on #127
Post your error and config to https://gist.github.com/ and then link them in your issue.

[2015-04-17 13:43] drtshock commented on #127
I don't recall you purchasing this. What's the transaction ID I can use to verify the purchase?

[2015-04-17 14:18] Quizzes commented on #127
If i'm correct Lilmac is merging servers with Aaron (MoeXIV). There creating a network and i'm sure they have access to each others file. I may be wrong but from my sources, that is how he might have it.

[2015-04-17 14:20] Quizzes commented on #123
@clerkk Like i said, there should be a config value for it. Some people like it, some don't.

[2015-04-17 14:21] Quizzes commented on #127
Also @Lilmac12312 post you're errors/stacktraces in https://gist.github.com or http://hastebin.com

[2015-04-17 14:28] Quizzes commented on #125
Yes @LOOOOOOOL as @nsporillo said. Just config.yml. Everything in that file was revamped, variables were changed and stuff. If you do some tinkering with wordpad you can compare the two files and merge them.

[2015-04-17 15:20] Quizzes commented on #37
BUMP: Didn't want this thread to get closed due to inactivity, here is just some text to keep this alive.
Hope to see this added very very soon!

[2015-04-17 15:32] Ideptent opened #128 "A new option in config.yml"
It would be possible to add the ability to edit the tag above your head in the game and players in the tab, file congif.yml.
Thank you in advance.

-Ideptent

[2015-04-17 15:35] nsporillo commented on #128
This is already possible. Go into lang.yml and find default-prefix.

[2015-04-17 15:35] #128 closed

[2015-04-17 16:54] MoeXIV commented on #127
Correct, me and Lilmac are opening another sub server for our Australian players as OVH is for US players usually. Since lilmac is more in the AU time, he is managing the server more then I am, I manage more of the US server.

I did not know I needed a new license to run the plugin on the same network but within a sub server.

[2015-04-17 18:27] drtshock commented on #127
You should purchase it for each individual instance of it you are running.

[2015-04-17 18:55] MoeXIV commented on #127
Alright, so are you suggesting that I pay the same price once again?

[2015-04-17 19:29] drtshock commented on #127
Yes. You should wait until like... tomorrow as I'll have my new permanent site up :)

[2015-04-17 20:40] Quizzes commented on #127
@drtshock  Can't wait to see it. I've heard that it looks fresh and spicy ;)

[2015-04-18 01:59] Lilmac12312 opened #129 "More than the set amount of allies"
Not sure how it happened but I've set the max allies as 1 yet this faction has two: http://prntscr.com/6v2s4j

[2015-04-18 02:50] LOOOOOOOL opened #130 "f Stuck"
Can you make it where if you walk more than 5 blocks in f stuck then it cancel's your tp?

[2015-04-18 02:52] LOOOOOOOL commented on #125
@nsporillo so just my config.yml? This is important and I'm just clarifying what you said in the read here.

[2015-04-18 02:53] LOOOOOOOL commented on #129
yea this bug continues to happen with me too, but im not on the updated version yet.

[2015-04-18 03:17] MoeXIV commented on #129
They may have allied 2 people before the 1 ally was put in the plugin?

[2015-04-18 05:44] Lilmac12312 commented on #129
@MoeXIV allies were set to only one before the server release.

[2015-04-18 07:33] nsporillo commented on #130
Why do you consistently open issues for the same exact issue that has been solved.
Duplicate of https://github.com/drtshock/HCFProblems/issues/107

    hcf.fstuck.radius

...in config.yml.

If you're not running a build that has this feature, then I have to ask why you request features and then not upgrade to get them, then continue to make issues. I can't just add content to and old file you're r

[2015-04-18 07:33] #130 closed

[2015-04-18 07:37] nsporillo commented on #127
@Lilmac12312 when you have a license, we can address this issue.

[2015-04-18 07:38] #126 closed

[2015-04-18 07:38] nsporillo commented on #125
@LOOOOOOOL Only your config.yml, yes.

[2015-04-18 07:38] #125 closed

[2015-04-18 07:39] #120 closed

[2015-04-18 15:27] MoeXIV commented on #127
It's basically my licence. It's our network.

[2015-04-18 20:41] LOOOOOOOL commented on #130
@nsporillo DUDE OK. WHERE TEH FUCK DO I ASK QUESTIONS THEN? I DONT WANNA UPGRADE AND HAVE ISSUES. GIVE ME A CORRECT PLACE TO ASK QUESTIONS. I DONT FOLLOW THIS DAMN GIT 24/7 AND TRENT TOLD ME VIA SKYPE TO ASK QUESTIONS ON THE GIT.

[2015-04-18 20:45] LOOOOOOOL opened #131 "Cobble Monstering"
Hopefully this bug isn't fixed with the fcking latest build -_-

Video: http://youtu.be/39uTnRq8YUM
Issue: People use lava and water to make big cobblestone blobs in other territories.
Solution: Don't allow water/lava flow into the other factions territory unless it's placed by a faction member.

[2015-04-18 21:21] Lilmac12312 commented on #127
@nsporillo Moe / Aaron owns the server but is away at his cottage and till then I'm looking after the server, making sure it's running smoothly so on so forth.

[2015-04-18 22:49] nsporillo commented on #130
1) Git is the right place to ask questions. Your question was **answered** and then **closed**. What else is there do it?

2) If you request a feature, but don't want to upgrade to the build that **has** the requested feature, then that's just too bad, nothing I can do. But don't make new tickets about issues that are **resolved** because you can't read the upgrade document through. It says you'll

[2015-04-18 22:53] clerkk opened #132 "./f home Problem."
org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot.jar:git-Spigot-1646]
	at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:181) ~[spigot.jar:git-Spigot-1646]
	at org.bukkit.craftbukkit.v1_7_R4.CraftServer.dispatchCommand(CraftServer.java:767) ~[spigot.jar:git-Spigot-1646]
	at net.minecraft.server.v1_7_R4.PlayerConnection.handleCommand(PlayerConnection.java

[2015-04-18 22:57] nsporillo commented on #132
Do you have essentials installed as a plugin? What version of essentials are you using?

[2015-04-18 23:24] clerkk commented on #132
We have essentials & its not working on this version:
https://hub.spigotmc.org/jenkins/job/Spigot-Essentials/

[2015-04-19 00:19] Lilmac12312 opened #133 "Error log"
http://hastebin.com/efajaxiyiq.avrasm

[2015-04-19 01:20] LOOOOOOOL opened #134 "Question"
I am not upgrading till my next week. Did you make the lands configurable to whether they have to be right next to each other? Or is it just true?

[2015-04-19 01:20] LOOOOOOOL commented on #129
LOL @Lilmac12312 got no license. How about your cheap ass pays for the plugin rather than asking others for free dl links ?

[2015-04-19 02:01] Lilmac12312 commented on #129
@LOOOOOOOL I'm not "asking" or "getting" any download links. @MoeXIV and I run a Network together, Moe paid for the plugin and runs all the servers but is currently away for 2-3 days as he's at his cottage with family. He asked me to maintain and look after the server, all I'm doing is posting errors within the plugin so they can be fixed for those who have purchased the plugin, including Moe so t

[2015-04-19 02:04] MoeXIV commented on #129
Thank you, Lilmac. I was about to comment some "rage". Lilmac basically read my mind. We run the network as a team of individuals, no need to call him "cheap". :>

[2015-04-19 16:55] Quizzes commented on #132
@clerkk Set the teleport delay in Essentials config.yml

<code>teleport-delay: 1

That would make it one second.

[2015-04-19 19:55] LOOOOOOOL opened #135 "./f help"
Can you make it where we can select if we want to use the default /f help cause i dont want to configure an entire f help and i liked the orignial one better.

Maybe a true/false.

[2015-04-19 20:46] MoeXIV commented on #135
*sigh* that's already a configurable feature. "use-old-help" I'm pretty sure. As Nick said, you may need to upgrade your build to see all the new features in the configuration,

[2015-04-19 20:47] nsporillo commented on #135
![wastingmytime.png](http://puu.sh/hjMa9/f4e80e3aa5.png)

[2015-04-19 20:47] #135 closed

[2015-04-19 20:47] nsporillo commented on #134
No, did not add that and wont be adding that.

[2015-04-19 20:47] #134 closed

[2015-04-19 20:51] MoeXIV commented on #134
In fact, this is already added since before FactionsUUID even existed. It's common sense if you look in the right place.

It's "connectedClaims" in the conf.json.
Set that to true and you're set :>

[2015-04-19 20:52] #133 closed

[2015-04-19 20:56] #124 closed

[2015-04-19 20:57] MoeXIV commented on #123
I'll share my side of this. I do indeed think that this needs to be fixed ASAP. If a player makes a faction with multiple people on "SoTW", they don't have to "play it safe" in the beginning like on every other HCF server because once 1 person dies, you're still fine.

Issues like this, although not purposely added, merely bugs reduce the hardcore aspects on the plugin; by name being Hardcore Fact

[2015-04-19 21:00] nsporillo commented on #129
Regardless, the primary objective of the license in our case is for providing support. Without a license, I won't be providing support.

https://github.com/drtshock/HCFProblems/issues/127#issuecomment-94046074

[2015-04-19 21:18] #123 closed

[2015-04-19 21:49] clerkk commented on #132
That makes no difference @Quizzes

[2015-04-20 03:36] nsporillo commented on #132
@clerkk try finding a different version of essentials, it appears to just be an issue with that. All we're doing is checking if a player is vanished, the error is sourced from the version of essentials you're using (the method we use isnt found).

[2015-04-20 03:36] #132 closed

[2015-04-20 03:45] Lilmac12312 commented on #129
@nsporillo Well if @MoeXIV was to submit all issues would he then be provided with support as he holds the license.

[2015-04-20 03:55] nsporillo commented on #129
@Lilmac12312 technically yeah, but technically that cant kill any motivation to work on the project if our hard work is countered by circumventing our licensing. 135 issues on this tracker in less than 2 months. Many of which were resolved in a short window. @drtshock already outlined that a license is per instance. If you'd like support, we ask you purchase a license.

[2015-04-20 03:58] nsporillo commented on #72
@LOOOOOOOL if we add features, we want to make sure they're designed so they can be used by all servers in their own way. With that said, it's going to take time and I can't promise any delivery date. Keep in the mind that valuable time spent replying to issues like https://github.com/drtshock/HCFProblems/issues/130 , https://github.com/drtshock/HCFProblems/issues/126, etc waste time that could be

[2015-04-20 04:38] Lilmac12312 commented on #129
@nsporillo I'll purchase a license then :)

[2015-04-20 07:24] Lilmac12312 opened #136 "Hitting faction members"
Within the latest build which was updated around 9-10 hours ago you're able to hit faction members

[2015-04-20 07:26] Doxify commented on #72
This command is not need at ALL.

It can be simply done by editing a few lines in the configs :)

[2015-04-20 11:53] MoeXIV commented on #72
That is true, but EOTW is a giant part of HCF and adding a little kick for servers using this plugin may be pretty cool. It also saves time for those in the which lack the the common sense to edit those few lines of configuration. In my case (which can be done fairly easy in game) would be to unclaim all non warzone claims, and then disabling claiming in said world. Simple as pie, eh?

[2015-04-20 11:54] MoeXIV commented on #131
This is a horrible issue (with the factions plugin in general) that needs to be fixed. I've seen plenty of people basically grief others bases making them raidable (by placing lava, and it burning down the base) and the faction quits because really, it's part of factions and not a fixable issue as of right now.

[2015-04-20 11:57] MoeXIV commented on #127
This issue can be picked back up and the no license can should be removed. Lilmac has purchased HCFactions for use.

[2015-04-20 11:58] MoeXIV commented on #136
The fix did not work? wut xddd
Because in the build 41 the hitting faction members bug should've been fixed 0.o

[2015-04-20 14:47] Quizzes commented on #136
Build 42 has fixed this issue, i've done some testing seems to work fine

[2015-04-20 14:48] Quizzes commented on #131
:+1: I would like to see this fixed aswell

[2015-04-20 14:56] nsporillo commented on #127
@Lilmac12312 post your config.yml in a gist, and also include the build you're using.

[2015-04-20 14:59] nsporillo commented on #129
Re-opening this. Just confirmed it is still a bug.

Turns out there is several cases in which we must have checks.

If you have 1 ally and sent out an ally request to some faction and then get sent an ally request from another. You can exceed the limit, but only by 1.

I'll work on a fix. But personally quirks like this in plugins is sometimes a neat thing for users.. easter-egg-esque. Oh well, th

[2015-04-20 15:06] drtshock commented on #131
This has always been a thing of factions.

[2015-04-20 15:07] drtshock commented on #136
'latest build' isn't a version. Please provide a specific version number where you're having the issue and older / newer versions where you aren't having the issue.

[2015-04-20 15:13] Quizzes commented on #136
I've received the issue on b41, but once b42 i have never had this issue

[2015-04-20 15:16] nsporillo commented on #136
@Quizzes really? I just tested locally and found I can in fact hit faction members, but not allys.

I do believe this is a legitimate bug, and will write up a fix for it. (when I fixed damaging members, I accidentally removed the check so they can be damaged, which is erroneous!)

[2015-04-20 15:21] #136 closed

[2015-04-20 15:22] nsporillo commented on #136
Fixed. Build 44 will have the fix. Going to try and get the ally bug fix in that build too.

[2015-04-20 15:38] MoeXIV commented on #131
As previously stated Trent, but HCF is not Factions. It's actually a lot different as you've already clued in. This is a big issue and yes, it does need to be fixed; or since "it's a part of factions", a new feature.

[2015-04-20 17:58] drtshock commented on #131
"hardcore factions is not factions" ok.. I don't disagree that it shouldn't be preventable, but your logic is pretty flawed.

[2015-04-20 21:30] MoeXIV opened #137 "Mod Chest Feature"
Insiding is the #1 thing I've seen on HCF, and it causes so many players to leave and quit the server.
I thought it'd be a cool feature to make a single chest that when a sign placed on it [mod] or something of the sorts, it only allows mods and + to access the single chest. This will help with insiders, as well as the fact it's only a single chest worth of goodies can be stored.

;)

[2015-04-20 21:47] LOOOOOOOL commented on #135
@MoeXIV stfu and let him answer;

[2015-04-20 22:23] Lilmac12312 commented on #129
Basically the way it works is:

If a faction has max allies, say in the config it's set to having 1 max ally and another faction has no allies they can send you an ally request and you're able to accept as they don't have any allies

[2015-04-21 07:26] Lilmac12312 commented on #137
Basically this is something like HCTeams has called a "subclaim". Only those who are modded within the would be able to open the "subclaim" unless Moe was just wanting it so only you can open the subclaim you've made. If this was to be added it'd be nice to have an option for it to be enabled / disabled.

[2015-04-21 07:36] Lilmac12312 commented on #127
https://gist.github.com/Lilmac12312/2e07034c1e27b0456801

[2015-04-21 10:52] MoeXIV commented on #131
I understand what you meant by that. I more meant that the way things work, player and community wise are completely different. People don't think the same, or act the same.  It's a hella lot different. If you ran an HCF server with a regular factions plugin the server would be in hell.

[2015-04-21 18:46] LOOOOOOOL commented on #72
@nsporillo dude, my map ends in 1 week and we need this stuff done:
results: http://strawpoll.me/4172449/r

[2015-04-21 18:52] MoeXIV commented on #72
Of course players want it, it's easier on them. If they have the option to do so, then yes, they are going to say yes. It makes the last few hour of the map more fun, and a better experience. I really feel f home shouldn't be added 👎🏾

[2015-04-21 18:53] MoeXIV commented on #137
Correct +1

[2015-04-21 18:55] LOOOOOOOL commented on #72
Just make it frwakjn configurable. Jdk what else nick needs at this point
with all this info....

On Tuesday, April 21, 2015, MoeXIV <notifications@github.com> wrote:

[2015-04-21 21:14] drtshock commented on #72
@LOOOOOOOL if you want features implemented on a deadline, I'd be happy to draw up a client contract for you to pay Puzl's $40/hr rate so we can prioritize you with our other clients. Otherwise, we get to things when we have time :)

[2015-04-21 21:17] nsporillo commented on #127
@Lilmac12312 thank you, this one is going to take a bit to debug, but with what you provided it'll happen.

[2015-04-21 21:42] Doxify opened #138 "Friendly-Fire is allowed despite it being disabled in config.yml"
http://hydrapvp.com/git.gif

Using version 43.

[2015-04-21 21:46] Doxify commented on #137
Would like to see this added as well.

Maybe a command as well?

/f modchest (while looking at the chest)

[2015-04-21 22:31] LOOOOOOOL commented on #72
Will I get that part of the plugin for myself for the $40?

On Tuesday, April 21, 2015, Trent Hensler <notifications@github.com> wrote:

[2015-04-21 23:32] Blowns opened #139 "Public chat role prefixes"
It would be way better if we could remove those

If we can, could you show me the file and line?

[2015-04-21 23:33] Blowns commented on #139
http://prntscr.com/6wo13q

[2015-04-21 23:49] nsporillo commented on #139
Located in the conf.json.

There is prefixAdmin, prefixMod, chatPrefixAdmin, and chatPrefixMod.

![conf](http://puu.sh/hmimi/792f7a368b.png)

is what you want to change, just set to "".

You might be asking what the prefixAdmin and prefixMod is used for? Commands like /f show when we list out members

[2015-04-21 23:51] #129 closed

[2015-04-21 23:51] nsporillo commented on #138
Known issue and fixed issue, (see https://github.com/drtshock/HCFProblems/issues/136).

Since I just fixed https://github.com/drtshock/HCFProblems/issues/129, will build 44 :smile:

[2015-04-21 23:51] #138 closed

[2015-04-22 00:09] LOOOOOOOL opened #140 "Download Link"
Hey, where is the download link area now?
I'm getting this error.
http://gyazo.com/944be3c50b3c320008268650b8d60485

[2015-04-22 00:15] LOOOOOOOL commented on #137
I dont want this add it so make it configurable.

[2015-04-22 00:20] nsporillo commented on #140
It hasn't changed, you're just not logged into the Jenkins..

If you're not logged in, it won't know you have access and will 404 you.

[2015-04-22 00:20] #140 closed

[2015-04-22 00:23] LOOOOOOOL commented on #140
@nsporillo I cannot access it... I'm logged in.
http://gyazo.com/339d0f7e86058dff6ba68b470a26661c

[2015-04-22 00:35] Lilmac12312 commented on #137
@LOOOOOOOL Well isn't that funny. First you're complaing about how you want the /f eotw command added yet never thought about everyone. If you took the time and looked over the past comments on this idea or known as a new feature you would of seen I mentioned adding in a configured option of enabling or disabling the "mod chest".

Let the developers take their time into adding what we've suggested

[2015-04-22 01:35] LOOOOOOOL opened #141 "Removed from CI?"
Can you add my username back to the CI?
I've been removed or something.

I'm logged in and I cannot access it.

usernam: temptingmc

[2015-04-22 01:39] LOOOOOOOL commented on #141
@nsporillo @drtshock can you add me please quick? I need this asap as I deleted my plugin.

[2015-04-22 01:48] drtshock commented on #141
Looks like Jenkins changed the case of your user id when I had to restart it last night. All fixed.

[2015-04-22 01:48] #141 closed

[2015-04-22 01:49] drtshock commented on #72
No as we don't like maintaining separate branches for everyone. Huge headache when we have to merge things.

[2015-04-22 01:59] LOOOOOOOL opened #142 "Claimable"
How do I claim warzone/safezone with this plugin again?

/f claim warzone {} doesnt work

[2015-04-22 02:05] LOOOOOOOL commented on #142
nvm close this, I got it.

[2015-04-22 02:05] #142 closed

[2015-04-22 02:11] Blowns commented on #139
Hmm,
  "chatPrefixAdmin": "",
  "chatPrefixMod": "",
still shows my faction role in public chat.

[2015-04-22 02:18] Blowns commented on #139
Got it working, I had to update the prefixAdmin, then reload, then change it back then the chatPrefix worked.

[2015-04-22 02:18] #139 closed

[2015-04-22 03:15] LOOOOOOOL commented on #137
Get a license and a brain, then try to trash talk me you suck up. You suck
up to everyone. Prplz and all of them.

On Tuesday, April 21, 2015, Lilmac12312 <notifications@github.com> wrote:

[2015-04-22 04:06] Lilmac12312 opened #143 "build 44 - error log"
I think this is to-do with /f stuck now 100% but here's the log anyways

https://gist.github.com/Lilmac12312/2cf21e0ad8b6fe674f09

[2015-04-22 04:23] Lilmac12312 opened #144 "Deny usage of boats in claimed land (to prevent boat glitching)"
Basically you're able to boat glitch into faction bases using a boat. I've tried denying the usage of it within the conf.json but it doesn't work

Also what would the item name be to deny usage of pressure plates within enemy/ally land?

[2015-04-22 09:10] Doxify commented on #144
I'd like this as well.

[2015-04-22 13:24] LOOOOOOOL commented on #72
Ok well hope to see this soon then.

On Tuesday, April 21, 2015, Trent Hensler <notifications@github.com> wrote:

[2015-04-22 13:40] drtshock commented on #144
Material names can be found here http://ld.lc/org/bukkit/Material.html

@Lilmac12312 what exactly did you put and where in the conf.json for denying boats?

[2015-04-22 13:43] drtshock commented on #143
Thanks :)

[2015-04-22 14:13] #143 closed

[2015-04-22 16:03] nsporillo commented on #131
Demonstration of fix:
[![vid1](http://img.youtube.com/vi/OP-ljFyDdD0/0.jpg)](http://www.youtube.com/watch?v=OP-ljFyDdD0)

Demonstration of a "glitch" that wont be fixed (read video description as to why):

[![vid2](http://img.youtube.com/vi/etmFGw-osSo/0.jpg)](http://www.youtube.com/watch?v=etmFGw-osSo)

So implemented this, with it configurable in conf.json (defaulting to false, to retain previou

[2015-04-22 16:05] LOOOOOOOL commented on #131
Thank you so much.

On Wednesday, April 22, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-04-22 16:14] #131 closed

[2015-04-22 16:28] nsporillo commented on #72
There is no such thing as setting DTR to -100 (the min is defined in config, that is not overridden under any circumstance)

I suppose a way to do this is to set every factions dtr to the min in config and setting them as DTR frozen (with an artificially high freeze time). Thus all normal factions become raidable but they can still use /f home or whatever-This wont be configurable (why should it b

[2015-04-22 18:26] LOOOOOOOL commented on #72
What is the lastDeath now thing?
And can u do /f eotw start/stop so when we stop it, the plugin can function
normally?

On Wednesday, April 22, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-04-22 22:23] nsporillo commented on #72
It has not been added yet, those were just for my future reference when I go to add this...

lastDeath is just a variable every faction has, is set whenever someone dies to the current time.

[2015-04-22 22:33] LOOOOOOOL commented on #72
ok

[2015-04-22 22:34] LOOOOOOOL commented on #131
@nsporillo what is it under the config.json?

[2015-04-22 22:47] LOOOOOOOL opened #145 "Click to join bug"
I have the f command allowed to be said in chat so f isnt read. This is from me clicking "Click to join!"
http://gyazo.com/c6f9a2bfeabc477d0d9717bf11154cbc

[2015-04-22 22:48] LOOOOOOOL opened #146 "f home question"
Can I change the message for Faction Home? Cause it's currently at "n/a" and I wanna change it to "Home not set"

[2015-04-22 22:49] nsporillo commented on #145
What is click to join...

[2015-04-22 22:50] LOOOOOOOL commented on #145
when someone invites u to their faction, you can hover over the invite message and it says "Click to join".

[2015-04-22 22:50] nsporillo commented on #146
lang.yml line 408

[2015-04-22 22:50] #146 closed

[2015-04-22 22:52] LOOOOOOOL opened #147 "Question: lang.yml"
I have my old lang.yml from version 37, can I just use that with the new build 48 and then it auto gens the new lines, or do I have to reset it too?

[2015-04-22 23:00] nsporillo commented on #147
There is no build 48.

You don't **have** to reset your lang.yml, but do not make new issues on this tracker about messages being wrong if you **dont** reset your lang.

We're still in development, massively changed lang files aren't recommended unless you're prepared to add in / fix what is changed along the way in dev builds.

[2015-04-22 23:00] #147 closed

[2015-04-22 23:30] Lilmac12312 commented on #144
@drtshock Under the "territorydenyusage" areas of the conf.json to deny usage of "BOAT" hoping it would deny players being able to place boats in enemy territory and glitch into their base

[2015-04-22 23:56] nsporillo commented on #145
So it's not working..?

[2015-04-23 00:00] LOOOOOOOL commented on #131
@nsporillo what line is this bro? im having troubles finding it..

[2015-04-23 00:31] nsporillo commented on #98
https://youtu.be/KvqLRUVQAqA

[2015-04-23 00:37] nsporillo commented on #131
Search your conf.json for "handleExploitLiquidFlow"

[2015-04-23 00:42] LOOOOOOOL commented on #131
@nsporillo so make   "handleExploitLiquidFlow": false to
  "handleExploitLiquidFlow": true,

[2015-04-23 00:43] nsporillo commented on #131
ya.

[2015-04-23 13:50] nsporillo commented on #137
@MoeXIV Particle effects sound cool, similar to how ender chests have particles if possible would be neat. Good idea.

[2015-04-23 15:19] clerkk opened #148 "I get this error in my Logs."
http://pastebin.com/kdxEw3CC
On latest version of Factions.

[2015-04-23 16:11] MoeXIV commented on #137
What can I say, I'm full of ideas ;)

[2015-04-23 16:12] MoeXIV commented on #137
Can't edit a post on an iPhone so I'll make another. Any ETA on this feature?

[2015-04-23 16:26] MoeXIV commented on #72
My mistake.

[2015-04-23 16:28] MoeXIV commented on #145
When he clicks it, it simply makes him execute those 3 lines in chat. Maybe add a slash before it for what ever you made in the code?

[2015-04-23 17:16] nsporillo commented on #145
It's probably sending those 3 lines because he clicked it three times.

https://github.com/drtshock/Factions/blob/1.6.x/src/main/java/com/massivecraft/factions/cmd/CmdInvite.java#L53

That is the line in question here.

Very likely this can be fixed with a slight change in configuration, based on what I see there. Experiment with it. When I get a chance i'll do the same.

[2015-04-23 17:49] Doxify commented on #137
Yes I'd like the particle effects, make it so once you run the /f modchest command it places a sign on the chest that cannot be broken by anyone.

I think you should also add an option to make the chest a regular chest again, so if you look at the chest and type /f modchest off it will get rid of the sign on the chest and make it a regular chest again.

I need this asap, so I'm whiling to pay the

[2015-04-23 18:21] MoeXIV commented on #137
Thank you, Dox. That's a really nice way of looking at it. I needed it soon as well.

I hope this kicks in.

[2015-04-23 18:27] nsporillo commented on #137
Well I need to plan out the following:

* The command (and everything related to it, TL, arguments, permissions, etc)
* The listener (to enforce the mod chest rules)
* The actual system to handle who has access to the mod chest

It is not something I can go in and add in an hour, atleast not without it being half assed / buggy.

As far as an ETA, keep in mind that I have a job outside HCF, I'm a s

[2015-04-23 18:28] Doxify commented on #137
DM me on twitter and I'll get on to help :)

[2015-04-23 19:09] LOOOOOOOL commented on #137
Make it confirguable as I don't like this nor do I like any of doxfies
ideas.

On Thursday, April 23, 2015, Doxify <notifications@github.com> wrote:

[2015-04-23 19:10] LOOOOOOOL commented on #98
Is this in build 45

On Wednesday, April 22, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-04-23 19:10] LOOOOOOOL commented on #131
Done, close this ticket.

On Wednesday, April 22, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-04-23 19:19] nsporillo commented on #98
Nope.

[2015-04-23 19:20] nsporillo commented on #137
It's obviously configurable, just dont give your players the permission node to make modchests.

[2015-04-23 20:23] drtshock commented on #144
That would only prevent them from interacting a boat, not with a boat in their hand. We can add another option to prevent that.

[2015-04-23 20:24] drtshock commented on #148
Did you /reload...?

[2015-04-23 20:50] clerkk commented on #148
Yep, only once.

[2015-04-23 21:12] drtshock commented on #148
Don't do that :)

[2015-04-23 21:12] #148 closed

[2015-04-23 21:14] LOOOOOOOL commented on #98
@nsporillo which build will it be in? Like the fix.

[2015-04-23 21:15] Doxify commented on #98
"progress but so far" indicates that it has not yet been added.

[2015-04-23 23:40] LOOOOOOOL commented on #98
Hey dumb shit, after you stop copying other servers to attempt to compete
with them, then correct me. For now, start trying to be unique.

On Thu, Apr 23, 2015 at 5:15 PM, Doxify <notifications@github.com> wrote:

[2015-04-24 00:14] Doxify commented on #98
Then I don't think you'll be too happy with our new server "hcfpvp.com" coming out this Saturday.

[2015-04-24 00:18] LOOOOOOOL commented on #98
@Doxify exactly you copy servers.... why r u so proud of urself? I have many other ways I can take care of that.

[2015-04-24 00:19] LOOOOOOOL commented on #98
@Doxify so ur closing hydra to make a replica of my hcf server with my domain?

[2015-04-24 00:21] Doxify commented on #98
Yes but don't tell anyone, we're trying to make the release a secret.

[2015-04-24 00:22] LOOOOOOOL commented on #98
I cannot tell if your being sarcastic or not. I know you don't own the
domain.

On Thursday, April 23, 2015, Doxify <notifications@github.com> wrote:

[2015-04-24 01:38] drtshock commented on #98
Last warning @Doxify and @LOOOOOOOL. Stop spamming my issue tracker. Leave your childish arguments at daycare and keep this issue tracker for SUPPORT RELATED ISSUES ONLY.

[2015-04-24 01:38] drtshock commented on #98
RE this issue: "This is a bug with the original Factions. We'll look at fixing this after our next promoted release." is what I said and is still the status.

[2015-04-24 03:56] Lilmac12312 commented on #144
@drtshock yes that would be great thank you.

[2015-04-24 11:12] Chovpls opened #149 "/F show without fac."
Please change the text in the command /f show (response). When you write as a player without a faction / f show, appears  ______. [Wilderness] ._____ it would be possible to change it and add the ability to change and go lang.yml. Please change it to "You're not in faction".

Thanks!

[2015-04-24 11:37] Lilmac12312 commented on #149
Can you elaborate with correct English?

[2015-04-24 12:18] Chovpls commented on #149
My english is so bad. I modified the text as much as i can.

[2015-04-24 19:56] LOOOOOOOL opened #150 "Question"
Can I enable warzone breaking? Like having it able to be able to break in warzone?
IF so, how?

[2015-04-24 19:56] LOOOOOOOL opened #151 "Question: Claiming"
HOw do I disable claiming in a different world? I heard there is a command.

[2015-04-24 20:35] drtshock commented on #150
Yes. The conf.json `warZoneDenyBuild`

[2015-04-24 20:35] #150 closed

[2015-04-24 20:35] drtshock commented on #151
`/f config worldsNoClaiming <worldname>` will toggle claiming on / off in that world.

[2015-04-24 20:35] #151 closed

[2015-04-24 21:31] LOOOOOOOL opened #152 "Your Plugin"
I'd like to let yo u know that I'm doing EOTW right now and your plugin is the reason why I had to resart 6 times thinking it was something else.

I had to disable /f command for EOTW as when people do like /f show {name}, it lag spikes the server for 3-4 seconds and my TPS became 12 after people constantly did that.

I've blocked the /f command for now.

[2015-04-24 21:41] drtshock commented on #152
no idea what you're getting at

[2015-04-24 21:41] #152 closed

[2015-04-24 21:48] LOOOOOOOL commented on #152
no idea what im getting at?
im trying to get u to fix the freakin plugin

[2015-04-24 21:49] LOOOOOOOL commented on #152
@drtshock @nsporillo ^^^

[2015-04-24 23:51] Lilmac12312 commented on #152
@LOOOOOOOL Why don't you just wait like everyone else for their feature to be added and stop bitching.

[2015-04-25 03:57] LOOOOOOOL commented on #152
@Lilmac12312 Can you make sense of what you just said? I just posted an issue and he closed it for "no idea what your getting at"....

[2015-04-25 04:44] LOOOOOOOL opened #153 "Question"
The pressure plate bug that I fixed a while ago in the config.json has come up again as I've reset the config.json and now i want to again disable the territory pain for everything. I don't want them to receive pain.

Please help as this is my config and it still hasn't been disabled.
http://pastebin.com/raw.php?i=cU0FbdBi

[2015-04-25 05:24] Lilmac12312 commented on #152
@LOOOOOOOL Oh it made sense because if it didn't then it wouldn't be correct English, Here, let me help you out since you'r struggling to figure it out on your own. http://prntscr.com/6xvkb2 - You asked them, @drtshock & @nsporillo to fix the plugin yet there is nothing wrong with it.

Here's a good idea, maybe if you took a timings report and linked both developers, only if thw TPS lag is related

[2015-04-25 05:54] Doxify opened #154 "Permissions"
I need the permission nodes for the following commands.

/f thaw
/f dtr

Also is there a wiki page that has a list of all the permission nodes for hcf?

[2015-04-25 05:56] nsporillo commented on #154
factions.thaw
    factions.dtr

There is not a wiki page that lists all the permissions at this time, but I can quickly list them just from the source file:

    MANAGE_SAFE_ZONE("managesafezone"),
    MANAGE_WAR_ZONE("managewarzone"),
    OWNERSHIP_BYPASS("ownershipbypass"),
    ADMIN("admin"),
    ADMIN_ANY("admin.any"),
    ANNOUNCE("announce"),
    AUTOCLAIM("autoclaim"),
    BYPASS("bypass"),

[2015-04-25 05:56] #154 closed

[2015-04-25 05:58] Doxify commented on #154
Thanks!

[2015-04-25 05:59] LOOOOOOOL commented on #152
@Lilmac12312 not gonna lie, I didn't even read what you said above as it's way to o long, but all I can say is "What server do you own again? :)"

[2015-04-25 06:01] Lilmac12312 commented on #152
@LOOOOOOOL I own an Australian HCF server that brings in more likely more than your US server.

[2015-04-25 06:06] nsporillo commented on #152
This tracker is not for trash talking other servers or customers, nor is it to trash talk the developers...

It is mind boggling how you can make ridiculous claims such as our plugin lag spikes your server, but don't even provide any sort of useful evidence. A timings report, even if it happened to be the likely case that it's something else, would still be more helpful.

Tired of spending my time

[2015-04-25 06:10] Doxify commented on #152
^

I'd also like to add this this is not the plugin's fault (obviously). I had my EoTW today and we maxed out at 200 players with no lag, this is either the hardware your server is running or another plugin causing issues.

[2015-04-25 06:35] nsporillo commented on #153
https://github.com/drtshock/HCFProblems/issues/91

[2015-04-25 06:35] #153 closed

[2015-04-25 06:38] MoeXIV commented on #152
I agree with Dox. The plugin is fine, it's obviously something on your side "LOOOOOOL".

[2015-04-25 07:37] Xcraft28 opened #155 "Add more member/claim in faction !"
Hi i have buy the plugin yesterday, and i have change in the config file, the number max per faction member at 16 (Im french)
And claim : 20
But in my /f show it's still on ten. Screen :
![claim](https://cloud.githubusercontent.com/assets/12109307/7332084/9aadc808-eb2e-11e4-82fc-00cdf5cfae9d.png)
It's claim on /10 but i want 20 claims per faction and 16 members.
And a other problem i want to delet

[2015-04-25 08:38] Chovpls commented on #155
Look in box / F show

![help1](https://cloud.githubusercontent.com/assets/1524393/7332261/274fe2a2-eb37-11e4-963d-37caa44a0f87.png)

[2015-04-25 13:43] nsporillo commented on #155
"factionMemberLimit": 0,

in conf.json to set the faction member limit.

Setting

    faction-land-max: 20

in config.yml will work. Make sure you restart to have changes applied.

Also to remove a line from /f show just remove it from the show portion of config. Same goes with adding anything to /f show.

[2015-04-25 15:54] #155 closed

[2015-04-26 00:39] Doxify opened #156 "DTR doesn't update in scoreboard unless you type /f who"
Title.

![image](https://cloud.githubusercontent.com/assets/9636316/7335420/00fe6cfa-eb72-11e4-9b9d-9fd429633bc9.png)

![](https://i.imgur.com/V3WNIyf.png)

[2015-04-26 02:06] nsporillo commented on #156
Known issue. Happened went I revamped variables.

A lot of lag with scoreboards came with updating a factions DTR several times per second because they had multiple people in one faction online at once. So I just removed it until we could figure out a better way to do it. Obviously it's an issue since scoreboards should be as live as possible...

[2015-04-26 02:07] #145 closed

[2015-04-26 02:20] #98 closed

[2015-04-27 13:51] TJ1632 opened #157 "Lost access to CL"
As the title states I've lost access to CL (the build server where I download it) and was wondering if I could get it back. My user name is TJ1632 and my name is Tyler Jackson.

[2015-04-27 14:17] nsporillo commented on #157
Made sure you're signed in right?

I always ask this first because many people dont notice they're not signed in and think they lost access.

[2015-04-27 17:06] TJ1632 commented on #157
http://prntscr.com/6ytgxu

[2015-04-27 22:48] lyzha opened #158 "Tooltip translations"
The online tag in the /f who when you hover someone's name

[2015-04-27 22:50] lyzha opened #159 "Default faction description"
Would be nice if we could change the default faction description in the /f who

[2015-04-27 23:22] lyzha opened #160 "Minimal /f show"
I was thinking about an option when faction are permanent not to show allies, online or offline players or f home coords

[2015-04-27 23:23] lyzha opened #161 "Default factionl-less sidebar"
I was thinking about removing or having a different scoreboard on the right for factionless players

[2015-04-27 23:23] lyzha opened #162 "Fully configurable /f list header"
We can fully change the header in the f who why not in the f list :)

[2015-04-27 23:27] Doxify opened #163 "How to fix block glitching."
Block glitching seems to be a big issues on HCF, players are often in safe rooms which have wooden doors or other blocks you can right click to open. The thing is, that sometimes you can hit the player when you open a door for example, and even if the player is in a safe room protected by a door they can get killed.

My fix would be to place players in adventure mode when they are in other people'

[2015-04-28 00:09] nsporillo commented on #163
That.. that is actually a very interesting solution and would be extremely easy to implement..

Would need to explore ALL the possible cases to determine if it'd be a good idea.
Adventure mode would eliminate using ender pearls inside enemy territory and such I think. I guess we'd really need to test it out on a live server to figure out if theres any quirks.

[2015-04-28 00:42] HCFPvP commented on #163
I don't want to see this added. My developers fixed this a different way.

Infact @Doxify himself said in this that it shouldn't be fixed in this plugin.
https://github.com/drtshock/HCFProblems/issues/84

Do not add this as this would cause major issues with my plugin.

[2015-04-28 00:49] MoeXIV commented on #163
I do really think this should be added, but if it's not compatible with other people then maybe an alternative. Kohi HCF has it so if you're within 2 blocks and you ender pearl onto a corner or non solid block, it bumps the pearl teleportation 0.5 blocks back.

Either way, this needs to be added.

[2015-04-28 00:51] HCFPvP commented on #163
@drtshock close this ticket as you closed the #84 :+1:

[2015-04-28 00:53] nsporillo commented on #163
@HCFPVP Who are you again? What is your username on the jenkins?

Your developers fixing a bug in the plugin means absolutely nothing. If there is an issue that should be addressed, just because you have a solution does not mean I shouldn't work on it for the project..

[2015-04-28 00:55] nsporillo commented on #162
You can change the header?

    header: 'Faction List {pagenumber}/{pagecount}'

[2015-04-28 00:57] nsporillo commented on #161
Not sure if this is really a good idea. Added complexity for questionable benefit.

Develop the idea a bit more so I can see what you mean.

[2015-04-28 01:00] nsporillo commented on #160
Not all permanent factions are necessarily factions that don't have allies / online / offline / homes, etc.

We used to have a setting that did not show lines in f-show if they didn't really add anything to the output (Printing out an "Online: ", basically just empty lines). But it was removed because it caused a bunch of confusion. Users were wondering why certain lines weren't showing and that w

[2015-04-28 01:01] Doxify commented on #163
Yeah, please don't close this, it would solve a huge issue on my server along with other hcf servers.

[2015-04-28 01:11] MoeXIV commented on #163
@nsporillo , @HCFPvP is "TemptingMC" / "LOOOOOOOOOOOL".

But I also agree. This needs to be resolved one way or another, despite your developers plugins. That's like telling Nick to remove DTR because your plugin "conflicts" with it.

[2015-04-28 02:03] HCFPvP commented on #163
nick, this suggestion you said yourself isn't going to work so why not close it? Us servers worked hard to fix the bug and now that all of a sudden they want it, they are saying random suggestions to fix it.

Either way, If this is added, make it configurable (default: false) as it would interfere with my plugin.

And @Doxify you shouldnt be lazy. Just get your devs to code an anti block glitching

[2015-04-28 02:04] HCFPvP commented on #145
@nsporillo I'd like to see this fixed. Basically, it doesn't have a slash infront of the command.

[2015-04-28 02:04] HCFPvP commented on #145
@nsporillo plz reopen

[2015-04-28 02:05] HCFPvP opened #164 "Pressure Plate Bug #3"
So I found another pressure plate bug.

Basically you can throw like a block, for example, a potato on an enemies pressure plate and then it would open their door.

If you need more info. I can record a demonstration video.

[2015-04-28 02:10] nsporillo commented on #163
@HCFPvP you were blocked from the tracker and thus receive no support.

Your server fixing a bug and keeping it private only makes me want to fix it more. I do not care about exclusiveness what so ever, my goal is to provide a solid plugin for everyone.

[2015-04-28 02:12] HCFPvP commented on #163
I don't need support. And I said, I just want it confirguable. Is that so
hard? Treat all the users here the same.

On Monday, April 27, 2015, Nick Porillo <notifications@github.com> wrote:

[2015-04-28 02:17] #156 closed

[2015-04-28 02:47] Quizzes commented on #162
I think he means like we can remove/make our own header. That just changes the text inside the ------.[ ].------ thingy.. I may be wrong, but i'm sure i'm correct.

[2015-04-28 03:35] NeThEr117 opened #165 "enable pvp in neutral territory"
I can activate the pvp in a neutral faction? I tried hitting a neutral user within your terrotorio but will not let me. I tried to find solution in the settings but I have not found could help me?

-
I also want to know how to disable using a precione plate in a neutral territory and / or enemy that's possible?

[2015-04-28 03:43] nsporillo commented on #165
You cannot hurt neutrals in their own territory.

You can hurt neutrals in your own territory if

     enablePVPAgainstFactionlessInAttackersLand

is enabled in conf.json. (It is not by default)

![ah](http://puu.sh/htvsX/cab13fafeb.png)

Set that to true. Let me know if that fixes your issue (It was a little hard to understand what you mean from the issue description.. default relation is enemy)

[2015-04-28 03:58] NeThEr117 commented on #165
I modified the relationship default settings that are neutral, and with respect to the option I have selected but has not worked for me: /

http://i.gyazo.com/7f8677ea86bdcdede498dd5764a398d1.png
http://i.gyazo.com/08e097515755ae4a52950eaa6684f78f.png

[2015-04-28 04:01] nsporillo commented on #165
There is no option to allow neutrals to hurt someone in their own faction.
That is why the message says **declare them as an enemy**.

[2015-04-28 04:02] NeThEr117 commented on #165
You could add an option? in the future?

[2015-04-28 04:06] Lilmac12312 commented on #163
@HCFPvP Maybe @nsporillo will treat you like the rest once you gain some respect and quit evading your punishment.

[2015-04-28 04:06] nsporillo commented on #165
Not going to add an option for that. Declare the faction as an enemy...

If you set the default-relation in config.yml to true, then players wont need to explicitly declare factions as an enemy to pvp. It is by default.

Hardcore Factions (HCF) typically has the default relation set to enemy. This plugin is for HCF servers. It doesn't make sense to go against the idea of an HCF server and request

[2015-04-28 04:06] #165 closed

[2015-04-28 04:44] drtshock commented on #158
https://github.com/drtshock/Factions/blob/1.6.x/src/main/resources/config.yml#L87

[2015-04-28 04:47] drtshock commented on #161
ehh. Can you provide justification?

[2015-04-28 04:51] drtshock commented on #164
You were banned from my issue tracker for 1 month. Stop evading your ban or you will be reported to github.

[2015-04-28 04:51] #164 closed

[2015-04-28 04:53] drtshock commented on #163
So HCFPvP is just LOOOL evading his ban. Rebanned him.

RE this issue: Factions isn't an anti cheat plugin.

[2015-04-28 04:53] #163 closed

[2015-04-28 04:54] Doxify commented on #163
Yea, his server is called hcfpvp as well.

On Monday, April 27, 2015, Trent Hensler <notifications@github.com> wrote:

--
Website - www.hydrapvp.com
Twitter - twitter.com/hydrapvp
Contact E-Mail - admin@hydrapvp.net

[2015-04-28 05:02] drtshock commented on #157
All fixed :)

[2015-04-28 05:02] #157 closed

[2015-04-28 09:27] lyzha commented on #161
yes for example, the dtr tag for factionless people is fall to 0 which can be confusing for new players...

[2015-04-28 09:28] lyzha commented on #162
You're right Quizzes :)

[2015-04-28 09:32] lyzha commented on #158
http://prntscr.com/6z2vhx I mean translate this online tag

[2015-04-28 09:42] lyzha opened #166 "F status"
It seems like when it try to f status i can online get my status which is dumb because i obviously know if i'm online or offline (http://prntscr.com/6z2xl8) and i was thinking making 2 differents messages when someones is offline and online
For example i /f status player1 which is oline i get the message "Player 1 is online"
and i /f status a player2 which is offline  and i get "player 2 is offlin

[2015-04-28 11:49] MoeXIV commented on #164
LOOOOOL

[2015-04-28 11:52] MoeXIV commented on #161
True. Instead of having that there, it could say something such as "Type /f create to start" or some shit :)

[2015-04-28 11:54] MoeXIV commented on #158
That's what Lang.YML is for. Take a look at it first.

[2015-04-28 13:53] nsporillo commented on #158
@MoeXIV @drtshock it's hardcoded, it can't be changed in the lang. This is a legit issue.

[2015-04-28 14:06] nsporillo commented on #161
Could just change code to let you change the 0 for facionless players dtr to like "Nil" or something.

Complicating the scoreboards for something so very minor is not good justification

[2015-04-28 16:52] drtshock commented on #161
I agree with Nick. The justification given isn't enough to warrant us adding another scoreboard handler. We can however, add another option to show something else for DTR as well as something else instead 'factionless' if the player doesn't have a faction.

[2015-04-28 16:53] drtshock commented on #158
Ah. Apparently this isn't downstream yet. My bad :)

[2015-04-28 18:00] MoeXIV commented on #161
That works! I like it.

@drtshock when do you think these features will be added to FactionsUUID, such as the new scoreboard features and custom f shows. I really would like to see it soon, and can you not just copy the code over?

[2015-04-28 18:20] nsporillo commented on #161
@MoeXIV Isn't as easy as that, HCF currently uses a new method of handling variables which is elegant, but not necessarily something you transplant into UUID without something likely breaking.

I'm going to work on this *someday*, but now my focus is HCF. Not sure if anyone else is going to want to work on this either.

The customization of /f show, /f list, and the /f help is one of the star feat

[2015-04-28 22:17] ArchDaWiz opened #167 "f stuck"
With f stuck, I'm using build 45 and instead of teleporting the player to a safe place, it teleports them (sometimes) into bases.

I think the way this needs to become fixed is by making sure the player is teleported somewhere in wilderness.

[2015-04-28 22:18] ArchDaWiz commented on #37
:+1: @nsporillo I think this should also be added.

[2015-04-28 22:19] ArchDaWiz commented on #144
Make this confiruable. My server has this already fixed and I don't want any interference.

[2015-04-28 22:26] ArchDaWiz commented on #137
@nsporillo Make this configurable. Subclaims are a good idea, but i dont want it on my server. I might enable later, but for now, I see it ruining the point of "hardcore factions".

[2015-04-28 22:42] nsporillo commented on #167
![fuckoff](http://puu.sh/huryw/4e38e02a7d.png)

What, does your server not have this fixed yet? So I should fix this and not someone elses issue?

[2015-04-28 22:46] ArchDaWiz commented on #167
@nsporillo That is unrelated to this topic. I asked you to make it configurable.

[2015-04-28 22:48] ArchDaWiz commented on #167
Update:
Make sure it isn't just some random wildness location. It should be like on the border of the claim there in next to wilderness. But wilderness is the key thing in this.

[2015-04-28 22:59] nsporillo commented on #167
@ArchDaWiz it's not unrelated to this topic, you're on your 3rd account demanding I fix bugs *just* for you. You paid $30 for a plugin that is **not just for you**.

Going out of your way to request something that will obviously be configurable to be configurable is ignorant and annoying. We're tired of dealing with you on this tracker and asked you stay off it for a month but apparently that is t

[2015-04-28 23:04] nsporillo commented on #160
Going to convert this ticket into a request for the minimal-f-show feature to come back (not enabled by default)

[2015-04-28 23:16] nsporillo commented on #166
@lyzha
/f status takes no arguments, it only displays the status of your faction.

/f show can be used for other factions.

[2015-04-28 23:43] lyzha commented on #158
:)

[2015-04-28 23:46] lyzha commented on #166
Alright but what about the second part of the suggestion ? Do you think its easy enough ?

[2015-04-28 23:46] ArchDaWiz commented on #167
@nsporillo My friend has a license, can I use his or do I have to buy 1?

[2015-04-28 23:52] nsporillo commented on #167
@ArchDaWiz what is the username on the jenkins

[2015-04-28 23:55] ArchDaWiz commented on #167
@nsporillo I don't have a license. I can buy one, but I thought I can ask questions on my friends behalf.

1 more question. I'll be able to buy a license in 2 days. Can I post some bugs for you guys to fix, but then you put "No License" till I buy it? I'd like to report 2 more bugs.

[2015-04-28 23:56] nsporillo commented on #167
@ArchDaWiz who is your friend?

[2015-04-28 23:56] ArchDaWiz commented on #167
@nsporillo Jake.

[2015-04-28 23:56] Doxify commented on #167
It's temptingmc...

that'd be my best guess.

[2015-04-28 23:57] ArchDaWiz commented on #167
@nsporillo Once he comes online, I'll ask for his jenk name.

[2015-04-28 23:59] nsporillo commented on #167
@Doxify that's why my snarky first reply.

@ArchDaWiz If you post issues without a license i'll just tag them as no license, or close them if needed.

[2015-04-29 00:16] lyzha opened #168 "Neutral issue"
When i try to neutral another faction i got that http://prntscr.com/6zcz1g

[2015-04-29 00:19] nsporillo commented on #168
What does this section of your config look like:

    max-relations:
      enabled: true
      ally: 2
      truce: 10
      neutral: -1
      enemy: 10

?

[2015-04-29 00:33] lyzha commented on #168
max-relations:
  enabled: true
  ally: 2
  truce: 0
  neutral: -1
  enemy: 0

[2015-04-29 00:35] ArchDaWiz commented on #167
@nsporillo Why are you guys being an ass to so many people? They bought your plugin for god sake. If anything, I want to not buy this anymore. 1st the kid who posted his opinion, then the other guy who asked to make something config. then I asked you guys to make something config. and now tamptingMC?

Anyways,
leave my bug posts open with no license attached until I buy a license (if I do). I'll k

[2015-04-29 00:45] nsporillo commented on #167
@ArchDaWiz "So many people" = one person who is multi-accounting on github to evade being blocked. Buying the plugin does not mean we need to put up with ridiculous issues and one user in particular who just insults everyones server and demands an in proportion level of support.

You made your account today, one day after this guy was just blocked again. First thing you do is go and do extremely s

[2015-04-29 00:49] ArchDaWiz commented on #167
@nsporillo relax man, this is minecraft.
just get ur stuff done whenever ur done :dancers:

[2015-04-29 01:03] MoeXIV opened #169 "Faction Color Variable"
As the title states, I'm looking for a variable that basically color codes something the faction relationship.

For example if I do "/f show"
{color}<>&e-------{color}<>

That would make the <> green, and the "-----" yellow

[2015-04-29 03:49] nsporillo commented on #168
![one](http://puu.sh/huHsa/35ede828c4.png)
![two](http://puu.sh/huHsz/453337e500.png)

Using the configuration settings you provided, there does not seem to be any issues.

Not necessarily going to close this issue yet, because I do remember from when I was testing the relation-glitch fix, this happened when max relations were exceeded. However, I would assume since allies work fine, that neutrals

[2015-04-29 03:51] nsporillo commented on #166
@lyzha don't think it's a justifiable change, at least not with the information you provided..

Going to set this as closed for now, if you'd like you can continue and reply to this issue with a better explanation of what you're looking for. Language barriers may play a role here, and while it's unfortunate, we can't have incoherent issues clogging the tracker.

[2015-04-29 03:51] #166 closed

[2015-04-29 03:53] nsporillo commented on #127
@Lilmac12312 going to set this to closed since it seems like it's an temporary/isolated issue.

If this issue is still occuring on the very latest build, please make a new issue with the stacktrace in a gist. Thank you :smile:

[2015-04-29 03:53] #127 closed

[2015-04-29 03:55] nsporillo commented on #137
Have gotten pretty far on this, but there is still *a lot* to work on. In fact, not sure if it's even a good idea to still continue with this. Revamping Roles (and the commands / TL that correspond) entail only a portion of the changes. Will likely be awhile before this can be implemented correctly :cry:

[2015-04-29 03:59] nsporillo commented on #169
Ehm, going to have to ask for more information. It is not clear what needs to happen for whatever you suggested to be added / fixed / whatever.

Please elaborate :grin:

[2015-04-29 05:53] Lilmac12312 commented on #144
@ArchDaWiz Of course this would be configurable but obviously enabled by default to prevent it automatically.

[2015-04-29 09:44] Lilmac12312 opened #170 "Donkey glitch"
I was given information about being able to glitch into bases using donkeys / horses. Basically what happens is when you stand on a flat surface with an air space of about 3-4 blocks and try jump on the donkey/horse you get glitched into the base.

I'm not 100% if this exactly works as the information was passed on by a member who plays my server but I'll try re-duplicate the glitch.

[2015-04-29 11:09] MoeXIV commented on #160
YES!

[2015-04-29 11:10] MoeXIV commented on #169
It's basically a colour code, but the colour code changes based on your relationship with said faction.

[2015-04-29 11:47] MoeXIV commented on #137
If you do decide to implement this, make sure the chest cannot be emptied by hoppers.

I understand this is a hard thing to implement, but I assure you, this is a well wanted feature and I'm sure people will love it.

[2015-04-29 11:51] lyzha commented on #168
Yeah i tried later on and it worked but i had the issue idk why

[2015-04-29 13:18] #167 closed

[2015-04-29 13:19] drtshock commented on #167
And another account blocked. Reporting to github.

[2015-04-29 13:20] drtshock commented on #170
Reopen this when you can duplicate it. Preferably in a video that you can show us.

[2015-04-29 13:20] #170 closed

[2015-04-29 13:22] #168 closed

[2015-04-29 14:24] lyzha opened #171 "Infinite claims/power"
A faction classic faction could claim as much as they want, op faction for example :) When i say classic faction it's not safezone or warzone

[2015-04-29 15:08] Quizzes commented on #171
Make sure a operator/owner/admin is not in that faction. If i'm correct they can bypass the claim limit. I may be wrong.

[2015-04-29 15:09] Quizzes commented on #169
Or {faction-relation}, {color} could be used for other things. :+1:  Would like to see this added :hamburger:

[2015-04-29 15:40] nsporillo commented on #171
@Quizzes

    if (ownedLand >= myFaction.getMaxLand() && forFaction.isNormal()) {
            error = P.p.txt.parse(TL.CLAIM_LIMIT.toString());

@lyzha is more or less looking for an API method to set a specific factions max land, which is missing from our current implementation.

[2015-04-29 15:42] nsporillo commented on #169
So if this variable was used and you executed */f show*, it'd use the member relation color.

If you did */f show* **test**, and **test** was an enemy, it'd use enemy relation color? etc..

[2015-04-29 15:48] nsporillo commented on #137
@MoeXIV thanks for the reminder, that slipped my mind. Still need to add lockette-esque signs or particle effects to the mod chests as well. It will be a great addition but it's a big update so it will take time to roll out correctly.

[2015-04-29 16:35] MoeXIV commented on #169
Yes

[2015-04-29 16:36] MoeXIV commented on #137
Sounds good +1